<div [ngClass]="{'gridContainer': this.layoutService.navigation !== navigationEnum.Menu || this.isMobile,
 'menuGridContainer': this.layoutService.navigation === navigationEnum.Menu && !this.isMobile}">
    <button *ngIf="textMode" class="buttonAsText clickableText menuItem mainPageSectionHeader globalHeaderItem" (click)="openMenu()">menu</button>
    <button *ngIf="!textMode" class="buttonAsText clickableText menuItem mainPageSectionHeader" (click)="openMenu()"><img *ngIf="!textMode" class="icon" src="assets/svg/menu.svg"></button>
    <div *ngIf="isMobile && layoutService.mobileMenuOpen" class="menuOverlay">      
      <app-menu-options [isMobile]="true" class="menuOptions"></app-menu-options>
    </div>
    <!--<div class="performanceState" *ngIf="deploymentService.performanceModeAvailable && globalService.globalVar.isGamePaused">
      <button (click)="togglePerformanceMode()">Perf Mode</button>
    </div>-->

    <div *ngIf="!(isMobile && layoutService.navigation === navigationEnum.Menu)" class="performanceState centerAlign">
      <span (click)="openZodiacPopover(zodiacPopover)" customToolTip class="headerTextItems globalHeaderItem"  [contentTemplate]="zodiacPopover"><img class="zodiacIcon filtered" [src]="getZodiacSign()"></span>
    </div>

    <button *ngIf="textMode && isMobile && layoutService.navigation === navigationEnum.Menu" class="buttonAsText clickableText performanceState mainPageSectionHeader globalHeaderItem" (click)="backToMainView()">back</button>    

    <div class="centerAlign gameState">
      <span class="unpauseItem" customToolTip [contentTemplate]="pausedPopover" *ngIf="globalService.globalVar.isGamePaused && !textMode"><img *ngIf="!textMode" class="icon" src="assets/svg/play.svg"></span>
      <button class="buttonAsText clickableText gameState" (click)="pauseGame()">
            <span class="pauseItem" customToolTip [contentTemplate]="unpausedPopover" *ngIf="!globalService.globalVar.isGamePaused  && !textMode"><img *ngIf="!textMode" class="icon" src="assets/svg/pause.svg"></span>

            <span class="headerTextItems clickableText globalHeaderItem" customToolTip [contentTemplate]="pausedPopover" *ngIf="globalService.globalVar.isGamePaused  && textMode">play</span>
            <span class="headerTextItems clickableText globalHeaderItem" customToolTip [contentTemplate]="unpausedPopover" *ngIf="!globalService.globalVar.isGamePaused  && textMode">pause</span>
        </button>        
    </div>    

    <div customToolTip [contentTemplate]="gameSpeedPopover" class="extraTimeItem centerAlign" [ngClass]="{'extraSpeedDisabled': !this.globalService.globalVar.extraSpeedEnabled}">
      <button class="buttonAsText clickableText globalHeaderItem normalFontSize" (click)="toggleExtraSpeed()">
        <span class="headerTextItems clickableText globalHeaderItem" *ngIf="!isMobile">game speed: {{this.globalService.globalVar.extraSpeedEnabled ? "2x" : "1x"}}</span>
        <span class="headerTextItems clickableText globalHeaderItem" *ngIf="isMobile">{{this.globalService.globalVar.extraSpeedEnabled ? "2x" : "1x"}} <img class="icon" src="assets/svg/clock.svg"></span>
      </button>
    </div>

    <div class="storyItem">        
      <button class="storyButton buttonAsText clickableText" (click)="openLog(logContent)">
        <img *ngIf="!textMode" class="icon" src="assets/svg/document.svg">
        <span class="headerTextItems clickableText globalHeaderItem" *ngIf="textMode">log</span>
      </button>
    </div>
</div>

<ng-template #gameSpeedPopover>
  <div *ngIf="!isMobile">
    Click to toggle between 1x and 2x game speed.
  </div>
  <div *ngIf="isMobile">
    Tap to toggle between 1x and 2x game speed.
  </div>
</ng-template>

<ng-template #pausedPopover>
    <div *ngIf="!isMobile">
      The game is paused. Click or press the <span [innerHtml]="getPauseKeybindKey()"></span> key to unpause.
    </div>
    <div *ngIf="isMobile">
      The game is paused. Tap to unpause.
    </div>
  </ng-template>

  <ng-template #unpausedPopover>
    <div *ngIf="!isMobile">
      The game is playing. Click or press the <span [innerHtml]="getPauseKeybindKey()"></span> key to pause.
    </div>
    <div *ngIf="isMobile">
      The game is playing. Tap to pause.
    </div>
  </ng-template>

  <ng-template #extraTimePopover>
    <div>
      The amount of banked time you've gained while away from the game. While this is available, the game will run at 2x the speed. Click to toggle on or off.
    </div>
  </ng-template>
  
  <ng-template #zodiacPopover>
    <div>
      Zodiac: <img class="icon filtered" [src]="getZodiacSign()"> ({{getZodiacName()}})
      <br/>
      Duration: {{getZodiacStartDate()}} to {{getZodiacEndDate()}}
      <hr/>
      Bonus Gods: <span [innerHTML]="getBonusGods()"></span>
      <br/>
      These gods give characters 20% additional primary stats when equipped, receive 20% extra XP, and gain 20% additional Chthonic Power when reset. <span *ngIf="anyBonusGodsHidden()">Continue progressing through the story to unlock hidden gods.</span>
      <br/>
      <!--Name of Trial is active-->
    </div>
  </ng-template>

  <ng-template #logContent>
    <div>
      <app-log-view></app-log-view>
    </div>
  </ng-template>