<div *ngIf="expandedView" class='alchemyInfo'>
    <span customToolTip [contentTemplate]="maxLevelPopover">Level {{getLevel()}}</span>
    <br />
    <span *ngIf="!atMaxLevel()">{{getExp() | number : '1.0-0'}} / {{getExpToNextLevel() | number : '1.0-0'}} XP to Level
        {{getLevel() + 1}}</span>
    <span *ngIf="atMaxLevel()">MAX</span>
    <br />
    <br />
</div>

<div *ngIf="creatingRecipe()">
    <span class='offsetWidth'></span><span class="s4Heading">{{getCreatingRecipeName()}}</span><span class="offsetWidth"
        *ngIf="this.getTotalAmountToCreate() > 1">&nbsp;<i>({{this.getAmountCreated() +
            1}} of {{this.getTotalAmountToCreate()}})</i></span>
    <br />
    <mat-progress-bar *ngIf="notLowPerformanceMode()" mode="determinate" [value]="getStepProgress()"
        class="jewelcrafting-progress centeredBar removeAnimation removeTransition" [ngClass]="{'highBar shortenedWidth': expandedView}">
    </mat-progress-bar>
    <div *ngIf="!notLowPerformanceMode()" class="textCentered bold jewelcraftingText">
        {{getStepProgress() | number : '1.0-0'}}%
    </div>
    <span><i>({{getTimeRemaining()}} remaining)</i></span>
</div>
<div *ngIf="!creatingRecipe()">
    <strong>Not Currently Crafting</strong>
</div>
<br />
<button class="buttonStyled" (click)="openProfession(jewelcraftingRecipeBook)">Open Recipe Book</button>

<ng-template #jewelcraftingRecipeBook>
    <div>
        <app-jewelcrafting-view></app-jewelcrafting-view>
    </div>
</ng-template>

<ng-template #maxLevelPopover>
    <div>
        <span class="description">Level {{getLevel()}} / {{getMaxLevel()}}</span>
    </div>    
</ng-template>