<div *ngIf="character !== undefined" class="characterInfo" (click)='battleService.useBattleItemOnCharacter(character)' [ngClass]="{'characterTargeted': targetCharacterWithItem(character)}" >
    <span class="s2Heading">{{character.name}} </span>    
    <br />
    <br />
    <div class="flex">
        <mat-progress-bar mode="determinate" [value]="getCharacterHpPercent(character)"
            class="green-progress characterBar">
        </mat-progress-bar> <span class="hpMpText">{{character.battleStats.currentHp | number : '1.0-0'}} /
            {{character.battleStats.maxHp | number : '1.0-0'}}</span>
    </div>
    <div>
        <app-status-effect-view [character]="character"></app-status-effect-view>
    </div>
    
</div>