.characterInfo {
    height: 100%;
    /* needs to match item targeting below */
    border: 2px solid var(--background-default);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.relativePosition {
    position: relative;
}*/

.characterTargeted:hover {
    border: 2px solid red;
}

.characterBar {
    width: 71%;
    margin-right: .5rem;
    display: inline-block;
    /*position: absolute;*/
}

.hpMpText {
    font-size: .8rem;
    font-weight: bold;
    /*position: absolute;
    right: .25rem;*/
}

.staggerBar {
    width: 50%;
    margin-right: .5rem;
    display: inline-block;
}

.staggerText {
    font-size: .75rem;
    font-weight: bold;
}


.mat-progress-bar-element,
.mat-progress-bar {
    height: 1rem !important;
}

.flex {
    display: flex;
}

.enemy {
    margin-top: .7rem;
    display: grid;
    grid-template-columns: 80% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBar hpAmount";
}

.boss {
    margin-top: .7rem;
    display: grid;
    grid-template-columns: 90% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBar hpAmount";
}

.boss .characterBar, .enemy .characterBar {
    width: 95% !important;
}

.hpBarSpace {
    grid-area: hpBar;
}

.hpAmount {
    grid-area: hpAmount;
}

.hpBarGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBarSlot";
}

.hpBar {
    grid-area: hpBarSlot;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.statColumn1 {
    margin-right: .5rem;
}

.enemyName {
    font-variant: small-caps;
}

.barrier {
    color: var(--barrierColor);
}