.characterInfo {
    height: 100%;
    /* needs to match item targeting below */
    border: 2px solid var(--background-default);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.relativePosition {
    position: relative;
}*/

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.characterTargeted:hover {
    border: 2px solid red;
}

.characterTargetedAdventurer:hover {
    border: 2px solid var(--adventurerColor);
}

.characterTargetedArcher:hover {
    border: 2px solid var(--archerColor);
}

.characterTargetedWarrior:hover {
    border: 2px solid var(--warriorColor);
}

.characterTargetedPriest:hover {
    border: 2px solid var(--priestColor);
}

.characterTargetedMonk:hover {
    border: 2px solid var(--monkColor);
}

.characterTargetedThaumaturge:hover {
    border: 2px solid var(--thaumaturgeColor);
}

.characterTargetedAll:hover {    
    border: 2px solid;
    border-image:  linear-gradient(to right, var(--adventurerColor) 25%, var(--archerColor) 25%, var(--archerColor) 50%,
    var(--warriorColor) 50%, var(--warriorColor) 75%, var(--priestColor) 75%) 5;
}

.characterBar {
    width: 69%;
    margin-right: .5rem;
    display: inline-block;
    height: 1rem;
    /*position: absolute;*/
}

.healthName {
    color: #07ba13;
    margin-right: .5rem;
}

.lowPerfHpMpText {
    font-size: 1rem;
    font-weight: bold;
}

.hpMpText {
    font-size: .7925rem;
    font-weight: bold;
    /*position: absolute;
    right: .25rem;*/
}

.kod {
    color: var(--kod-character);
}

.targetSpace {
    width: calc(var(--s4-size) * 2 + .5rem);
    align-self: center;
}

.secondTarget {
    margin-left: .25rem;
}

.mat-progress-bar-element,
.mat-progress-bar {
    height: 1rem !important;
}

.flex {
    display: flex;
}

.spaceBetween {
    width: 100%;
    justify-content: space-between;
}

.name {
    height: calc(var(--s2-size) + .2rem);
}

.smallText {
    font-size: var(--e2-size) !important;
}

.verySmallText {
    font-size: var(--e3-size) !important;
}

.extremelySmallText {
    font-size: var(--e4-size) !important;
}

.targetIcon {
    width: var(--s4-size);
    vertical-align: middle;
}

.enemy {
    margin-top: .7rem;
    display: grid;
    grid-template-columns: 69% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBar hpAmount";
}

.boss {
    margin-top: .7rem;
    display: grid;
    grid-template-columns: 83.5% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBar hpAmount";
}

.boss .characterBar,
.enemy .characterBar {
    width: 97.5% !important;
}

.hpBarSpace {
    grid-area: hpBar;
}

.hpAmount {
    grid-area: hpAmount;
}

.hpBarGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
        "hpBarSlot";
}

.hpBar {
    grid-area: hpBarSlot;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.statColumn1 {
    margin-right: .5rem;
}

.enemyName {
    font-variant: small-caps;
}

.barrier {
    color: var(--barrierColor);
}

.statValue {
    vertical-align: middle;
}

.enemyHpPercentMarginRight {
    margin-right: 1rem;
}

@media (max-width: 800px) {
    .characterBar {
        width: 62.75%;
    }

    .enemy {
        grid-template-columns: 62.75% 1fr;
    }

    .boss {
        grid-template-columns: 80.25% 1fr;
    }

    .hpMpText {
        font-size: .9rem;
    }

    /*.fullHeight {
        height: 100%;
    }*/

    .characterTargeted:hover,
    .characterTargetedAdventurer:hover,
    .characterTargetedArcher:hover,
    .characterTargetedWarrior:hover,
    .characterTargetedPriest:hover,
    .characterTargetedAll:hover {
        border: 2px solid var(--background-default);
    }
}