<div *ngIf="character !== undefined" class="characterInfo"
   (click)="useBattleItemOnCharacter(character); characterTargetEnemy(character);" [ngClass]="getTargetClass()">
    <span class="flex spaceBetween">
        <span class="targetSpace" *ngIf="isBoss">
        </span>
        <span #enemyNameContainer class="s2Heading name" customToolTip [tooltipDirection]="tooltipDirection"
            [contentTemplate]="enemyPopover"> 
            <span #enemyName>
                {{character.name}}                 
            </span></span>
        <span class="targetSpace">
            <img *ngIf="characterTargeting" class="targetIcon" [src]="getFirstCharacterTargeting()">
            <img *ngIf="bothCharactersTargeting" class="targetIcon secondTarget" [src]="getSecondCharacterTargeting()">
        </span>
    </span>
    <div [ngClass]="{'boss': isBoss, 'enemy': !isBoss}">
        <div class="hpBarSpace hpBarGrid">
            <mat-progress-bar mode="determinate" [value]="getCharacterHpPercent(character)"
                class="green-progress characterBar hpBar" [ngClass]="{'removeAnimation': showNewEnemyGroupAnimation }">
            </mat-progress-bar>
            <mat-progress-bar *ngIf="getCharacterBarrierValue(character) > 0" mode="determinate"
                [value]="getCharacterBarrierPercent(character)" class="barrier-progress characterBar hpBar"
                [ngClass]="{'removeAnimation': showNewEnemyGroupAnimation }">
            </mat-progress-bar>
        </div>
        <span class="hpMpText hpAmount"><span [ngClass]="{'barrierText': getCharacterBarrierValue(character) > 0}">{{getCharacterCurrentHp()}}</span> /
            {{getCharacterMaxHp()}}<br /></span>
    </div>
    <div>
        <app-status-effect-view [character]="character"></app-status-effect-view>
    </div>
</div>

<ng-template #enemyPopover>
    <div>
        <span class="s2Heading">{{character.name}}</span>
        <hr />
        <div *ngIf="this.defeatCount < this.utilityService.killCountDisplayEnemyStatsAbilities">
            Defeat {{this.utilityService.killCountDisplayEnemyStatsAbilities - this.defeatCount}} more times for more
            info.
        </div>
        <div *ngIf="this.defeatCount >= this.utilityService.killCountDisplayEnemyStatsAbilities">
            <div class="stats">
                <div class="statColumn1">
                    <span class='statLabel'>Attack:</span> {{character.battleStats.attack}}
                    <br />
                    <span class='statLabel'>Agility:</span> {{character.battleStats.agility}}
                    <br />
                    <span class='statLabel'>Luck:</span> {{character.battleStats.luck}}
                </div>
                <div class="statColumn2">
                    <span class='statLabel'>Max HP:</span> {{character.battleStats.maxHp}}
                    <br />
                    <span class='statLabel'>Defense:</span> {{character.battleStats.defense}}
                    <br />
                    <span class='statLabel'>Resistance:</span> {{character.battleStats.resistance}}
                </div>
            </div>
            <br />
            <span *ngIf="character.abilityList.length === 0">No abilities.</span>
            <div *ngIf="character.abilityList.length > 0">
                <div *ngFor="let ability of character.abilityList">
                    <span class='statLabel'>{{ability.name}}</span> - <span
                        [innerHtml]='lookupService.getEnemyAbilityDescription(character, ability)'></span>
                </div>
            </div>
            <!-- abilities -->
            <hr />
            <div *ngIf="this.defeatCount < this.utilityService.killCountDisplayBasicEnemyLoot">
                Defeat {{this.utilityService.killCountDisplayBasicEnemyLoot - this.defeatCount}} more times for more
                info.
            </div>
            <div *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot">
                <span><span class='statLabel'>Coins:</span> {{character.coinGainFromDefeat}}</span>
                <br />
                <span *ngIf="character.loot.length === 0">No loot.</span>
                <div *ngIf="character.loot.length > 0">
                    <span class='statLabel'>Possible Loot:</span>
                    <div *ngFor="let loot of character.loot">
                        {{getLootItem(loot)}}
                    </div>
                </div>
            </div>
            <div
                *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot && this.defeatCount < this.utilityService.killCountDisplayFullEnemyLoot">
                <hr />
                Defeat {{this.utilityService.killCountDisplayFullEnemyLoot - this.defeatCount}} more times for more
                info.
            </div>
        </div>
    </div>
</ng-template>