<div class="gridContainer">
    <div class="characterInfo">
        <div class="baseInfo">
            <span class="s2Heading pageHeader" [ngClass]="getCharacterColor()">{{character.name}}</span>
            <br />
            <span>Level {{character.level}}</span>
            <br />
            <span>{{character.exp | number : '1.0-0'}} / {{character.expToNextLevel | number : '1.0-0'}} XP to Level
                {{character.level + 1}}</span>
        </div>

        <!-- TODO: ADD BACK WHENEVER YOU CAN CHANGE GODS -->
        <!--<div *ngIf="areGodsAvailable()" class="godInfo">
            <div class="leftAlignText">
                Equipped Gods:
                <br />
                <div *ngIf="character.assignedGod1 !== undefined && character.assignedGod1 !== noGod"
                    [ngClass]="lookupService.getGodColorClass(character.assignedGod1)">
                    <span class="s3Heading">{{getCharacterGodName(character, 1)}} </span>
                    <strong><span>Lv {{getCharacterGodLevel(character, 1)}}</span></strong>
                </div>
                <div *ngIf="character.assignedGod2 !== undefined && character.assignedGod2 !== noGod"
                    [ngClass]="lookupService.getGodColorClass(character.assignedGod2)">
                    <span class="s3Heading">{{getCharacterGodName(character, 2)}} </span>
                    <strong><span>Lv {{getCharacterGodLevel(character, 2)}}</span></strong>
                </div>
                <button>Change</button>
            </div>
        </div>-->
    </div>
    <div class="characterStats statContainer">
        <div class="equipment">
            <span class="sectionHeaderText sectionHeading">Equipment</span>
            <div class="sectionInfo">
                <app-current-equipment-view [characterType]="character.type" [canChangeEquipment]="true">
                </app-current-equipment-view>
            </div>
        </div>
        <div class="primaryStats">
            <div class="leftAlignText">
                <span class="sectionHeaderText sectionHeading">Primary Stats</span>
                <br />
                <div class="sectionInfo">
                    <span customToolTip [contentTemplate]="maxHpPopover"><strong>Max HP:</strong>
                        {{character.battleStats.maxHp | number : '1.0-0'}}</span>
                    <br />
                    <span customToolTip [contentTemplate]="attackPopover"><strong>Attack:</strong>
                        {{character.battleStats.attack | number : '1.0-0'}}</span>
                    <br />
                    <span customToolTip [contentTemplate]="agilityPopover"><strong>Agility:</strong>
                        {{character.battleStats.agility | number : '1.0-0'}}</span>
                    <br />
                    <span customToolTip [contentTemplate]="luckPopover"><strong>Luck:</strong>
                        {{character.battleStats.luck
                        | number : '1.0-0'}}</span>
                    <br />
                    <span customToolTip [contentTemplate]="defensePopover"><strong>Defense:</strong>
                        {{character.battleStats.defense | number : '1.0-0'}}</span>
                    <br />
                    <span customToolTip [contentTemplate]="resistancePopover"><strong>Resistance:</strong>
                        {{character.battleStats.resistance | number : '1.0-0'}}</span>
                </div>
            </div>
        </div>
        <div class="secondaryStats">
            <div class="leftAlignText">
                <span class="sectionHeaderText sectionHeading">Secondary Stats</span>
            </div>
        </div>
    </div>
    <div class="characterAbilities">
        <span class="sectionHeaderText sectionHeading">Character Abilities</span>
        <div class="sectionInfo">
            <div *ngFor="let ability of characterAbilityList">
                <strong [ngClass]="getAbilityColor(false)">{{ability.name}}</strong> - <span
                    [innerHtml]="lookupService.getCharacterAbilityDescription(ability.name, character, ability)"></span>
            </div>
        </div>
        <br />
        <div *ngIf="hasGodEquipped()">
            <span class="sectionHeaderText sectionHeading">Equipped God Abilities</span>
            <div class="sectionInfo">
                <div *ngFor="let ability of god1AbilityList">
                    <strong [ngClass]="getAbilityColor(true, 1)">{{ability.name}}</strong> - <span
                        [innerHtml]="getGodAbilityDescription(ability.name, character, 1, ability)"></span>
                </div>
                <div *ngFor="let ability of god2AbilityList">
                    <strong [ngClass]="getAbilityColor(true, 2)">{{ability.name}}</strong> - <span
                        [innerHtml]="getGodAbilityDescription(ability.name, character, 2, ability)"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #maxHpPopover>
    <div>
        The amount of damage you can take before dieing.
    </div>
</ng-template>

<ng-template #attackPopover>
    <div>
        Increase auto attack and ability damage.
    </div>
</ng-template>

<ng-template #defensePopover>
    <div>
        Reduce damage taken from enemy attacks.
    </div>
</ng-template>

<ng-template #agilityPopover>
    <div>
        Increase your auto attack speed.
    </div>
</ng-template>

<ng-template #luckPopover>
    <div>
        Increase your chance to deal a critical hit.
    </div>
</ng-template>

<ng-template #resistancePopover>
    <div>
        Reduce your chance to be critically hit by enemies.
    </div>
</ng-template>