.gridContainer {
    display: grid;    
    height: 100%;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto 1fr;
    row-gap: 1.75rem;
    justify-content: stretch;
    grid-template-areas:
        "characterInfo characterInfo characterInfo"
        "characterStats characterStats secondaryStats"
        "characterAbilities characterAbilities secondaryStats";
}

.characterInfo {
    grid-area: characterInfo;    
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        "god1Info baseInfo god2Info";
}

.characterStats {
    grid-area: characterStats;
}


.characterAbilities {
    grid-area: characterAbilities;
}

.baseInfo {
    text-align: center;
    grid-area: baseInfo;
}

.god1Info {
    grid-area: god1Info;    
}

.god2Info {
    grid-area: god2Info;    
}

.webVersion {
    display: inline-block;
}

.statContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        "equipment primaryStats";
}

.equipment {
    grid-area: equipment;
}

.primaryStats {
    grid-area: primaryStats;
    text-align: center;
}

.secondaryStats {
    grid-area: secondaryStats;
    text-align: center;
}

.leftAlignText {
    text-align: left;
    display: inline-block;
}

.statValue {
    vertical-align: middle;
}

.menuAdjustment {
    width: 90%;
}

.buttonOffset {
    margin-left: 2rem;
}

.changeButton {    
    vertical-align: middle;
}

.middleAlign {
    vertical-align: middle;
}

@media (max-width: 800px) {
    .webVersion {
        display: none;
    }

    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        row-gap: 1.75rem;
        grid-template-areas:
            "characterInfo"
            "characterStats"
            "secondaryStats"
            "characterAbilities";
    }

    .secondaryStatColumns {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        grid-template-rows: auto;
        justify-content: stretch;
        grid-template-areas:
            "secondaryStatColumn1 secondaryStatColumn2";
    }

    .secondaryStatColumn1 {
        grid-area: secondaryStatColumn1;
    }

    .secondaryStatColumn2 {
        grid-area: secondaryStatColumn2;
    }
        
    .secondaryStats { 
        text-align: left;
    }
    
    .characterInfo {
        grid-area: characterInfo;    
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        justify-content: stretch;
        grid-template-areas:
            "god1Info baseInfo god2Info";
    }

    .dropdownIcon {
        height: 1rem;
    }
}