<div class="gridContainer">
    <div class="characterInfo">
        <div class="god1Info">
            <div *ngIf="isMobile && hasMoreThanOneCharacter()" class="centeredText">
                <button class="buttonStyled" (click)="traverseSubMenu(-1)"><img class="dropdownIcon"
                        src="assets/svg/uparrow.svg"></button>
            </div>
        </div>
        <div class="baseInfo">
            <span class="s2Heading pageHeader" [ngClass]="getCharacterColor()">{{character.name}}</span>
            <br />
            <span customToolTip class="buttonAsText clickableText" [tooltipDirection]="tooltipDirection" (click)="openPermanentStatBreakdown(permanentStatBreakdownContent)" [contentTemplate]="characterXpPopover">Level {{character.level}}</span>
            <br />
            <span customToolTip [tooltipDirection]="tooltipDirection" (click)="openPermanentStatBreakdown(permanentStatBreakdownContent)" [contentTemplate]="characterXpPopover" *ngIf="character.level < character.maxLevel">{{character.exp | number : '1.0-0'}} /
                {{character.expToNextLevel | number : '1.0-0'}} XP to Level
                {{character.level + 1}}</span>
            <span *ngIf="character.level === character.maxLevel">
                MAX
            </span>
            <br />
            <button *ngIf="otherClassesAvailable" class="changeButton buttonStyled"
                (click)="openChangeClassMenu(changeClassView)">Change Class</button>
        </div>
        <div class="god2Info">
            <div *ngIf="isMobile && hasMoreThanOneCharacter()" class="centeredText">
                <button class="buttonStyled" (click)="traverseSubMenu(1)"><img class="dropdownIcon"
                        src="assets/svg/dropdown.svg"></button>
            </div>
        </div>
    </div>
    <div class="characterStats statContainer">
        <div class="equipment">
            <span class="sectionHeaderText sectionHeading middleAlign">Equipment</span>
            <span>
                <button class="changeButton buttonStyled buttonOffset"
                    (click)="openEquipmentModal(equipmentModal)">Change <span
                        class='webVersion'>Equipment</span></button>
            </span>
            <div class="sectionInfo">
                <app-current-equipment-view [characterType]="character.type" [canChangeEquipment]="true">
                </app-current-equipment-view>
            </div>
        </div>
        <div class="primaryStats">
            <div class="leftAlignText">
                <span class="sectionHeaderText sectionHeading">Primary Stats</span>
                <br />
                <div class="sectionInfo">
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="maxHpPopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Max HP: </strong>
                        <span class="statValue">{{character.battleStats.maxHp | number : '1.0-0'}}</span></span>
                    <br />
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="attackPopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Attack: </strong>
                        <span class="statValue">{{character.battleStats.attack | number : '1.0-0'}}</span></span>
                    <br />
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="agilityPopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Agility: </strong>
                        <span class="statValue">{{character.battleStats.agility | number : '1.0-0'}}</span></span>
                    <br />
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="defensePopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Defense: </strong>
                        <span class="statValue">{{character.battleStats.defense | number : '1.0-0'}}</span></span>
                    <br />
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="luckPopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Luck: </strong>
                        <span class="statValue">{{character.battleStats.luck | number : '1.0-0'}}</span></span>
                    <br />
                    <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="resistancePopover">
                        <strong [ngClass]="getCharacterColor()" class="statLabel">Resistance: </strong>
                        <span class="statValue">{{character.battleStats.resistance | number : '1.0-0'}}</span></span>
                </div>
            </div>
        </div>

    </div>
    <div class="secondaryStats">
        <div class="leftAlignText">
            <span class="sectionHeaderText sectionHeading">Secondary Stats</span>
            <br />
            <div class="sectionInfo secondaryStatColumns">
                <div class="secondaryStatColumn1">
                    <span *ngIf="getHpRegenBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="hpRegenPopover"><strong [ngClass]="getCharacterColor()" class="statLabel">HP
                            Regen:</strong>
                        {{getHpRegenBonus() | number :
                        '1.0-2'}} HP /
                        5 seconds<br /></span>
                    <span *ngIf="getCriticalMultiplierBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="criticalMultiplierPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Critical
                            Damage Bonus:</strong>
                        {{(getCriticalMultiplierBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getAbilityCooldownReductionBonus() > 0" customToolTip
                        [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="abilityCooldownReductionPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Ability
                            Cooldown Reduction:</strong>
                        {{getAbilityCooldownReductionBonus() | number : '1.0-2'}}%<br /></span>
                        <span *ngIf="getAbilityCooldownReductionStartBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="abilityCooldownReductionStartPopover"><strong [ngClass]="getCharacterColor()"
                                class="statLabel">Ability Cooldown Reduction Entering Subzone:</strong>
                            {{(getAbilityCooldownReductionStartBonus() * 100) | number : '1.0-2'}}%<br /></span>
                        <span *ngIf="getAbilityCooldownReductionWithBuffsBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="abilityCooldownReductionWithBuffsPopover"><strong [ngClass]="getCharacterColor()"
                                class="statLabel">Ability Cooldown Reduction With Buffs:</strong>
                            {{(getAbilityCooldownReductionWithBuffsBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getAutoAttackCooldownBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="autoAttackCooldownReductionPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Auto
                            Attack Cooldown Reduction:</strong>
                        {{getAutoAttackCooldownBonus() | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getArmorPenetrationBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="armorPenetrationPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Armor Penetration:</strong>
                        {{(getArmorPenetrationBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getOverdriveGainBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="overdriveGainPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Overdrive Gain Bonus:</strong>
                        {{(getOverdriveGainBonus() * 100) | number : '1.0-2'}}%<br /></span>
                        <span *ngIf="getOverdriveGainFromAutoAttacksBonus() > 0" customToolTip
                            [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="overdriveGainFromAutoAttacksPopover"><strong [ngClass]="getCharacterColor()"
                                class="statLabel">Overdrive Gain From Auto Attacks Bonus:</strong>
                            {{(getOverdriveGainFromAutoAttacksBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getHealingReceivedBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="healingReceivedPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Healing Received Bonus:</strong>
                        {{(getHealingReceivedBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getHealingDoneBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="healingDonePopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Healing Done Bonus:</strong>
                        {{(getHealingDoneBonus() * 100) | number : '1.0-2'}}%<br /></span>
                        <span *ngIf="getDebuffDurationBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="debuffDurationPopover"><strong [ngClass]="getCharacterColor()"
                                class="statLabel">Debuff Duration Bonus:</strong>
                            {{(getDebuffDurationBonus() * 100) | number : '1.0-2'}}%<br /></span>                    
                            <span *ngIf="getBuffDurationBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                                [contentTemplate]="buffDurationPopover"><strong [ngClass]="getCharacterColor()"
                                    class="statLabel">Buff Duration Bonus:</strong>
                                {{(getBuffDurationBonus() * 100) | number : '1.0-2'}}%<br /></span>                                                    
                    <span *ngIf="getTickFrequencyBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="tickFrequencyPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Tick Frequency Bonus:</strong>
                        {{(getTickFrequencyBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getAoeDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="aoeDamagePopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Multiple Target Damage Bonus:</strong>
                        {{(getAoeDamageBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getThornsBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="thornsPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Thorns:</strong>
                        {{(getThornsBonus() * 100) | number : '1.0-2'}}%<br /></span>                    
                        <span *ngIf="getElementResistanceReductionBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="elementResistanceReductionPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Enemy Elemental Resistance Reduction:</strong>
                        {{(getElementResistanceReductionBonus() * 100) | number : '1.0-2'}}%<br /></span>
                </div>
                <div class="secondaryColumn2">
                    <span *ngIf="getHolyDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="holyDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Holy Damage
                            Bonus:</strong> {{(getHolyDamageBonus() *
                        100)
                        | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getFireDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="fireDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Fire Damage
                            Bonus:</strong> {{(getFireDamageBonus() *
                        100)
                        | number : '1.0-2'}}%<br /></span>

                    <span *ngIf="getLightningDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="lightningDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Lightning
                            Damage Bonus:</strong>
                        {{(getLightningDamageBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getAirDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="airDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Air Damage
                            Bonus:</strong> {{(getAirDamageBonus() *
                        100) |
                        number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getWaterDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="waterDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Water Damage
                            Bonus:</strong> {{(getWaterDamageBonus()
                        *
                        100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getEarthDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="earthDamageBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Earth Damage
                            Bonus:</strong> {{(getEarthDamageBonus()
                        *
                        100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getHolyResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="holyResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Holy
                            Resistance Bonus:</strong>
                        {{(getHolyResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getFireResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="fireResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Fire
                            Resistance Bonus:</strong>
                        {{(getFireResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getLightningResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="lightningResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Lightning
                            Resistance Bonus:</strong>
                        {{(getLightningResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getAirResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="airResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Air Resistance
                            Bonus:</strong>
                        {{(getAirResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getWaterResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="waterResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Water
                            Resistance Bonus:</strong>
                        {{(getWaterResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                    <span *ngIf="getEarthResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="earthResistanceBonusPopover"><strong [ngClass]="getCharacterColor()"
                            class="statLabel">Earth
                            Resistance Bonus:</strong>
                        {{(getEarthResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                </div>
            </div>
        </div>
    </div>
    <div class="characterAbilities">
        <span class="sectionHeaderText sectionHeading middleAlign">Character Abilities</span>
        <button class="changeButton buttonStyled buttonOffset" *ngIf="overdriveAvailable"
            (click)="openOverdriveMenu(overdriveView)">Change Overdrive</button>
        <div class="sectionInfo">
            <div *ngFor="let ability of characterAbilityList">
                <strong class="statLabel" [ngClass]="getAbilityColor(false)" customToolTip [isLargeTooltip]="true"
                [tooltipDirection]="abilityTooltipDirection" [contentTemplate]="abilityPopover">{{ability.name}}</strong><span
                    class="statValue"> -
                    <span
                        [innerHtml]="lookupService.getCharacterAbilityDescription(ability.name, character, ability)"></span></span>

                        <ng-template #abilityPopover>
                            <div>
                                Ability Upgrade Level {{getAbilityUpgradeLevel(ability)}}
                                <hr/>
                                <div *ngIf="getAbilityEffectivenessIncrease(ability) !== 0 && getAbilityEffectivenessIncrease(ability) !== '0%'"><span class="statLabel">Effectiveness Increase: </span> <span
                            class="statValue" [innerHtml]="getAbilityEffectivenessIncrease(ability)"></span></div>
                            <div *ngIf="getSecondaryAbilityEffectivenessIncrease(ability) !== 0 && getSecondaryAbilityEffectivenessIncrease(ability) !== '0%'"><span class="statLabel">Additional Ability Effect Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getSecondaryAbilityEffectivenessIncrease(ability)"></span></div>
                            <div *ngIf="getAbilityEffectCountIncrease(ability) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                class="statValue" [innerHtml]="getAbilityEffectCountIncrease(ability)"></span></div>
                                <div *ngIf="getAbilityEffectMaxCountIncrease(ability) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                    class="statValue" [innerHtml]="getAbilityEffectMaxCountIncrease(ability)"></span></div>
                            <div *ngIf="getAbilityUserEffectEffectivenessIncrease(ability) !== 0 && getAbilityUserEffectEffectivenessIncrease(ability) !== '0%'"><span class="statLabel">Gained Effect Effectiveness Increase: </span> <span
                            class="statValue" [innerHtml]="getAbilityUserEffectEffectivenessIncrease(ability)"></span></div>
                            <div *ngIf="getAbilityUserEffectDurationIncrease(ability) !== 0"><span class="statLabel">Gained Effect Duration Increase: </span> <span
                            class="statValue" [innerHtml]="getAbilityUserEffectDurationIncrease(ability)"></span> seconds</div>
                            <div *ngIf="getAbilityTargetEffectEffectivenessIncrease(ability) !== 0 && getAbilityTargetEffectEffectivenessIncrease(ability) !== '0%'"><span class="statLabel">Targeted Effect Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getAbilityTargetEffectEffectivenessIncrease(ability)"></span></div>
                                <div *ngIf="getAbilityTargetEffectDurationIncrease(ability) !== 0"><span class="statLabel">Targeted Effect Duration Increase: </span> <span
                                class="statValue" [innerHtml]="getAbilityTargetEffectDurationIncrease(ability)"></span> seconds</div>
                                <div *ngIf="getAbilityCooldownReduction(ability) !== 0"><span class="statLabel">Cooldown Reduction: </span> <span
                                    class="statValue" [innerHtml]="getAbilityCooldownReduction(ability)"></span> seconds</div>
                            </div>
                        </ng-template>

            </div>
            <div *ngIf="overdriveAvailable">
                <strong class="statLabel" [ngClass]="getAbilityColor(false)">{{getOverdriveName()}}
                    (Overdrive)</strong><span class="statValue"> - <span
                        [innerHtml]="lookupService.getOverdriveDescription(character.overdriveInfo.selectedOverdrive)"></span>
                </span>
            </div>
        </div>
        <br />
        <div *ngIf="multipleGodsAvailable()">
            <span class="sectionHeaderText sectionHeading middleAlign">Equipped God Abilities</span>
            <button *ngIf="changeGodsAvailable" class="changeButton buttonStyled buttonOffset"
                (click)="openChangeGodMenu(changeGodView)">Change Gods</button>
            <div class="sectionInfo">
                <div *ngFor="let ability of god1AbilityList">
                    <strong class="statLabel" [ngClass]="getAbilityColor(true, 1)" customToolTip [isLargeTooltip]="true"
                    [tooltipDirection]="abilityTooltipDirection" [contentTemplate]="abilityPopover">{{ability.name}}</strong><span
                        class="statValue"> - <span
                            [innerHtml]="getGodAbilityDescription(ability.name, character, 1, ability)"></span></span>

                            <ng-template #abilityPopover>
                                <div>
                                    Ability Upgrade Level {{getAbilityUpgradeLevel(ability)}}
                                    <hr/>
                                    <div
                                    *ngIf="getGodPermanentAbilityEffectivenessIncrease(ability, 1) !== 0 && getGodPermanentAbilityEffectivenessIncrease(ability, 1) !== '0%'">
                                    <span class="statLabel">Permanent Effectiveness Increase: </span> <span class="statValue"
                                        [innerHtml]="getGodPermanentAbilityEffectivenessIncrease(ability, 1)"></span></div>
                                    <div *ngIf="getGodAbilityEffectivenessIncrease(ability, 1) !== 0 && getGodAbilityEffectivenessIncrease(ability, 1) !== '0%'"><span class="statLabel">Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityEffectivenessIncrease(ability, 1)"></span></div>
                                <div *ngIf="getGodSecondaryAbilityEffectivenessIncrease(ability, 1) !== 0 && getGodSecondaryAbilityEffectivenessIncrease(ability, 1) !== '0%'"><span class="statLabel">Additional Ability Effect Effectiveness Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodSecondaryAbilityEffectivenessIncrease(ability, 1)"></span></div>
                                <div *ngIf="getGodAbilityEffectCountIncrease(ability, 1) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityEffectCountIncrease(ability, 1)"></span></div>
                                    <div *ngIf="getGodAbilityEffectMaxCountIncrease(ability, 1) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                        class="statValue" [innerHtml]="getGodAbilityEffectMaxCountIncrease(ability, 1)"></span></div>
                                        <div
                                        *ngIf="getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 1) !== 0 && getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 1) !== '0%'">
                                        <span class="statLabel">Permanent Gained Effect Effectiveness Increase: </span> <span
                                            class="statValue"
                                            [innerHtml]="getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 1)"></span></div>
                                    <div *ngIf="getGodPermanentAbilityUserEffectDurationIncrease(ability,1) !== 0"><span class="statLabel">Permanent Gained
                                            Effect Duration Increase: </span> <span class="statValue"
                                            [innerHtml]="getGodPermanentAbilityUserEffectDurationIncrease(ability, 1)"></span> seconds</div>
                                        <div *ngIf="getGodAbilityUserEffectEffectivenessIncrease(ability, 1) !== 0 && getGodAbilityUserEffectEffectivenessIncrease(ability, 1) !== '0%'"><span class="statLabel">Gained Effect Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityUserEffectEffectivenessIncrease(ability, 1)"></span></div>
                                <div *ngIf="getGodAbilityUserEffectThresholdIncrease(ability, 1) !== 0 && getGodAbilityUserEffectThresholdIncrease(ability, 1) !== '0%'"><span class="statLabel">Gained Effect Threshold Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityUserEffectThresholdIncrease(ability, 1)"></span></div>
                                <div
                            *ngIf="getGodPermanentAbilityUserEffectThresholdIncrease(ability, 1) !== 0 && getGodPermanentAbilityUserEffectThresholdIncrease(ability, 1) !== '0%'">
                            <span class="statLabel">Permanent Gained Effect Threshold Increase: </span> <span class="statValue"
                                [innerHtml]="getGodPermanentAbilityUserEffectThresholdIncrease(ability, 1)"></span></div>
                                <div *ngIf="getGodAbilityUserEffectDurationIncrease(ability, 1) !== 0"><span class="statLabel">Gained Effect Duration Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityUserEffectDurationIncrease(ability, 1)"></span> seconds</div>
                                <div
                                *ngIf="getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 1) !== 0 && getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 1) !== '0%'">
                                <span class="statLabel">Permanent Targeted Effect Effectiveness Increase: </span> <span
                                    class="statValue"
                                    [innerHtml]="getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 1)"></span></div>
                            <div *ngIf="getGodPermanentAbilityTargetEffectDurationIncrease(ability, 1) !== 0"><span
                                    class="statLabel">Permanent Targeted Effect Duration Increase: </span> <span class="statValue"
                                    [innerHtml]="getGodPermanentAbilityTargetEffectDurationIncrease(ability, 1)"></span> seconds</div>
                                <div *ngIf="getGodAbilityTargetEffectEffectivenessIncrease(ability, 1) !== 0 && getGodAbilityTargetEffectEffectivenessIncrease(ability, 1) !== '0%'"><span class="statLabel">Targeted Effect Effectiveness Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityTargetEffectEffectivenessIncrease(ability, 1)"></span></div>
                                    <div *ngIf="getGodAbilityTargetEffectDurationIncrease(ability, 1) !== 0"><span class="statLabel">Targeted Effect Duration Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityTargetEffectDurationIncrease(ability, 1)"></span> seconds</div>
                                    <div *ngIf="getGodAbilityCooldownReduction(ability, 1) !== 0"><span class="statLabel">Cooldown Reduction: </span> <span
                                        class="statValue" [innerHtml]="getGodAbilityCooldownReduction(ability, 1)"></span> seconds</div>
                                </div>
                            </ng-template>
                </div>
                <div *ngFor="let ability of god2AbilityList">
                    <strong class="statLabel" [ngClass]="getAbilityColor(true, 2)" customToolTip [isLargeTooltip]="true"
                    [tooltipDirection]="abilityTooltipDirection" [contentTemplate]="abilityPopover">{{ability.name}}</strong><span
                        class="statValue"> - <span
                            [innerHtml]="getGodAbilityDescription(ability.name, character, 2, ability)"></span></span>

                            <ng-template #abilityPopover>
                                <div>
                                    Ability Upgrade Level {{getAbilityUpgradeLevel(ability)}}
                                    <hr/>
                                    <div
                            *ngIf="getGodPermanentAbilityEffectivenessIncrease(ability, 2) !== 0 && getGodPermanentAbilityEffectivenessIncrease(ability, 2) !== '0%'">
                            <span class="statLabel">Permanent Effectiveness Increase: </span> <span class="statValue"
                                [innerHtml]="getGodPermanentAbilityEffectivenessIncrease(ability, 2)"></span></div>
                                    <div *ngIf="getGodAbilityEffectivenessIncrease(ability, 2) !== 0 && getGodAbilityEffectivenessIncrease(ability, 2) !== '0%'"><span class="statLabel">Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityEffectivenessIncrease(ability, 2)"></span></div>
                                <div *ngIf="getGodSecondaryAbilityEffectivenessIncrease(ability, 2) !== 0 && getGodSecondaryAbilityEffectivenessIncrease(ability, 2) !== '0%'"><span class="statLabel">Additional Ability Effect Effectiveness Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodSecondaryAbilityEffectivenessIncrease(ability, 2)"></span></div>
                                <div *ngIf="getGodAbilityEffectCountIncrease(ability, 2) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityEffectCountIncrease(ability, 2)"></span></div>
                                    <div *ngIf="getGodAbilityEffectMaxCountIncrease(ability, 2) !== 0"><span class="statLabel">Effect Count Increase: </span> <span
                                        class="statValue" [innerHtml]="getGodAbilityEffectMaxCountIncrease(ability, 2)"></span></div>
                                        <div
                                        *ngIf="getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 2) !== 0 && getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 2) !== '0%'">
                                        <span class="statLabel">Permanent Gained Effect Effectiveness Increase: </span> <span
                                            class="statValue"
                                            [innerHtml]="getGodPermanentAbilityUserEffectEffectivenessIncrease(ability, 2)"></span></div>
                                    <div *ngIf="getGodPermanentAbilityUserEffectDurationIncrease(ability,2) !== 0"><span class="statLabel">Permanent Gained
                                            Effect Duration Increase: </span> <span class="statValue"
                                            [innerHtml]="getGodPermanentAbilityUserEffectDurationIncrease(ability, 2)"></span> seconds</div>
                                <div *ngIf="getGodAbilityUserEffectEffectivenessIncrease(ability, 2) !== 0 && getGodAbilityUserEffectEffectivenessIncrease(ability, 2) !== '0%'"><span class="statLabel">Gained Effect Effectiveness Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityUserEffectEffectivenessIncrease(ability, 2)"></span></div>
                                <div *ngIf="getGodAbilityUserEffectThresholdIncrease(ability, 2) !== 0 && getGodAbilityUserEffectThresholdIncrease(ability, 2) !== '0%'"><span class="statLabel">Gained Effect Threshold Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityUserEffectThresholdIncrease(ability, 2)"></span></div>
                                    <div
                            *ngIf="getGodPermanentAbilityUserEffectThresholdIncrease(ability, 2) !== 0 && getGodPermanentAbilityUserEffectThresholdIncrease(ability, 2) !== '0%'">
                            <span class="statLabel">Permanent Gained Effect Threshold Increase: </span> <span class="statValue"
                                [innerHtml]="getGodPermanentAbilityUserEffectThresholdIncrease(ability, 2)"></span></div>
                                <div *ngIf="getGodAbilityUserEffectDurationIncrease(ability, 2) !== 0"><span class="statLabel">Gained Effect Duration Increase: </span> <span
                                class="statValue" [innerHtml]="getGodAbilityUserEffectDurationIncrease(ability, 2)"></span> seconds</div>
                                <div
                                *ngIf="getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 2) !== 0 && getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 2) !== '0%'">
                                <span class="statLabel">Permanent Targeted Effect Effectiveness Increase: </span> <span
                                    class="statValue"
                                    [innerHtml]="getGodPermanentAbilityTargetEffectEffectivenessIncrease(ability, 2)"></span></div>
                            <div *ngIf="getGodPermanentAbilityTargetEffectDurationIncrease(ability, 2) !== 0"><span
                                    class="statLabel">Permanent Targeted Effect Duration Increase: </span> <span class="statValue"
                                    [innerHtml]="getGodPermanentAbilityTargetEffectDurationIncrease(ability, 2)"></span> seconds</div>
                                <div *ngIf="getGodAbilityTargetEffectEffectivenessIncrease(ability, 2) !== 0 && getGodAbilityTargetEffectEffectivenessIncrease(ability, 2) !== '0%'"><span class="statLabel">Targeted Effect Effectiveness Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityTargetEffectEffectivenessIncrease(ability, 2)"></span></div>
                                    <div *ngIf="getGodAbilityTargetEffectDurationIncrease(ability, 2) !== 0"><span class="statLabel">Targeted Effect Duration Increase: </span> <span
                                    class="statValue" [innerHtml]="getGodAbilityTargetEffectDurationIncrease(ability, 2)"></span> seconds</div>
                                    <div *ngIf="getGodAbilityCooldownReduction(ability, 2) !== 0"><span class="statLabel">Cooldown Reduction: </span> <span
                                        class="statValue" [innerHtml]="getGodAbilityCooldownReduction(ability, 2)"></span> seconds</div>
                                </div>
                            </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #overdriveView>
    <app-overdrive-view [character]="character"></app-overdrive-view>
</ng-template>

<ng-template #changeGodView>
    <app-change-god-view [character]="character"></app-change-god-view>
</ng-template>

<ng-template #changeClassView>
    <app-change-class-view [character]="character"></app-change-class-view>
</ng-template>

<ng-template #maxHpPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getMaxHpDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getMaxHpStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #attackPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAttackDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getAttackStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #agilityPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAgilityDescription(this.character)"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getAgilityStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #luckPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getLuckDescription(this.character)"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getLuckStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #defensePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getDefenseDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getDefenseStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #resistancePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getResistanceDescription(this.character)"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getResistanceStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #hpRegenPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHpRegenDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getHpRegenStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #criticalMultiplierPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getCriticalMultiplierDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getCriticalMultiplierStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #overdriveGainPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getOverdriveGainBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getOverdriveGainBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #healingReceivedPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHealingReceivedBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getHealingReceivedBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #debuffDurationPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getDebuffDurationBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getDebuffDurationBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #buffDurationPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getBuffDurationBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getBuffDurationBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #overdriveGainFromAutoAttacksPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getOverdriveGainFromAutoAttacksBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getOverdriveGainFromAutoAttacksBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #healingDonePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHealingDoneBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getHealingDoneBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #armorPenetrationPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getArmorPenetrationDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getArmorPenetrationStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAbilityCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getAbilityCooldownReductionStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #autoAttackCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAutoAttackCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getAutoAttackCooldownReductionStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionWithBuffsPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAbilityCooldownReductionWithBuffsBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getAbilityCooldownReductionWithBuffsStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionStartPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAbilityCooldownReductionStartBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getAbilityCooldownReductionStartStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #elementResistanceReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementResistanceReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementResistanceReductionStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #thornsPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getThornsBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getThornsBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #aoeDamagePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAoeDamageBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getAoeDamageBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #tickFrequencyPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getTickFrequencyBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getTickFrequencyBonusStatBreakdown(this.character)">

        </div>
    </div>
</ng-template>

<ng-template #holyDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #earthDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Earth')">

        </div>
    </div>
</ng-template>

<ng-template #airDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseStatBreakdown(this.character, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #holyResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #airResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #earthResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getElementalDamageResistanceStatBreakdown(this.character, undefined, 'Earth')">

        </div>
    </div>
</ng-template>

<ng-template #equipmentModal>
    <app-equipment-view [characterType]="this.character.type">
    </app-equipment-view>
</ng-template>


<ng-template #characterXpPopover>
    <div>
        <div class="statBreakdown" [innerHtml]="this.lookupService.getCharacterXpBreakdown(this.character)">
        </div>
        <hr/>
        <div>Click to see a breakdown of all permanent stats and abilities.</div>
    </div>
</ng-template>


<ng-template #permanentStatBreakdownContent>
    <div class="s4Heading">
        Permanent Level Upgrades
    </div>
    <hr/>
    <div [innerHtml]="this.getPermanentStatBreakdown()">
        
    </div>
</ng-template>