.buttonStyled {
  width: 75%;
  height: 3rem;
  cursor: pointer;
}

.shopOption {
  text-align: center;
}

.shopButtonText {
  font-size: 1.4rem;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-quarternary);
}

.tabItem:hover:not(.active) {
  background-color: var(--button-hover);
  /*color: var(--foreground-tertiary) !important;*/
}

.filterActive {
  color: var(--foreground-secondary) !important;
  font-weight: bold;
}

.active {
  background-color: var(--button-selected) !important;
  color: var(--foreground-secondary) !important;
}

.mat-dialog-container {
  padding: 0px;
}

.noMargin {
  margin: 0px;
  padding: 0px;
}

.tabItem {
  border-right: 1px solid rgba(255, 255, 255, .25);
}

table tr td:nth-child(2n) {
  border-right: none;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    width: 25%;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    vertical-align: top;
  }
  
  table tr td:last-child, table tr td:nth-last-child(2), table tr td:nth-last-child(3), table tr td:nth-last-child(4) {
    border-bottom: none;
  }

  table tr:nth-child(1) td:nth-child(-n+4) {
    border-top: none;
  }
  
  table tr td:nth-child(4n) { 
    border-right: none;
  }

  table tr td:nth-child(4n-3) { 
    border-left: none;
  }