<div class="shopOption" *ngFor="let option of shopOptions; let i = index">
  <button
    *ngIf="option.type === shopTypeEnum.General || option.type === shopTypeEnum.Crafter || option.type === shopTypeEnum.Traveler"
    class="buttonStyled shopButtonText" (click)="openShop(option, shopModal)">{{getOptionText(option.type)}}</button>
  <button *ngIf="option.type === shopTypeEnum.Trader" class="buttonStyled shopButtonText"
    (click)="openShop(option, traderModal)">{{getOptionText(option.type)}}
    <app-notification-icon *ngIf="showTraderSidequestNotification()" [isButton]="true"
      [notificationColor]="resetNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Alchemist" class="buttonStyled shopButtonText"
    (click)="openShop(option, alchemyModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="alchemy !== undefined && !alchemy.isUnlocked" [isButton]="true"
      [notificationColor]="professionNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Jewelcrafter" class="buttonStyled shopButtonText"
    (click)="openShop(option, jewelcraftingModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="jewelcrafting !== undefined && !jewelcrafting.isUnlocked" [isButton]="true"
      [notificationColor]="professionNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.ChthonicFavor" class="buttonStyled shopButtonText"
    (click)="openShop(option, chthonicFavorModal)">{{getOptionText(option.type)}}
    <app-notification-icon *ngIf="!globalService.globalVar.chthonicPowers.isChthonicResetUnlocked" [isButton]="true"
      [notificationColor]="resetNotification"></app-notification-icon>
  </button>
  <button *ngIf="option.type === shopTypeEnum.Story" class="buttonStyled shopButtonText" (click)="progressStory()">Speak
    to Hades <app-notification-icon [isButton]="true"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.StoryScene24" class="buttonStyled shopButtonText"
    (click)="progressStory()">Speak
    to the King <app-notification-icon [isButton]="true"></app-notification-icon></button>
    <button *ngIf="option.type === shopTypeEnum.AugeanStables" class="buttonStyled shopButtonText"
    (click)="openShop(option, augeanStablesModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="!augeanStablesCompleted()" [isButton]="true"
      [notificationColor]="sideQuestNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Coliseum" class="buttonStyled shopButtonText"
    (click)="openShop(option, coliseumModal)">
    {{getOptionText(option.type)}}</button>
  <br *ngIf="i < shopOptions.length-1" />
  <br *ngIf="i < shopOptions.length-1" />
</div>

<ng-template #shopModal>
  <table>
    <tr>
      <td class="clickableText tabItem" [ngClass]="{'active': isDisplayingNewItems }"
        (click)="toggleDisplayNewItemsView()">
        <button class="buttonAsText clickableText m1Heading" [ngClass]="{'active': isDisplayingNewItems }">New
          Items</button>
      </td>
      <td class="clickableText tabItem" [ngClass]="{'active': !isDisplayingNewItems }"
        (click)="toggleDisplayNewItemsView()">
        <button class="buttonAsText clickableText m1Heading" [ngClass]="{'active': !isDisplayingNewItems }">All
          Items</button>
      </td>
    </tr>
  </table>
  <hr class="noMargin" />
  <div class="filters">
    <span>Show:</span>
    <button class="buttonAsText clickableText m2Heading"
      [ngClass]="{'filterActive': !(filterEquipment || filterBattleItems) }" (click)="resetFilters()">All</button>
    <button class="buttonAsText clickableText m2Heading" [ngClass]="{'filterActive': filterEquipment }"
      (click)="changeFilter('Equipment')">Equipment</button>
    <button class="buttonAsText clickableText m2Heading" [ngClass]="{'filterActive': filterBattleItems }"
      (click)="changeFilter('Battle Items')">Battle Items</button>
    <button class="buttonAsText clickableText m2Heading" (click)="toggleSort()">&#8645;</button>
  </div>
  <hr class="noMargin" />
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #traderModal>
  <div class="centeredText">
    <span class="bold smallCaps">trader level {{getTraderLevel()}}</span>
    <br/>
    <span [innerHtml]="traderLevelUpText"></span>
    <br />
    <br />
    <strong><i><span [innerHtml]="traderLevelUpKillsRemainingText"></span></i></strong>    
  </div>
  <br/>
  <hr class="noMargin" />
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [excludeItemDescriptionLocationText]="true" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #augeanStablesModal>  
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #chthonicFavorModal>
  <app-chthonic-reset-view></app-chthonic-reset-view>
</ng-template>

<ng-template #alchemyModal>
  <app-alchemy-view></app-alchemy-view>
</ng-template>

<ng-template #jewelcraftingModal>
  <app-jewelcrafting-view></app-jewelcrafting-view>
</ng-template>

<ng-template #coliseumModal>
  <app-coliseum-view></app-coliseum-view>
</ng-template>