<div class="shopOption" *ngFor="let option of shopOptions; let i = index">
    <button *ngIf="option.type === shopTypeEnum.General || option.type === shopTypeEnum.Crafter" class="buttonStyled shopButtonText" (click)="openShop(option, shopModal)">{{getOptionText(option.type)}}</button>
    <button *ngIf="option.type === shopTypeEnum.Alchemist" class="buttonStyled shopButtonText" (click)="openShop(option, alchemyModal)">{{getOptionText(option.type)}}</button>
    <button *ngIf="option.type === shopTypeEnum.ChthonicFavor" class="buttonStyled shopButtonText" (click)="openShop(option, chthonicFavorModal)">{{getOptionText(option.type)}}</button>
    <br *ngIf="i < shopOptions.length-1"/>
    <br *ngIf="i < shopOptions.length-1"/>
</div>

<ng-template #shopModal>
    <table>
        <tr *ngFor="let cells of shopItemRows;">
            <td class="item" *ngFor="let c of cells;">
                <app-shopping-item-view [item]="c"></app-shopping-item-view>
            </td>
        </tr>
    </table>
  </ng-template>

  <ng-template #chthonicFavorModal>
    <app-chthonic-reset-view></app-chthonic-reset-view>
  </ng-template>

  <ng-template #alchemyModal>
    Coming Soon!
  </ng-template>