<div class="shopOption" *ngFor="let option of shopOptions; let i = index">
  <button
    *ngIf="option.type === shopTypeEnum.General || option.type === shopTypeEnum.Crafter || option.type === shopTypeEnum.Traveler"
    class="buttonStyled shopButtonText" (click)="openShop(option, shopModal)">{{getOptionText(option.type)}}</button>
  <button *ngIf="option.type === shopTypeEnum.Trader" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, traderModal)">{{getOptionText(option.type)}}
    <app-notification-icon *ngIf="showTraderSidequestNotification()" [isButton]="true"
      [notificationColor]="resetNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Alchemist" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, alchemyModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="alchemy !== undefined && !alchemy.isUnlocked" [isButton]="true"
      [notificationColor]="professionNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Jewelcrafter" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, jewelcraftingModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="jewelcrafting !== undefined && !jewelcrafting.isUnlocked" [isButton]="true"
      [notificationColor]="professionNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.ChthonicFavor" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, chthonicFavorModal)">{{getOptionText(option.type)}}
    <app-notification-icon *ngIf="!globalService.globalVar.chthonicPowers.isChthonicResetUnlocked" [isButton]="true"
      [notificationColor]="resetNotification"></app-notification-icon>
  </button>
  <button *ngIf="option.type === shopTypeEnum.OlympicFavor" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, olympicFavorModal)">{{getOptionText(option.type)}}
    <app-notification-icon *ngIf="!hasOlympicFavorBeenOpened()" [isButton]="true"
      [notificationColor]="resetNotification"></app-notification-icon>
  </button>
  <button *ngIf="option.type === shopTypeEnum.Story" class="buttonStyled shopButtonText" (click)="progressStory()">Speak
    to Hades <app-notification-icon [isButton]="true"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.StoryScene24" class="buttonStyled shopButtonText"
    (click)="progressStory()">Speak
    to the King <app-notification-icon [isButton]="true"></app-notification-icon></button>
    <button *ngIf="option.type === shopTypeEnum.StoryZeus" class="buttonStyled shopButtonText"
    (click)="progressStory()">Speak
    to Zeus <app-notification-icon [isButton]="true"></app-notification-icon></button>
    <button *ngIf="option.type === shopTypeEnum.Hephaestus" class="buttonStyled shopButtonText"
    (click)="handleHephaestusJewelcrafting(option)">Speak
    to Hephaestus <app-notification-icon [isButton]="true" [notificationColor]="professionNotification"></app-notification-icon></button>
    <button *ngIf="option.type === shopTypeEnum.IslandOfNaxos" class="buttonStyled shopButtonText"
    (click)="handleIslandOfNaxos(option)">Island of Naxos <app-notification-icon [isButton]="true" [notificationColor]="professionNotification"></app-notification-icon></button>
    <button *ngIf="option.type === shopTypeEnum.AugeanStables" class="buttonStyled shopButtonText"
    (click)="openShop(option, augeanStablesModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="!augeanStablesCompleted()" [isButton]="true"
      [notificationColor]="sideQuestNotification"></app-notification-icon></button>
      <button *ngIf="option.type === shopTypeEnum.CirceAlchemy" class="buttonStyled shopButtonText"
    (click)="openShop(option, circeAlchemyModal)">{{getOptionText(option.type)}} <app-notification-icon
      *ngIf="!circeAlchemyCompleted()" [isButton]="true"
      [notificationColor]="sideQuestNotification"></app-notification-icon></button>
  <button *ngIf="option.type === shopTypeEnum.Coliseum" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, coliseumModal)">
    {{getOptionText(option.type)}}</button>
    <button *ngIf="option.type === shopTypeEnum.Trials" class="buttonStyled shopButtonText" [ngClass]="{'stackedButtons': showAllShopOptions}"
    (click)="openShop(option, trialsModal)">
    {{getOptionText(option.type)}}</button>
  <br *ngIf="i < shopOptions.length-1" />
  <br *ngIf="i < shopOptions.length-1" />
</div>

<ng-template #shopModal>
  <table>
    <tr>
      <td class="clickableText tabItem" [ngClass]="{'active': isDisplayingNewItems }"
        (click)="toggleDisplayNewItemsView()">
        <button class="buttonAsText clickableText m1Heading" [ngClass]="{'active': isDisplayingNewItems }">New
          Items</button>
      </td>
      <td class="clickableText tabItem" [ngClass]="{'active': !isDisplayingNewItems }"
        (click)="toggleDisplayNewItemsView()">
        <button class="buttonAsText clickableText m1Heading" [ngClass]="{'active': !isDisplayingNewItems }">All
          Items</button>
      </td>
    </tr>
  </table>
  <hr class="noMargin" />
  <div class="filters">
    <span>Sort by:</span>
    <mat-radio-group class="sortOptions" (change)="setupDisplayShopItems()" [(ngModel)]="sortType" aria-label="Select a sorting option">
      <mat-radio-button [value]="4">Item Type</mat-radio-button>
      <mat-radio-button [value]="2">Name</mat-radio-button>
      <mat-radio-button [value]="3">Item ID</mat-radio-button>
    </mat-radio-group>
    <button class="buttonAsText clickableText m2Heading" (click)="toggleSort()">&#8645;</button>
    <button class="buttonAsText clickableText m2Heading" (click)="openFilterMenu(filterContent)"><img
      class="autoProgressIcon" src="assets/svg/gearTextColor.svg"></button>
  </div>
  <hr class="noMargin" />
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells; let i = index">
        <app-shopping-item-view [item]="c" [totalItemsInShop]="shopItems.length" [tooltipDirection]="getShopItemTooltipDirection(i)"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #traderModal>
  <div class="centeredText">
    <span class="bold smallCaps">trader level {{getTraderLevel()}}</span>
    <br/>
    <span [innerHtml]="traderLevelUpText"></span>
    <br />
    <br />
    <strong><i><span [innerHtml]="traderLevelUpKillsRemainingText"></span></i></strong>    
  </div>
  <br/>
  <hr class="noMargin" />
  <br/>
  <div class="textCentered">
    <span class="sectionHeaderText sectionHeading">crafting materials</span>
  </div>
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [excludeItemDescriptionLocationText]="true" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
<br/>
<br/>
<div *ngIf="traderJewelcraftingRows.length > 0">
  <div class="textCentered">
    <span class="sectionHeaderText sectionHeading">jewelcrafting</span>
  </div>
  <table>
    <tr *ngFor="let cells of traderJewelcraftingRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [excludeItemDescriptionLocationText]="true" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
  </div>
</ng-template>

<ng-template #augeanStablesModal>  
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #circeAlchemyModal>  
  <table>
    <tr *ngFor="let cells of shopItemRows;">
      <td class="item" *ngFor="let c of cells;">
        <app-shopping-item-view [item]="c" [totalItemsInShop]="shopItems.length"></app-shopping-item-view>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #chthonicFavorModal>
  <app-chthonic-reset-view></app-chthonic-reset-view>
</ng-template>

<ng-template #olympicFavorModal>
  <app-olympic-reset-view></app-olympic-reset-view>
</ng-template>

<ng-template #alchemyModal>
  <app-alchemy-view></app-alchemy-view>
</ng-template>

<ng-template #jewelcraftingModal>
  <app-jewelcrafting-view></app-jewelcrafting-view>
</ng-template>

<ng-template #coliseumModal>
  <app-coliseum-view></app-coliseum-view>
</ng-template>

<ng-template #trialsModal>
  <app-trials-view></app-trials-view>
</ng-template>

<ng-template #filterContent>
  <app-filter-items-view [dialogRef]="dialogRef" [prefix]="'shop'"></app-filter-items-view>
</ng-template>