<div class="equipmentItem">
    <div *ngIf="equipment === undefined">
        Unequipped
    </div>
    <div *ngIf="equipment !== undefined">        
        <span class="s4Heading" [class]="getEquipmentClass()">{{dictionaryService.getItemName(equipment.itemType)}}</span>
        <br />
        <span>{{lookupService.getEquipmentTypeName(equipment)}}</span>
        <br/>
        {{getStars()}}
        <hr class="miniHr" />
        <span [innerHtml]="equipmentStats"></span>
        <br/>
        <span [innerHtml]="equipmentEffects"></span>
    </div>
</div>