<div class='container'>
<div class="gameName" customToolTip [contentTemplate]="versionPopover" [tooltipDirection]="tooltipDirection">
    <span class="pageHeader gameTitle">Ballad of Heroes</span>
    <span class="subheader">v{{getVersion()}} beta</span>
</div>
<div class="links">
    <div class="rightAlign">            
        <span><a href="https://www.patreon.com/BalladOfHeroes" rel="noopener noreferrer" target="_blank">patreon</a> | <a href="https://discord.gg/gcRvF2AJGV" rel="noopener noreferrer" target="_blank">discord</a> <!-- *Bring this back as a form perhaps* | <a href="mailto:BalladOfHeroes@gmail.com">email</a>--></span>
    </div>
</div>
</div>


<!--
    <span class="version versionMargin clickableText" [ngbPopover]="latestVersionChangesContent"
                triggers="mouseenter:mouseleave" popoverClass="popoverClass" (click)="openChangeLog(content)">
                v{{ this.version }}
            </span>
-->

<ng-template #versionPopover>
    <div>
        This game is still in beta. At this point, all save data may eventually be wiped when version 1.0 is released.
    </div>
</ng-template>

<!--
    <ng-template #latestVersionChangesContent>
        <div class="popoverClass" [innerHTML]="getSanitizedHtml(latestVersionChanges)">            
        </div>
    </ng-template>
-->