.gameTitle {
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.2rem;
    margin-left: .5rem;
}

.subheader {
    font-weight: bold;
    vertical-align: bottom;
    font-size: .9rem;
    font-variant: small-caps;
    margin-left: .5rem;
}

.gameName
{
    width: fit-content;
}

.container {
    display: flex;
    justify-content: space-between;
}

.links {
    align-self: center;
    margin-right: .5rem;
}

a {
    font-variant: small-caps;
    font-weight: bold;
}

a:visited {
    color: var(--foreground-accent);
}

a:hover {
    color: var(--foreground-secondary) !important;
}

a:link {
    color: var(--foreground-quarternary);
}

.supportButton {
    color: var(--foreground-quarternary);
    font-variant: small-caps;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
}