<div class="battleUpdates" [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }">
    <div class="innerContainer" #scrollToTop [scrollTop]="getScrollHeight(scrollToTop)"
        [innerHtml]="this.displayGameUpdates()"></div>
    <button (click)="openGameLogEditor(gameLogEditorModal)" class="gameLogEditor gameLogButton showOnHover"><img
            class="settingsIcon icon" src="assets/svg/gear.svg"></button>
    <button *ngIf="displayScrollToBottom(scrollToTop)" (click)="skipToBottom(scrollToTop)"
        class="skipToBottom arrow gameLogButton"><img class="arrowDownIcon icon"
            src="assets/svg/arrowDown.svg"></button>
</div>

<ng-template #gameLogEditorModal>
    <app-game-log-editor></app-game-log-editor>
</ng-template>
