.settingsGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 50%;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    justify-content: stretch;
    grid-template-areas:
        "saveLoad settings";
}

.settings {
    grid-area: settings;
}

.saveLoad {
    grid-area: saveLoad;
}

.importExportDiv {
    width: 100%;
}

#importExport {
    width: 100%;
}

.importExportButtons, .flexBetween {
    display: flex;
    justify-content: space-between;
}

.twoColumn {
    width: 50%;
    display:inline-block;
}

@media (max-width: 800px) {
    .settingsGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        justify-content: stretch;
        grid-template-areas:
            "settings"
            "saveLoad";
    }
}