<div class="settingsGrid">
    <div class="settings">
        <span class="s4Heading smallCaps bold">Settings</span>
        <br />
        <br />
        <div class="twoColumn">
            <span class="smallCaps bold">story speed</span>
            <br />
            <mat-button-toggle-group [(ngModel)]="storyStyle" aria-label="Story Style" (change)="setStoryStyle()">
                <mat-button-toggle customToolTip [contentTemplate]="storyStylePausePopover"
                    [value]="storyStyleEnum.Pause">Pause</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Slow">Slow</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Medium">Medium</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Fast">Fast</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Skip">Skip</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="twoColumn">
            <span class="smallCaps bold">tooltip color theme</span>
            <br />
            <mat-button-toggle-group [(ngModel)]="tooltipTheme" aria-label="Tooltip Theme" (change)="setTooltipTheme()">
                <mat-button-toggle [value]="true">Dark</mat-button-toggle>
                <mat-button-toggle [value]="false">Light</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br *ngIf="isMobile" />
        <span *ngIf="isMobile">
            <mat-checkbox class="example-margin" [(ngModel)]="quickViewOverlayFlipped"
                (input)="quickViewOverlayFlippedToggle()">Flip Quick Link Area
            </mat-checkbox>
        </span>
        <br />
        <span>
            <mat-checkbox class="example-margin" [(ngModel)]="showPartyHpAsPercent"
                (input)="showPartyHpAsPercentToggle()">Show Party HP As Percent
            </mat-checkbox>
        </span>
        <br />
        <span>
            <mat-checkbox class="example-margin" [(ngModel)]="showEnemyHpAsPercent"
                (input)="showEnemyHpAsPercentToggle()">Show Enemy HP As Percent
            </mat-checkbox>
        </span>
        <br />
        <span>
            <mat-checkbox class="example-margin" [(ngModel)]="autoExportOnUpdate"
                (input)="autoExportOnUpdateToggle()">Automatically Export Data When Updating
            </mat-checkbox>
        </span> 
        <br />
        <br />
        <div>
            <div *ngIf="!isMobile" class="updateKeybinds twoColumn">
                <button class="buttonStyled" (click)="openKeybinds(keybindContent)">Update Keybinds</button>
            </div>            
            <div class="updateKeybinds twoColumn">
                <button class="buttonStyled" (click)="openKeybinds(quickViewOptionsContent)">Update Quick View
                    Options</button>
            </div>
            <div *ngIf="isMobile" class="updateKeybinds twoColumn">
                <button class="buttonStyled" (click)="openKeybinds(overlayNotificationsContent)">Update Overlay
                    Notifications</button>
            </div>
            <div *ngIf="isMobile" class="updateKeybinds twoColumn">
                <button class="buttonStyled" (click)="openKeybinds(gameLogContent)">Update Game Log</button>
            </div>
        </div>
        <br/>
        <div>
            <span class="s4Heading smallCaps bold">Advanced Settings</span>
            <br/>
            <div>
                <div class="twoColumn">
                    <span class="smallCaps bold">Offline Loading Time</span>
                    <br />
                    <mat-button-toggle-group [(ngModel)]="loadingTime" aria-label="Offline Loading Time"
                        (change)="setLoadingTime()">
                        <mat-button-toggle customToolTip [contentTemplate]="lowLoadingTimePopover"
                            [value]="utilityService.lowActiveTimeLimit">Low</mat-button-toggle>
                        <mat-button-toggle customToolTip [contentTemplate]="averageLoadingTimePopover"
                            [value]="utilityService.averageActiveTimeLimit">Average</mat-button-toggle>
                        <mat-button-toggle customToolTip [contentTemplate]="highLoadingTimePopover"
                            [value]="utilityService.highActiveTimeLimit">High</mat-button-toggle>
                        <mat-button-toggle customToolTip [contentTemplate]="veryHighLoadingTimePopover"
                            [value]="utilityService.veryHighActiveTimeLimit">Very High</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="twoColumn">
                    <span class="smallCaps bold">Loading Accuracy</span>
                    <br />
                    <mat-button-toggle-group [(ngModel)]="loadingAccuracy" aria-label="Loading Accuracy"
                        (change)="setLoadingAccuracy()">
                        <mat-button-toggle customToolTip [contentTemplate]="lowLoadingAccuracyPopover"
                            [value]="utilityService.lowLoadingAccuracy">Low</mat-button-toggle>
                        <mat-button-toggle customToolTip [contentTemplate]="averageLoadingAccuracyPopover"
                            [value]="utilityService.averageLoadingAccuracy">Average</mat-button-toggle>
                        <mat-button-toggle customToolTip [contentTemplate]="highLoadingAccuracyPopover"
                            [value]="utilityService.highLoadingAccuracy">High</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <br/>
            <div>
                <span class="smallCaps bold">Frames Per Second</span>
                <br />
                <mat-button-toggle-group [(ngModel)]="fps" aria-label="Fps" (change)="setFps()">
                    <mat-button-toggle customToolTip [contentTemplate]="lowFpsPopover"
                        [value]="utilityService.lowFps">Low</mat-button-toggle>
                    <mat-button-toggle customToolTip [contentTemplate]="averageFpsPopover"
                        [value]="utilityService.averageFps">Average</mat-button-toggle>
                    <mat-button-toggle customToolTip [contentTemplate]="highFpsPopover"
                        [value]="utilityService.highFps">High</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="saveLoad">
        <span class="s4Heading smallCaps bold">Save/Load</span>
        <br />
        <br />
        <div class="importExportDiv">
            <textarea (focus)="inTextbox()" (blur)="outOfTextbox()" id="importExport" name="importExport" rows="10"
                [(ngModel)]="importExportValue"></textarea>
            <div class="importExportButtons">
                <button class="buttonStyled" (click)="LoadGame()">
                    Import
                </button>
                <button class="buttonStyled" (click)="SaveGame()">
                    Export
                </button>
            </div>
            <br />
            <div class="importExportButtons">
                <div>
                    <button class="buttonStyled" (click)="LoadGameFromFile()">
                        Import from File
                    </button>
                    <input type='file' class="spaced" id="fileUpload" (change)="fileChanged($event)">
                </div>
                <button class="buttonStyled" (click)="SaveGameToFile()">
                    Export to File
                </button>
            </div>
        </div>
        <br />
        <br />
        <div class="codeRedemptionDiv">
            <span class="s4Heading smallCaps bold">Code Redemption</span>
            <br />
            <br />
            <div class="codeRedemption">
                <label for="codeRedemptionText">Code: </label>
                <input (focus)="inTextbox()" (blur)="outOfTextbox()" id="codeRedemptionText" type="text"
                    class="spaced codeRedemptionInput" [(ngModel)]="enteredRedemptionCode">
                <button class="screenMarginLeft buttonStyled" (click)="enterRedemptionCode()">
                    Enter
                </button>
            </div>
            <br />
        </div>
    </div>
</div>

<ng-template #keybindContent>
    <div>
        <app-update-keybinds-view></app-update-keybinds-view>
    </div>
</ng-template>

<ng-template #gameLogContent>
    <div>
        <app-game-log-editor></app-game-log-editor>
    </div>
</ng-template>

<ng-template #quickViewOptionsContent>
    <div>
        <app-quick-view-options></app-quick-view-options>
    </div>
</ng-template>

<ng-template #overlayNotificationsContent>
    <div>
        <app-overlay-notification-options></app-overlay-notification-options>
    </div>
</ng-template>

<ng-template #storyStylePausePopover>
    <div>
        Pause story scenes when they come up. To advance, press the continue button.
    </div>
</ng-template>

<ng-template #lowFpsPopover>
    <div>
        Run the game at 15 FPS.
    </div>
</ng-template>

<ng-template #averageFpsPopover>
    <div>
        Run the game at 30 FPS.
    </div>
</ng-template>

<ng-template #highFpsPopover>
    <div>
        Run the game at 60 FPS.
    </div>
</ng-template>

<ng-template #lowLoadingTimePopover>
    <div>
        Automate the game for up to 30 minutes of away time before starting to bank double speed time.
    </div>
</ng-template>

<ng-template #averageLoadingTimePopover>
    <div>
        Automate the game for up to 60 minutes of away time before starting to bank double speed time.
    </div>
</ng-template>

<ng-template #highLoadingTimePopover>
    <div>
        Automate the game for up to 120 minutes of away time before starting to bank double speed time.
    </div>
</ng-template>

<ng-template #veryHighLoadingTimePopover>
    <div>
        Automate the game for up to 240 minutes of away time before starting to bank double speed time.
    </div>
</ng-template>

<ng-template #lowLoadingAccuracyPopover>
    <div>
        Run the game in 10 second batches during offline time. This will reduce loading speed but also reduce accuracy.
    </div>
</ng-template>

<ng-template #averageLoadingAccuracyPopover>
    <div>
        Run the game in 5 second batches during offline time.
    </div>
</ng-template>

<ng-template #highLoadingAccuracyPopover>
    <div>
        Run the game in 2 second batches during offline time. This will increase loading speed but also increase
        accuracy.
    </div>
</ng-template>

<ng-template #confirmationBox>
    <app-confirmation-box [cancelOptionAvailable]="false" [confirmationText]="confirmationText"></app-confirmation-box>
</ng-template>