<div class="settingsGrid">
    <div class="settings">
        <span class="s4Heading smallCaps bold">Settings</span>
        <br/>
        <br/>
        <div>
            <span class="smallCaps bold">story speed</span>
            <br />
            <mat-button-toggle-group [(ngModel)]="storyStyle" aria-label="Story Style" (change)="setStoryStyle()">
                <mat-button-toggle customToolTip [contentTemplate]="storyStylePausePopover"
                    [value]="storyStyleEnum.Pause">Pause</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Slow">Slow</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Medium">Medium</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Fast">Fast</mat-button-toggle>
                <mat-button-toggle [value]="storyStyleEnum.Skip">Skip</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br/>
        <div>
            <span class="smallCaps bold">tooltip color theme</span>
            <br />
            <mat-button-toggle-group [(ngModel)]="tooltipTheme" aria-label="Tooltip Theme" (change)="setTooltipTheme()">
                <mat-button-toggle [value]="true">Dark</mat-button-toggle>
                <mat-button-toggle [value]="false">Light</mat-button-toggle>                
            </mat-button-toggle-group>
        </div>
        <br *ngIf="isMobile" />
        <span *ngIf="isMobile">
            <mat-checkbox class="example-margin" [(ngModel)]="quickViewOverlayFlipped"
                (input)="quickViewOverlayFlippedToggle()">Flip Quick Link Area
            </mat-checkbox>
        </span>
        <br />
        <div>            
            <div *ngIf="!isMobile" class="updateKeybinds">
                <button class="buttonStyled" (click)="openKeybinds(keybindContent)">Update Keybinds</button>
            </div>
            <div *ngIf="isMobile" class="updateKeybinds">
                <button class="buttonStyled" (click)="openKeybinds(overlayNotificationsContent)">Update Overlay
                    Notifications</button>
            </div>
            <div *ngIf="isMobile" class="updateKeybinds">
                <button class="buttonStyled" (click)="openKeybinds(gameLogContent)">Update Game Log</button>
            </div>
            <div class="updateKeybinds">
                <button class="buttonStyled" (click)="openKeybinds(quickViewOptionsContent)">Update Quick View
                    Options</button>
            </div>
        </div>
    </div>
    <div class="saveLoad">
        <span class="s4Heading smallCaps bold">Save/Load</span>
        <br/>
        <br />
        <div class="importExportDiv">
            <textarea id="importExport" name="importExport" rows="10" [(ngModel)]="importExportValue"></textarea>
            <div class="importExportButtons">
                <button class="buttonStyled" (click)="LoadGame()">
                    Import
                </button>
                <button class="buttonStyled" (click)="SaveGame()">
                    Export
                </button>
            </div>
            <br />
            <div class="importExportButtons">
                <div>
                    <button class="buttonStyled" (click)="LoadGameFromFile()">
                        Import from File
                    </button>
                    <input type='file' class="spaced" id="fileUpload" (change)="fileChanged($event)">
                </div>
                <button class="buttonStyled" (click)="SaveGameToFile()">
                    Export to File
                </button>
            </div>
        </div>
        <br />
        <br />
        <div class="codeRedemptionDiv">
            <span class="s4Heading smallCaps bold">Code Redemption</span>
            <br />
            <br />
            <div class="codeRedemption">
                <label for="codeRedemptionText">Code: </label>
                <input id="codeRedemptionText" type="text" class="spaced codeRedemptionInput"
                    [(ngModel)]="enteredRedemptionCode">
                <button class="screenMarginLeft buttonStyled" (click)="enterRedemptionCode()">
                    Enter
                </button>
            </div>
            <br />
        </div>
    </div>
</div>

<ng-template #keybindContent>
    <div>
        <app-update-keybinds-view></app-update-keybinds-view>
    </div>
</ng-template>

<ng-template #gameLogContent>
    <div>
        <app-game-log-editor></app-game-log-editor>
    </div>
</ng-template>

<ng-template #quickViewOptionsContent>
    <div>
        <app-quick-view-options></app-quick-view-options>
    </div>
</ng-template>

<ng-template #overlayNotificationsContent>
    <div>
        <app-overlay-notification-options></app-overlay-notification-options>
    </div>
</ng-template>

<ng-template #storyStylePausePopover>
    <div>
        Pause story scenes when they come up. To advance, press the continue button.
    </div>
</ng-template>