<div class="navigationGrid">
    <div class="header">
        <div class="balladHeader header">
            <span class="s4Heading balladTitle mainPageSectionHeader">Ballads</span>
            <span class='flexBalladHeader'>
                <mat-checkbox class="example-margin" [(ngModel)]="autoProgress" (input)="autoProgressToggle()">Auto
                    Progress
                </mat-checkbox>
                <button *ngIf="areAltarsAvailable()" (click)="openAutoProgressOptions(autoProgressModal)" class="autoProgressButton"><img
                    class="autoProgressIcon" src="assets/svg/gear.svg"></button>
            </span>
        </div>
        <hr />
    </div>
    <div class="navigation">
        <div class="zoneGrid">
            <div class="balladList">
                <div class="eachBallad" *ngFor="let ballad of availableBallads">
                    <div *ngIf="!ballad.isSelected">
                        <button class="textLeftAligned buttonAsTextKeepColor clickableText z1Heading"
                            [ngClass]="getBalladClass(ballad)"
                            (click)="balladService.selectBallad(ballad)">{{balladService.getBalladName(ballad.type)}}
                            <app-notification-icon *ngIf="ballad.notify"></app-notification-icon>
                        </button>
                    </div>
                    <div *ngIf="ballad.isSelected" [ngClass]="{'flexBetween': !isMobile}">
                        <button class="textLeftAligned buttonAsTextKeepColor clickableText z1Heading selected"><strong
                                [ngClass]="getBalladClass(ballad)">{{balladService.getBalladName(ballad.type)}}</strong></button>
                        <span *ngIf="!isMobile" class="selectedArrow textRightAligned">
                            <strong class="selected">&#8594;</strong>
                        </span>
                        <!--TODO: Should this all be its own component? vvv-->
                        <div *ngIf="isMobile" class="zoneList mobileList">
                            <div *ngFor="let zone of availableZones">
                                <div *ngIf="!zone.isSelected">
                                    <span class="zoneSpacer">&#8618;</span><button class="buttonAsTextKeepColor z2Heading clickableText"
                                        [ngClass]="getZoneClass(zone)" (click)="balladService.selectZone(zone)" [disabled]="isSubZoneChangingDisabled()">{{zone.zoneName}}
                                        <app-notification-icon *ngIf="zone.notify" [notificationColor]="zone.notificationType"></app-notification-icon>
                                    </button>
                                </div>
                                <div *ngIf="zone.isSelected">
                                    <span class="zoneSpacer">&#8618;</span><button class="buttonAsTextKeepColor z2Heading clickableText selected"><strong
                                            [ngClass]="getZoneClass(zone)">{{zone.zoneName}}</strong></button>
                                    <div *ngFor="let subzone of availableSubZones">
                                        <div *ngIf="!subzone.isSelected">
                                            <span class="subzoneSpacer">&#8618;</span><span><button
                                                    class="buttonAsTextKeepColor z3Heading clickableText"
                                                    [ngClass]="getSubzoneClass(subzone)"
                                                    (click)="balladService.selectSubZone(subzone, zone)">{{balladService.isSubZoneToBeContinued(subzone)
                                                    ? "To Be Continued!" :
                                                    getSubzoneName(subzone)}}
                                                    {{getSubZoneSubText(subzone)}}
                                                    <app-notification-icon *ngIf="subzone.notify"
                                                        [notificationColor]="getSubzoneNotificationType(subzone)"
                                                        [notificationStyle]="getSubzoneNotificationStyle(subzone)">
                                                    </app-notification-icon>
                                                </button>
                                            </span>
                                        </div>
                                        <div *ngIf="subzone.isSelected">
                                            <strong><button
                                                    class="buttonAsTextKeepColor z3Heading clickableText selected"><span
                                                        class="subzoneSpacer">&#8618;</span><strong><span
                                                            [ngClass]="getSubzoneClass(subzone)">{{getSubzoneName(subzone)}}
                                                            {{getSubZoneSubText(subzone)}}</span></strong></button></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TODO: Should this all be its own component? ^^^-->
                    </div>
                    <hr class="transparentHr" *ngIf="isMobile" />
                </div>
            </div>
            <div *ngIf="!isMobile" class="zoneList">
                <div *ngFor="let zone of availableZones">
                    <div *ngIf="!zone.isSelected">
                        <button class="buttonAsTextKeepColor z2Heading clickableText" [ngClass]="getZoneClass(zone)"
                            (click)="balladService.selectZone(zone)">{{zone.zoneName}}
                            <app-notification-icon *ngIf="zone.notify" [notificationColor]="zone.notificationType"></app-notification-icon>
                        </button>
                    </div>
                    <div *ngIf="zone.isSelected">
                        <button class="buttonAsTextKeepColor z2Heading clickableText selected"><strong
                                [ngClass]="getZoneClass(zone)">{{zone.zoneName}}</strong></button>
                        <div *ngFor="let subzone of availableSubZones">
                            <div *ngIf="!subzone.isSelected">
                                <span class="subzoneSpacer">&#8618;</span><span><button
                                        class="buttonAsTextKeepColor z3Heading clickableText"
                                        [ngClass]="getSubzoneClass(subzone)" [disabled]="isSubZoneChangingDisabled()"
                                        (click)="balladService.selectSubZone(subzone, zone)">{{balladService.isSubZoneToBeContinued(subzone) ? "To Be Continued!" :
                                        getSubzoneName(subzone)}}
                                        {{getSubZoneSubText(subzone)}}
                                        <app-notification-icon *ngIf="subzone.notify"
                                            [notificationColor]="getSubzoneNotificationType(subzone)"
                                            [notificationStyle]="getSubzoneNotificationStyle(subzone)">
                                        </app-notification-icon>
                                    </button>
                                </span>
                            </div>
                            <div *ngIf="subzone.isSelected">
                                <strong><button class="buttonAsTextKeepColor z3Heading clickableText selected"><span
                                            class="subzoneSpacer">&#8618;</span><strong><span
                                                [ngClass]="getSubzoneClass(subzone)">{{getSubzoneName(subzone)}}
                                                {{getSubZoneSubText(subzone)}}</span></strong></button></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="hr gap1" *ngIf="globalService.globalVar.altarInfo.length > 0">
        <hr />
    </div>
    <div class="altars" *ngIf="globalService.globalVar.altarInfo.length > 0">
        <app-altar-options-view></app-altar-options-view>
    </div>-->
    <div *ngIf="quickLinksUnlocked" class="hr gap2">
        <hr />
    </div>
    <div *ngIf="quickLinksUnlocked" class="quickLink">
        <div *ngIf="!isMobile" class="quickLinkIcons">
            <button *ngIf="displayQuickViewOverview" class="buttonAsText clickableText iconButton" (click)="setQuickView(quickViewEnum.Overview)"
                customToolTip [contentTemplate]="overviewIconPopover" [tooltipDirection]="tooltipDirection">
                <img *ngIf="quickView === quickViewEnum.Overview" class="icon iconEnabled"
                    src="assets/svg/overviewQuickView.svg">
                <img class="icon iconDisabled" src="assets/svg/overviewDisabled.svg">
            </button>
            <button *ngIf="displayQuickViewResources" class="buttonAsText clickableText iconButton" (click)="setQuickView(quickViewEnum.Resources)"
                customToolTip [contentTemplate]="resourcesIconPopover" [tooltipDirection]="tooltipDirection">
                <img *ngIf="quickView === quickViewEnum.Resources" class="icon iconEnabled"
                    src="assets/svg/resourcesQuickView.svg">
                <img class="icon iconDisabled" src="assets/svg/resourcesDisabled.svg">
            </button>
            <div *ngIf="areAltarsAvailable()">
                <button *ngIf="displayQuickViewAltars" class="buttonAsText clickableText iconButton" (click)="setQuickView(quickViewEnum.Altars)"
                    customToolTip [contentTemplate]="altarIconPopover" [tooltipDirection]="tooltipDirection">
                    <img *ngIf="quickView === quickViewEnum.Altars" class="icon iconEnabled"
                        src="assets/svg/smallAltar.svg">
                    <img class="icon iconDisabled" src="assets/svg/altarsOverviewDisabled.svg">
                </button>
                <app-notification-icon
                    *ngIf="globalService.globalVar.altars.showNewNotification"></app-notification-icon>
            </div>
            <button class="buttonAsText clickableText iconButton" *ngIf="isAlchemyAvailable() && displayQuickViewAlchemy"
                (click)="setQuickView(quickViewEnum.Alchemy)" customToolTip [contentTemplate]="alchemyIconPopover"
                [tooltipDirection]="tooltipDirection">
                <img *ngIf="quickView === quickViewEnum.Alchemy" class="icon iconEnabled"
                    src="assets/svg/alchemyQuickView.svg">
                <img class="icon iconDisabled" src="assets/svg/alchemyDisabled.svg">
            </button>
            <button class="buttonAsText clickableText iconButton" *ngIf="isJewelcraftingAvailable() && displayQuickViewJewelcrafting"
                (click)="setQuickView(quickViewEnum.Jewelcrafting)" customToolTip [contentTemplate]="jewelcraftingIconPopover"
                [tooltipDirection]="tooltipDirection">
                <img *ngIf="quickView === quickViewEnum.Jewelcrafting" class="icon iconEnabled"
                    src="assets/svg/jewelcrafting.svg">
                <img class="icon iconDisabled" src="assets/svg/jewelcraftingDisabled.svg">
            </button>
        </div>
        <div class="overviewQuickView" *ngIf="quickView === quickViewEnum.Overview">
            <div class="quickLinkGrid">
                <div *ngIf="townsAvailable" class="quickJump centeredText">
                    <span>Jump to..</span>
                    <br />
                    <button class="buttonStyled stackedButtons" *ngIf="townsAvailable"  [disabled]="isSubZoneChangingDisabled()"
                        (click)="jumpToLatestShop()">Latest Town</button>
                    <br />
                    <button class="buttonStyled stackedButtons" *ngIf="isPalaceOfHadesAvailable()" [disabled]="isSubZoneChangingDisabled()"
                        (click)="jumpToPalaceOfHades()">Palace of Hades</button>
                    <br />
                    <button class="buttonStyled stackedButtons" *ngIf="isColiseumAvailable()" [disabled]="isSubZoneChangingDisabled()"
                        (click)="jumpToColiseum()">Coliseum</button>
                </div>
                <div class="peekResources centeredText">
                    <div class="textLeftAligned inlineBlock">
                        <span><span class="resource bold">Coins:</span><span>
                                {{lookupService.getResourceAmount(itemsEnum.Coin) |
                                number}}</span></span>
                        <br *ngIf="lookupService.getResourceAmount(itemsEnum.ChthonicPower) > 0" />
                        <span *ngIf="lookupService.getResourceAmount(itemsEnum.ChthonicPower) > 0"
                            class="resource chthonicPowerKeyword" customToolTip
                            [contentTemplate]="chthonicPowerPopover">Chthonic Power:
                            <span class="baseWeight">{{lookupService.getResourceAmount(itemsEnum.ChthonicPower) | number
                                : '1.0-2'}}</span></span>
                        <br *ngIf="lookupService.getResourceAmount(itemsEnum.ChthonicFavor) > 0" />
                        <span *ngIf="lookupService.getResourceAmount(itemsEnum.ChthonicFavor) > 0"
                            class="resource chthonicFavorKeyword" customToolTip
                            [contentTemplate]="chthonicFavorPopover">Chthonic Favor:
                            <span class="baseWeight">{{lookupService.getResourceAmount(itemsEnum.ChthonicFavor) | number
                                : '1.0-2'}}</span></span>
                        <br />
                        <button class="buttonStyled stackedButtons" *ngIf="areFollowersAvailable()"
                            (click)="viewFollowers(followers)">View Followers</button>
                            <br/>
                        <button class="buttonStyled stackedButtons" 
                            (click)="viewMelete(melete)">Melete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="resourcesQuickView centeredText" *ngIf="quickView === quickViewEnum.Resources">
            <div class="quickLinkGrid">
                <div *ngIf="trackedResourcesColumn1.length > 0" class="peekResources">
                    <div *ngFor="let resource of trackedResourcesColumn1" class="resource">
                        <app-resource-item-view [resource]="resource"></app-resource-item-view>
                    </div>
                </div>
                <div *ngIf="trackedResourcesColumn2.length > 0" class="quickJump">
                    <div *ngFor="let resource of trackedResourcesColumn2" class="resource">
                        <app-resource-item-view [resource]="resource" [flipToolTip]="true"></app-resource-item-view>
                    </div>
                </div>
            </div>
        </div>
        <div class="altarsQuickView centeredText" *ngIf="quickView === quickViewEnum.Altars">
            <app-altar-overview></app-altar-overview>
        </div>
        <div class="alchemyQuickView centeredText" *ngIf="quickView === quickViewEnum.Alchemy">
            <app-alchemy-overview></app-alchemy-overview>
        </div>
        <div class="jewelcraftingQuickView centeredText" *ngIf="quickView === quickViewEnum.Jewelcrafting">
            <app-jewelcrafting-overview></app-jewelcrafting-overview>
        </div>
    </div>
</div>

<ng-template #followers>
    <div>
        <app-follower-default-view></app-follower-default-view>
    </div>
</ng-template>

<ng-template #melete>
    <div>
        <app-melete-view></app-melete-view>
    </div>
</ng-template>

<ng-template #chthonicFavorPopover>
    <div>
        {{lookupService.getItemDescription(itemsEnum.ChthonicFavor)}}
    </div>
</ng-template>

<ng-template #chthonicPowerPopover>
    <div>
        {{lookupService.getItemDescription(itemsEnum.ChthonicPower)}}
    </div>
</ng-template>

<ng-template #overviewIconPopover>
    <div>
        See a brief overview of important resources and quick links to important locations.
    </div>
</ng-template>

<ng-template #resourcesIconPopover>
    <div>
        See all tracked resources. To track a specific resource, go to the 'Resources' tab in the menu and click an
        item.
    </div>
</ng-template>

<ng-template #altarIconPopover>
    <div>
        See available altars to pray for boons.
    </div>
</ng-template>

<ng-template #alchemyIconPopover>
    <div>
        See a brief overview of your Alchemy status.
    </div>
</ng-template>

<ng-template #jewelcraftingIconPopover>
    <div>
        See a brief overview of your Jewelcrafting status.
    </div>
</ng-template>

<ng-template #autoProgressModal>
    <app-auto-progress-options></app-auto-progress-options>
</ng-template>