<div class="existingEquipment">
  <div class="equipmentDiv">
    <span customToolTip [isDelayed]="false" [contentTemplate]="equippedWeapon"><strong>Weapon: </strong>
      <span [innerHtml]="getEquippedItemNameByType(equipmentTypeEnum.Weapon)"></span>
    </span>
    <button *ngIf="!canChangeEquipment && !isUnequipped(equipmentTypeEnum.Weapon)" class="unequipButton" (click)="unequipItem(equipmentTypeEnum.Weapon)">X</button>
  </div>
  <div class="equipmentDiv">
    <span customToolTip [isDelayed]="false" [contentTemplate]="equippedShield"><strong>Shield: </strong>
      <span [innerHtml]="getEquippedItemNameByType(equipmentTypeEnum.Shield)"></span></span>
      <button *ngIf="!canChangeEquipment && !isUnequipped(equipmentTypeEnum.Shield)" class="unequipButton" (click)="unequipItem(equipmentTypeEnum.Shield)">X</button>
  </div>
  <div class="equipmentDiv">
    <span customToolTip [isDelayed]="false" [contentTemplate]="equippedArmor"><strong>Armor: </strong>
      <span [innerHtml]="getEquippedItemNameByType(equipmentTypeEnum.Armor)"></span></span>
      <button *ngIf="!canChangeEquipment && !isUnequipped(equipmentTypeEnum.Armor)" class="unequipButton" (click)="unequipItem(equipmentTypeEnum.Armor)">X</button>
  </div>
  <div class="equipmentDiv">
    <span customToolTip [isDelayed]="false" [contentTemplate]="equippedRightRing"><strong>Ring: </strong>
      <span [innerHtml]="getEquippedItemNameByType(equipmentTypeEnum.Ring)"></span></span>
      <button *ngIf="!canChangeEquipment && !isUnequipped(equipmentTypeEnum.Ring)" class="unequipButton" (click)="unequipItem(equipmentTypeEnum.Ring)">X</button>
  </div>  
  <div class="equipmentDiv">
    <span customToolTip [isDelayed]="false" [contentTemplate]="equippedNecklace"><strong>Necklace: </strong>
      <span [innerHtml]="getEquippedItemNameByType(equipmentTypeEnum.Necklace)"></span></span>
      <button *ngIf="!canChangeEquipment && !isUnequipped(equipmentTypeEnum.Necklace)" class="unequipButton" (click)="unequipItem(equipmentTypeEnum.Necklace)">X</button>
  </div>
</div>
<div *ngIf="canChangeEquipment">
  <br />
  <button (click)="openEquipmentModal(equipmentModal)">Change Equipment</button>
</div>

<ng-template #equipmentModal>
  <app-equipment-view *ngIf="canChangeEquipment && equipmentModalOpened" [characterType]="characterType">
  </app-equipment-view>
</ng-template>

<ng-template #equippedWeapon>
  <div class="equippedItem">
    <div class="item">
      <app-equipment-item-view [equipment]="getEquippedItemByType(equipmentTypeEnum.Weapon)"></app-equipment-item-view>
    </div>
  </div>
</ng-template>

<ng-template #equippedShield>
  <div class="equippedItem">
    <div class="item">
      <app-equipment-item-view [equipment]="getEquippedItemByType(equipmentTypeEnum.Shield)"></app-equipment-item-view>
    </div>
  </div>
</ng-template>

<ng-template #equippedArmor>
  <div class="equippedItem">
    <div class="item">
      <app-equipment-item-view [equipment]="getEquippedItemByType(equipmentTypeEnum.Armor)"></app-equipment-item-view>
    </div>
  </div>
</ng-template>

<ng-template #equippedRightRing>
  <div class="equippedItem">
    <div class="item">
      <app-equipment-item-view [equipment]="getEquippedItemByType(equipmentTypeEnum.Ring)"></app-equipment-item-view>
    </div>
  </div>
</ng-template>

<ng-template #equippedNecklace>
  <div class="equippedItem">
    <div class="item">
      <app-equipment-item-view [equipment]="getEquippedItemByType(equipmentTypeEnum.Necklace)">
      </app-equipment-item-view>
    </div>
  </div>
</ng-template>