<div class="gridContainer">
    <div *ngFor="let character of party; let i = index" [class]="'character' + (i + 1)">
        <div *ngIf="character.type === noCharacter" class="partyMember">
            <span>None</span>
        </div>
        <div *ngIf="character.type !== noCharacter" class="partyMember"
            [ngClass]="{'characterTargeted': targetCharacterWithItem(character)}"
            (click)='battleService.useBattleItemOnCharacter(character)'>
            <div class="characterGrid">
                <div class="characterInfo">
                    <div>
                        <app-character-name-view [character]="character"></app-character-name-view>
                        <br />
                        <div *ngIf="true" class="flex"> <!--ngIf fixes the default value for the progress bar-->
                            <mat-progress-bar mode="determinate" [value]="getCharacterHpPercent(character)"
                                class="green-progress characterBar">
                            </mat-progress-bar> <span class="hpMpText">{{character.battleStats.currentHp | number :
                                '1.0-0'}} /
                                {{character.battleStats.maxHp | number : '1.0-0'}}
                                <span
                                    *ngIf="getCharacterBarrierValue(character) > 0">({{getCharacterBarrierValue(character)}})</span></span>
                        </div>
                    </div>
                    <div>
                        <app-status-effect-view [character]="character"></app-status-effect-view>
                    </div>
                    <div>
                        <app-god-name-view [character]="character"></app-god-name-view>
                        <br />
                    </div>
                </div>
                <div class="abilities">
                    <div class="abilityGrid">
                        <app-ability-view class="autoAttack" [character]="character" [isAutoAttack]="true">
                        </app-ability-view>
                        <app-ability-view class="ability1" [character]="character"
                            *ngIf="isCharacterAbilityAvailable(character, 0)"
                            [ability]="getCharacterAbility(character, 0)"></app-ability-view>
                        <app-ability-view class="ability2" [character]="character"
                            *ngIf="isCharacterAbilityAvailable(character, 1)"
                            [ability]="getCharacterAbility(character, 1)"></app-ability-view>

                        <app-ability-view class="god1ability1" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 0)" [ability]="getGodAbility(character, 1, 0)">
                        </app-ability-view>
                        <app-ability-view class="god1ability2" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 1)" [ability]="getGodAbility(character, 1, 1)">
                        </app-ability-view>
                        <app-ability-view class="god1ability3" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 2)" [ability]="getGodAbility(character, 1, 2)">
                        </app-ability-view>

                        <app-ability-view class="god2ability1" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 0)" [ability]="getGodAbility(character, 2, 0)">
                        </app-ability-view>
                        <app-ability-view class="god2ability2" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 1)" [ability]="getGodAbility(character, 2, 1)">
                        </app-ability-view>
                        <app-ability-view class="god2ability3" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 2)" [ability]="getGodAbility(character, 2, 2)">
                        </app-ability-view>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="options battleItemGrid">
        <div *ngFor="let _ of [].constructor(getItemBeltCount()); let i = index" class="battleItem"
            [class]="'battleItem' + (i + 1)">
            <button *ngIf="isBattleItemSlotUnequipped(i)" [ngClass]="{'hide': battleItems.length === 0}" (menuOpened)="openItemModal(i)" mat-icon-button
                [matMenuTriggerFor]="battleItems.length > 0 ? itemMenu : emptyItemMenu" [disableRipple]="true">
                <img class="itemImage" src="assets/svg/emptyItemSlot.svg"></button>
                <div *ngIf="!isBattleItemSlotUnequipped(i)">
                    <app-item-belt-item [slotNumber]="i"></app-item-belt-item>
                </div>
        </div>
    </div>
</div>

<mat-menu #itemMenu="matMenu">
    <table>
        <tr *ngFor="let cells of battleItemRows;">
            <td *ngFor="let c of cells;">
                <app-item-menu-item [item]="c.item" [openedSlotNumber]="openedSlotNumber"></app-item-menu-item>
            </td>
        </tr>
    </table>
</mat-menu>

<mat-menu #emptyItemMenu="matMenu">    
</mat-menu>
