<div class="gridContainer" [ngClass]="{'hide': lookupService.isUIHidden}">
    <hr *ngIf="isMobile" class="hr" />
    <div *ngFor="let character of party; let i = index" [class]="'character' + (i + 1)">
        <div *ngIf="character.type === noCharacter" class="partyMember">
        </div>
        <div *ngIf="character.type !== noCharacter" class="partyMember"
            [ngClass]="{'characterTargeted': targetCharacterWithItem(character)}"
            (click)='useBattleItemOnCharacter(character)'>
            <div class="characterGrid">
                <div class="characterInfo">
                    <div>
                        <app-character-name-view [character]="character"></app-character-name-view>
                        <br />
                        <div *ngIf="true" class="flex characterHp">
                            <!--ngIf fixes the default value for the progress bar-->
                            <div class="hpBarSpace hpBarGrid">
                                <mat-progress-bar mode="determinate" [value]="getCharacterHpPercent(character)"
                                    class="green-progress characterBar hpBar highBar">
                                </mat-progress-bar>
                                <mat-progress-bar *ngIf="getCharacterBarrierValue(character) > 0" mode="determinate"
                                    [value]="getCharacterBarrierPercent(character)"
                                    class="barrier-progress characterBar hpBar highBar">
                                </mat-progress-bar>
                            </div>
                            <span class="hpMpText hpAmount" *ngIf="!showPartyHpAsPercent">
                                <span [ngClass]="{'barrierText': getCharacterBarrierValue(character) > 0}">{{getCurrentHp(character)}}</span> /
                                {{getMaxHp(character)}}
                            </span>
                            <span class="hpMpText hpAmount" *ngIf="showPartyHpAsPercent">
                                <span [ngClass]="{'barrierText': getCharacterBarrierValue(character) > 0}">{{getCharacterHpPercent(character)  | number : '1.2-2'}}%</span>
                            </span>                            
                        </div>
                        <div *ngIf="isOverdriveAvailable(character)" class="overdriveBar flex"
                            (click)="manuallyTrigger(character)" (contextmenu)="toggleAuto(character)">
                            <span *ngIf="!character.overdriveInfo.autoMode"
                                class="manualOverdriveText">OFF</span>
                            <mat-progress-bar mode="determinate" [value]="getCharacterOverdrivePercent(character)"
                                class="red-progress characterBar overdriveProgressBar highBar"
                                [ngClass]="{'manualOverdriveMode': !character.overdriveInfo.autoMode }">
                            </mat-progress-bar> <span class="hpMpText" [ngClass]="{'overdriveActive': isOverdriveActive(character)}">
                                {{getCharacterOverdrivePercent(character) | number : '1.1-1'}}%
                            </span>
                        </div>
                    </div>
                    <div class="fullHeight">
                        <app-status-effect-view [character]="character"></app-status-effect-view>
                    </div>
                    <div>
                        <app-god-name-view [character]="character"></app-god-name-view>
                        <br *ngIf="!isMobile" />
                    </div>
                </div>
                <div class="abilities">
                    <div *ngIf="getCharacterTotalLinks(character) > 0" class="smallCaps bold linkText">{{getCharacterRemainingLinks(character)}}/{{getCharacterTotalLinks(character)}} Link{{getCharacterTotalLinks(character) > 1 ? "s" : ""}}  - next ability +{{getCharacterNextLinkDamage(character)}}%</div>
                    <div class="abilityGrid">
                        <app-ability-view class="autoAttack" [character]="character" [isAutoAttack]="true">
                        </app-ability-view>
                        <app-ability-view class="ability1" [character]="character"
                            *ngIf="isCharacterAbilityAvailable(character, 0)"
                            [ability]="getCharacterAbility(character, 0)" [abilityIndex]="0"></app-ability-view>
                        <app-ability-view class="ability2" [character]="character"
                            *ngIf="isCharacterAbilityAvailable(character, 1)"
                            [ability]="getCharacterAbility(character, 1)" [abilityIndex]="1"></app-ability-view>

                        <app-ability-view class="god1ability1" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 0)" [ability]="getGodAbility(character, 1, 0)" [abilityIndex]="0">
                        </app-ability-view>
                        <app-ability-view class="god1ability2" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 1)" [ability]="getGodAbility(character, 1, 1)" [abilityIndex]="1">
                        </app-ability-view>
                        <app-ability-view class="god1ability3" [character]="character" [god]="character.assignedGod1"
                            *ngIf="isGodAbilityAvailable(character, 1, 2)" [ability]="getGodAbility(character, 1, 2)" [abilityIndex]="2">
                        </app-ability-view>

                        <app-ability-view class="god2ability1" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 0)" [ability]="getGodAbility(character, 2, 0)" [abilityIndex]="0">
                        </app-ability-view>
                        <app-ability-view class="god2ability2" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 1)" [ability]="getGodAbility(character, 2, 1)" [abilityIndex]="1">
                        </app-ability-view>
                        <app-ability-view class="god2ability3" [character]="character" [god]="character.assignedGod2"
                            *ngIf="isGodAbilityAvailable(character, 2, 2)" [ability]="getGodAbility(character, 2, 2)" [abilityIndex]="2">
                        </app-ability-view>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="activeCharacterCount > 1 && (!isMobile || (isMobile && i === 0))" />
    </div>
    <div *ngIf="!isMobile">
        <div *ngIf="displayDps" class="dps" class="s4Heading textCentered pageHeader dpsChecks">
            <span class='smallText partyDps' customToolTip [contentTemplate]="dpsTemplate">
                Party DPS: {{getPartyDps()}}
            </span>
            <span class='smallText enemyDps' customToolTip [contentTemplate]="dpsTemplate">
                Incoming DPS: {{getEnemyDps()}}
            </span>
            <span class='smallText xps' customToolTip [contentTemplate]="xpsTemplate">
                XPS: {{getXps()}}
            </span>
        </div>
        <hr *ngIf="unlockedBattleItems" class="noMargin" />
    </div>
    <div *ngIf="unlockedBattleItems && !isMobile" class="options battleItemGrid">
        <div *ngFor="let _ of [].constructor(getItemBeltCount()); let i = index" class="battleItem"
            [class]="'battleItem' + (i + 1)">
            <button *ngIf="isBattleItemSlotUnequipped(i)" [ngClass]="{'hide': battleItems.length === 0}"
                (menuOpened)="openItemModal(i)" class="buttonStyled" #itemMenuTrigger
                [matMenuTriggerFor]="battleItems.length > 0 ? itemMenu : emptyItemMenu">
                <img class="itemImage" src="assets/svg/emptyItemSlot.svg"></button>
            <div *ngIf="!isBattleItemSlotUnequipped(i)">
                <app-item-belt-item [slotNumber]="i"></app-item-belt-item>
            </div>
        </div>
    </div>
</div>

<mat-menu #itemMenu="matMenu">
    <table>
        <tr *ngFor="let cells of battleItemRows;">
            <td *ngFor="let c of cells;">
                <app-item-menu-item [item]="c.item" [openedSlotNumber]="openedSlotNumber" [totalItemAmount]="battleItems.length"></app-item-menu-item>
            </td>
        </tr>
    </table>
</mat-menu>

<mat-menu #emptyItemMenu="matMenu">
</mat-menu>

<ng-template #dpsTemplate>
    Damage Per Second is calculated over a 120 second period and is reset upon changing sub zones.
</ng-template>

<ng-template #xpsTemplate>
    XP Per Second is calculated over a 120 second period and is reset upon changing sub zones. This does not include any XP modifiers such as Boon of Olympus.
</ng-template>