

.scrollable {
    overflow-y: auto;
}

.zoneName {
    color: var(--followerColor);
    font-weight: bold;
}

.headerSpacing {
    min-width: 40%;
    display: inline-block;
}

.buttonSpaced {
    width: 25%;
    display: inline-block;
}


@media (max-width: 800px) {
    .headerSpacing {
        min-width: 60%;
    }
}