.gridContainer {
    display: grid;
    height: 100%;
    margin: 0 .5rem;
    grid-template-columns: auto;
    grid-template-rows: auto 47% 1rem 1fr;
    justify-content: stretch;
    grid-template-areas:
        "header"
        "scene"
        "gap"
        "battleUpdates";
}

.header {
    grid-area: header;
}

.gap {
    grid-area: gap;
}

.enemies {
    grid-area: enemies;
}

.battleUpdates {
    grid-area: battleUpdates;

    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.selectedSubzone {
    color: var(--foreground-secondary);
}

.innerContainer {
    position: relative;
    height: 100%;
    overflow: auto;
}

.skipToBottom {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.enemiesGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "enemy1 enemy2"
        "enemy3 enemy4";
}

.enemy1 {
    grid-area: enemy1;
}

.enemy2 {
    grid-area: enemy2;
}

.enemy3 {
    grid-area: enemy3;
}

.enemy4 {
    grid-area: enemy4;
}

.storyGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 80% 1fr 1fr;
    gap: 1rem;
    justify-content: stretch;
    grid-template-areas:
        "text"
        "skipButton"
        "loadingBar";
}

.chestGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 75% 15% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "chestImage"
        "text"
        "loadingBar";
}

.chestImage {
    grid-area: chestImage;
    margin: auto;
}

.text {
    grid-area: text;
    margin: auto;
}

.loadingBar {
    grid-area: loadingBar;
    height: 4px;
}

.chestIcon {
    height: 15vh;
}

.hr {
    width: 100%;
}

.floatRight {
    float: right;
}

.arrow {
    font-weight: 700;
}

.slideAnimation {
    -webkit-animation: slide .5s forwards;    
    animation: slide .5s forwards;
}

@keyframes slide {
    0% {opacity: 0%}
    20% {opacity: 0%}
    100% {opacity: 100%}
}