<div class="gridContainer">
    <div class="header">
        <div [ngClass]="{'extraInfoHeaderFlex': doingColiseumOrTrialFight(), 'headerFlex': !doingColiseumOrTrialFight() }">
            <div class="alignCenter coliseumRound" *ngIf="doingColiseumFight()">
                round {{globalService.globalVar.activeBattle.activeTournament.currentRound}} <span *ngIf="globalService.globalVar.activeBattle.activeTournament.maxRounds !== -1">of
                {{globalService.globalVar.activeBattle.activeTournament.maxRounds}}</span></div>            
                <button *ngIf="isMobile" class="buttonStyled zoneDropdown"
                (click)="openZoneNavigation(zoneNavigationContent)">
                <img class="dropdownIcon" src="assets/svg/dropdown.svg">
            </button>
            <div class="s4Heading textCentered selectedSubzone pageHeader">
                <strong class="clickableText" [ngClass]="{'subzoneName': globalStatusEffectsActive()}" customToolTip [contentTemplate]="subzonePopover" (click)="jumpToBestiary()">{{getActiveSubzoneName()}}</strong>
                <div *ngIf="globalStatusEffectsActive()" class="buffEffects" customToolTip [contentTemplate]="globalEffectsPopover">
                    <img (contextmenu)="preventRightClick()" class="buffImage" src="assets/svg/statUpSE.svg" />
                </div>
            </div>
            <button *ngIf="isMobile && isNextSubzoneButtonAvailable()" class="buttonStyled nextSubzone"
                (click)="goToNextSubzone()">
                <img class="dropdownIcon" src="assets/svg/rightarrow.svg">
            </button>
            <div class="alignCenter coliseumTime" *ngIf="doingColiseumOrTrialFight()">{{getTournamentTimeRemaining()}}
                remaining</div>
            <div class="victoryCount" *ngIf="isMobile">
                {{getSubzoneVictoryCount()}}
                <app-notification-icon *ngIf="newSubzoneUnlocked()">
                </app-notification-icon>
            </div>
        </div>
        <hr />
    </div>
    <div class="scene"
        [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene && !storyService.showFirstTimeUnderworldStory }">
        <div class="enemies"
            [ngClass]="{'slideAnimation': showNewEnemyGroupAnimation, 'removeTransition': noTransition }"
            *ngIf="!isAtScene() && !isAtTown() && !isAtSideQuestScene()">
            <div *ngIf="currentEnemies !== undefined && !currentEnemies.isBossFight && !currentEnemies.isDoubleBossFight"
                class="enemiesGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [enemyParty]="currentEnemies.enemyList"
                    [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation" class="enemy1"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [character]="currentEnemies.enemyList[1]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy2"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 2" [character]="currentEnemies.enemyList[2]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy3"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 3" [character]="currentEnemies.enemyList[3]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy4"></app-enemy-view>
            </div>
            <div *ngIf="currentEnemies !== undefined && currentEnemies.isBossFight" class="bossGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [isBoss]="true"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="boss"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [character]="currentEnemies.enemyList[1]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy3"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 2" [character]="currentEnemies.enemyList[2]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy4"></app-enemy-view>
            </div>
            <div *ngIf="currentEnemies !== undefined && currentEnemies.isDoubleBossFight" class="doubleBossGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [isBoss]="true"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="boss1"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [isBoss]="true"
                    [character]="currentEnemies.enemyList[1]" [enemyParty]="currentEnemies.enemyList"
                    [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation" class="boss2"></app-enemy-view>
            </div>
        </div>
        <div *ngIf="isAtStoryScene()" class="storyGrid">
            <div class="text storyOverflow" [ngClass]="{'storyTextAnimation': showStoryAnimation }"
                [innerHtml]="this.displayStorySegment()"></div>
            <div class="skipButton">
                <span *ngIf="showSkipButtonMessage"><i><strong>Click the arrow button to the right to skip to the next
                            page</strong></i></span>                
                <button class="floatRight arrow buttonStyled" (click)="skipStory()">&#8594;</button>
            </div>
            <div class="loadingBar">
                <mat-progress-bar mode="determinate" [value]="getPagePercent()"
                    class="green-progress characterBar removeAnimation removeTransition">
                </mat-progress-bar>
            </div>
        </div>
        <div *ngIf="isAtChestScene()" class="chestGrid">
            <div class="chestImage">
                <img class="chestIcon" src="assets/svg/treasureChest.svg">
            </div>
            <div class="text" [innerHtml]="this.displayChestText()"></div>
            <div class="loadingBar">
                <mat-progress-bar mode="determinate" [value]="getChestPercent()"
                    class="green-progress characterBar removeAnimation removeTransition">
                </mat-progress-bar>
            </div>
            <!--<hr class='hr' />-->
        </div>
        <div *ngIf="isAtAltarScene()" class="altar">

        </div>
        <div *ngIf="isAtSideQuestScene()" class="sidequest">
            <app-altar *ngIf="atAltarOfAsclepius()"></app-altar>
        </div>
        <div *ngIf="isAtTown() && !isAtChestScene() && !isAtStoryScene() && !isAtSideQuestScene()" class="shopGrid">
            <app-shop-view></app-shop-view>
        </div>
    </div>
    <div *ngIf="isMobile && !isAtChestScene() && !isAtStoryScene()"
        class="notificationOverlay" [ngClass]="{ 'opaque': notificationOverlayMessage.length > 0 }">
        <div class="notificationMessage">
            <span [innerHtml]="notificationOverlayMessage"></span>
            <span class="buttonStyled skipOverlay" (click)="skipOverlayMessage()">X</span>
        </div>
    </div>
    <hr *ngIf="!isMobile" class='gap hr' />
    <div *ngIf="!isMobile" class="battleUpdates" [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }">
        <div class="innerContainer" #scrollToTop [scrollTop]="getScrollHeight(scrollToTop)"
            [innerHtml]="this.displayGameUpdates()"></div>
        <button (click)="openGameLogEditor(gameLogEditorModal)" class="gameLogEditor gameLogButton showOnHover buttonStyled"><img
                class="settingsIcon icon" src="assets/svg/gearWhite.svg"></button>
        <button (click)="clearGameLog()" class="gameLogClear gameLogButton showOnHover buttonStyled"><img
                class="settingsIcon icon" src="assets/svg/clear.svg"></button>
        <button *ngIf="displayScrollToBottom(scrollToTop)" (click)="skipToBottom(scrollToTop)"
            class="skipToBottom arrow gameLogButton buttonStyled"><img class="arrowDownIcon icon"
                src="assets/svg/arrowDown.svg"></button>
    </div>
</div>

<ng-template #gameLogEditorModal>
    <app-game-log-editor></app-game-log-editor>
</ng-template>


<ng-template #zoneNavigationContent>
    <app-zone-navigation></app-zone-navigation>
</ng-template>

<ng-template #subzonePopover>
    <div>
        Click to view this subzone in the Bestiary.
    </div>
</ng-template>

<ng-template #globalEffectsPopover>
    <strong>All Global Effects</strong>
    <hr/>    
    <div [innerHtml]="getAllGlobalEffects()"> 
    </div>   
</ng-template>