.gridContainer {
    display: grid;
    height: 100%;
    margin: 0 .5rem;
    grid-template-columns: auto;
    grid-template-rows: auto 47% 1rem 1fr;
    justify-content: stretch;
    grid-template-areas:
        "header"
        "scene"
        "gap"
        "battleUpdates";
}

.storyGridContainer {
    display: grid;
    height: 100%;
    margin: 0 .5rem;
    grid-template-columns: auto;
    grid-template-rows: auto 75% 1rem 1fr;
    justify-content: stretch;
    grid-template-areas:
        "header"
        "scene"
        "gap"
        "battleUpdates";
}

.header {
    grid-area: header;
}

.headerFlex {
    text-align: center;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        ". selectedSubzone zoneDropdown";
    font-variant: small-caps;
}

.extraInfoHeaderFlex {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 10% 30% 10% 25%;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        "coliseumRound . selectedSubzone zoneDropdown coliseumTime";
    font-variant: small-caps;
}

.coliseumRound {
    grid-area: coliseumRound;
}

.selectedSubzone {
    grid-area: selectedSubzone;
}

.zoneDropdown {
    grid-area: zoneDropdown;
}

.coliseumTime {
    grid-area: coliseumTime;
}

.alignCenter {
    align-self: center;
}

.gap {
    grid-area: gap;
}

.enemies {
    grid-area: enemies;
}

.battleUpdates {
    grid-area: battleUpdates;

    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.selectedSubzone {
    color: var(--foreground-secondary);
}

.innerContainer {
    position: relative;
    height: 100%;
    overflow: auto;
}

.gameLogEditor {
    position: absolute;
    top: 0;
    right: 1.5rem;
}

.gameLogClear {
    position: absolute;
    top: 0;
    right: 3.5rem;
}

.skipToBottom {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
}

.enemiesGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "enemy1 enemy2"
        "enemy3 enemy4";
}

.bossGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "boss boss"
        "enemy3 enemy4";
}

.boss {
    grid-area: boss;
    text-align: center;
}

.enemy1 {
    grid-area: enemy1;
}

.enemy2 {
    grid-area: enemy2;
}

.enemy3 {
    grid-area: enemy3;
}

.enemy4 {
    grid-area: enemy4;
}

.doubleBossGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "boss1 boss1"
        "boss2 boss2";
}

.boss1 {
    grid-area: boss1;
    text-align: center;
}

.boss2 {
    grid-area: boss2;
    text-align: center;
}

.storyGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 80% 1fr 1fr;
    gap: 1rem;
    justify-content: stretch;
    grid-template-areas:
        "text"
        "skipButton"
        "loadingBar";
}

.chestGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 75% 15% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "chestImage"
        "text"
        "loadingBar";
}

.chestImage {
    grid-area: chestImage;
    margin: auto;
}

.logColor {
    color: var(--foreground-quaternary);
}

.text {
    grid-area: text;
    margin: auto;
    font-size: 1.07rem;
}

.storyTextAnimation {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loadingBar {
    grid-area: loadingBar;
    height: 4px;
}

.chestIcon {
    height: 15vh;
}

.altar {
    height: 100%;
}

.hr {
    width: 100%;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.floatRight {
    float: right;
}

.arrow {
    font-weight: 700;
}

.slideAnimation {
    -webkit-animation: slide .5s forwards;
    animation: slide .5s forwards;
}

.icon {
    height: 1.5rem;
    vertical-align: middle;
}

@keyframes slide {
    0% {
        opacity: 0%
    }

    20% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

.gameLogButton {
    padding: 0;
}

.showOnHover {
    display: none;
}

.battleUpdates:hover>.showOnHover {
    display: block;
}

.sidequest {
    height: 100%;
}

.notificationOverlay {
    display: none;
}

.hide {
    display: none;
}

.storyOverflow {
    max-height: 100%;
    overflow: auto;
    font-size: 1.125rem;
}

.subzoneName {
    margin-left: 2.6rem;
}

.buffImage {
    width: 0.8rem;
    height: 1rem;
    vertical-align: super;
}

.buffEffects {
    border: 2px solid var(--positive-status-effect);
    height: 1.1rem;
    display: flex;
    justify-content: center;
    width: 1.1rem;
    margin: auto;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: .5rem;
}

@media (max-width: 800px) {
    .gridContainer {
        position: relative;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header"
            "scene";
    }

    .enemies {
        height: 98%;
    }

    .dropdownIcon {
        height: 1rem;
    }

    .headerFlex {
        text-align: center;
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        justify-content: stretch;
        grid-template-areas:
            "zoneDropdown selectedSubzone nextSubzone"
            "zoneDropdown victoryCount nextSubzone";
        font-variant: small-caps;
    }

    .extraInfoHeaderFlex {
        text-align: center;
        display: grid;
        grid-template-columns: 25% 10% 30% 10% 25%;
        grid-template-rows: 1fr 1fr;
        justify-content: stretch;
        grid-template-areas:
            "coliseumRound zoneDropdown selectedSubzone nextSubzone coliseumTime"
            ". zoneDropdown victoryCount nextSubzone .";
        font-variant: small-caps;
    }

    .victoryCount {
        grid-area: victoryCount;
    }

    .nextSubzone {
        grid-area: nextSubzone;
    }

    .notificationOverlay {
        display: block;
        position: absolute;
        bottom: 1rem;
        z-index: 10;
        height: auto;
        border: 2px solid black;
        background-color: var(--background-quarternary);
        width: calc(100% - 1rem);
        padding: .25rem;
        opacity: 0;
        transition: opacity .25s;
    }

    .opaque {
        opacity: 1;
    }

    .skipOverlay {
        height: 1.4rem;
    }

    .notificationMessage {
        display: flex;
        justify-content: space-between;
    }

    .storyGrid {
        gap: .25rem;
    }

    .text {
        font-size: 1.25rem;
    }

    .arrow {
        font-size: 2rem;
    }

    .storyBar {
        height: .5rem !important;
    }

    .buffEffects  {
        margin-left: 1.5rem;
    }

    .mobileSmallText {
        font-size: .75rem;
    }
}