.gridContainer {
    display: grid;
    height: 100%;
    margin: 0 .5rem;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-row-gap: 1rem;
    grid-template-areas:
        "enemies"
        "battleUpdates";
}

.enemies {
    grid-area: enemies;
}

.battleUpdates {
    grid-area: battleUpdates;

    white-space: pre;
    overflow-x: hidden;
    overflow-y: auto;
}

.enemiesGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "enemy1 enemy2"
        "enemy3 enemy4";
}

.enemy1 {
    grid-area: enemy1;
}

.enemy2 {
    grid-area: enemy2;
}

.enemy3 {
    grid-area: enemy3;
}

.enemy4 {
    grid-area: enemy4;
}

.storyGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 90% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "text"
        "loadingBar";
}

.hr {
    width: 100%;
}