<div class="gridContainer">
    <div class="header">
        <div class="headerFlex">
            <div class="alignCenter" *ngIf="doingColiseumFight()">
                round {{globalService.globalVar.activeBattle.activeTournament.currentRound}} of {{globalService.globalVar.activeBattle.activeTournament.maxRounds}}</div>
            <div class="s4Heading textCentered selectedSubzone pageHeader"><strong>{{activeSubzone.name}}</strong> <span
                    *ngIf="showDevStats"> EPS: {{getExpectedExpPerSec()}}</span></div>
            <div class="alignCenter" *ngIf="doingColiseumFight()">{{getTournamentTimeRemaining()}} remaining</div>
        </div>
        <hr />
    </div>
    <div class="scene"
        [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene && !storyService.showFirstTimeUnderworldStory }">
        <div class="enemies" [ngClass]="{'slideAnimation': showNewEnemyGroupAnimation }"
            *ngIf="!isAtScene() && !isAtTown()">
            <div *ngIf="currentEnemies !== undefined && !currentEnemies.isBossFight && !currentEnemies.isDoubleBossFight"
                class="enemiesGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [enemyParty]="currentEnemies.enemyList"
                    [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation" class="enemy1"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [character]="currentEnemies.enemyList[1]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy2"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 2" [character]="currentEnemies.enemyList[2]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy3"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 3" [character]="currentEnemies.enemyList[3]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy4"></app-enemy-view>
            </div>
            <div *ngIf="currentEnemies !== undefined && currentEnemies.isBossFight" class="bossGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [isBoss]="true"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="boss"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [character]="currentEnemies.enemyList[1]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy3"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 2" [character]="currentEnemies.enemyList[2]"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="enemy4"></app-enemy-view>
            </div>
            <div *ngIf="currentEnemies !== undefined && currentEnemies.isDoubleBossFight" class="doubleBossGrid">
                <app-enemy-view [character]="currentEnemies.enemyList[0]" [isBoss]="true"
                    [enemyParty]="currentEnemies.enemyList" [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation"
                    class="boss1"></app-enemy-view>
                <app-enemy-view *ngIf="currentEnemies.enemyList.length > 1" [isBoss]="true"
                    [character]="currentEnemies.enemyList[1]" [enemyParty]="currentEnemies.enemyList"
                    [showNewEnemyGroupAnimation]="showNewEnemyGroupAnimation" class="boss2"></app-enemy-view>
            </div>
        </div>
        <div *ngIf="isAtStoryScene()" class="storyGrid">
            <div class="text" [ngClass]="{'storyTextAnimation': showStoryAnimation }"
                [innerHtml]="this.displayStorySegment()"></div>
            <div class="skipButton">
                <span *ngIf="showSkipButtonMessage"><i><strong>Click the arrow button to the right to skip to the next
                            page</strong></i></span>
                <button class="floatRight arrow" (click)="skipStory()">&#8594;</button>
            </div>
            <div class="loadingBar">
                <mat-progress-bar mode="determinate" [value]="getPagePercent()"
                    class="green-progress characterBar removeAnimation">
                </mat-progress-bar>
            </div>
        </div>
        <div *ngIf="isAtChestScene()" class="chestGrid">
            <div class="chestImage">
                <img class="chestIcon" src="assets/svg/treasureChest.svg">
            </div>
            <div class="text" [innerHtml]="this.displayChestText()"></div>
            <div class="loadingBar">
                <mat-progress-bar mode="determinate" [value]="getChestPercent()"
                    class="green-progress characterBar removeAnimation">
                </mat-progress-bar>
            </div>
            <!--<hr class='hr' />-->
        </div>
        <div *ngIf="isAtAltarScene()" class="altar">
           <app-altar></app-altar>
        </div>
        <div *ngIf="isAtTown() && !isAtChestScene() && !isAtStoryScene()" class="shopGrid">
            <app-shop-view></app-shop-view>
        </div>
    </div>
    <hr class='gap hr' />
    <div class="battleUpdates" [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }">
        <div class="innerContainer" #scrollToTop [scrollTop]="getScrollHeight(scrollToTop)"
            [innerHtml]="this.displayGameUpdates()"></div>
        <button (click)="openGameLogEditor(gameLogEditorModal)" class="gameLogEditor gameLogButton showOnHover"><img
                class="settingsIcon icon" src="assets/svg/gear.svg"></button>
        <button *ngIf="displayScrollToBottom(scrollToTop)" (click)="skipToBottom(scrollToTop)"
            class="skipToBottom arrow gameLogButton"><img class="arrowDownIcon icon"
                src="assets/svg/arrowDown.svg"></button>
    </div>
</div>

<ng-template #gameLogEditorModal>
    <app-game-log-editor></app-game-log-editor>
</ng-template>