<div class="resourcesView gridContainer">

    <div class="equipment">
        <div class="s4Heading centered">
            <span class="sectionHeaderText sectionHeading">Equipment</span>
        </div>
        <br />
        <div *ngFor="let equipment of equipmentItems;">
            <span class="screenMarginLeft">
                <strong>{{lookupService.getItemName(equipment.item)}}:</strong> {{equipment.amount}}
                <hr class="marginHr" />
            </span>
        </div>
    </div>
    <div class="resources">
        <div class="s4Heading centered"><span class="sectionHeaderText sectionHeading">Resources & Crafting
                Materials</span></div>
        <br />
        <div *ngFor="let resource of resources;">
            <div class="resourceDiv">
                <button class="screenMarginLeft buttonAsText clickableText trackingButton">
                    <!--{{lookupService.getItemName(resource.item)}} x{{resource.amount}}-->
                    <app-resource-item-view [resource]="resource.item" [canSetTrackingResource]="true"></app-resource-item-view>
                </button>
                <button *ngIf="isResourceTracked(resource)" (click)="setTrackingResource(resource)" class="screenMarginRight buttonStyled smallCaps">tracking</button>
            </div>
            <span>
                <hr class="marginHr" />
            </span>
        </div>
    </div>
    <div class="progression">
        <div class="s4Heading centered"><span class="sectionHeaderText sectionHeading">Progression</span></div>
        <br />
        <div *ngFor="let progression of progressionResources;">
            <span triggers="mouseenter:mouseleave" popoverClass="popoverClass" class="screenMarginLeft">
                <strong>{{lookupService.getItemName(progression.item)}}:</strong> {{progression.amount}}
                <hr class="marginHr" />
            </span>
        </div>
    </div>
    <div class="charms">
        <div class="s4Heading centered"><span class="sectionHeaderText sectionHeading">Charms</span></div>
        <br />
        <div *ngFor="let charm of charmResources;">
            <span triggers="mouseenter:mouseleave" popoverClass="popoverClass" class="screenMarginLeft">
                <strong>{{lookupService.getItemName(charm.item)}}:</strong> {{charm.amount}}
                <hr class="marginHr" />
            </span>
        </div>
    </div>
</div>