<div customToolTip [contentTemplate]="smallAltarPopover" [tooltipDirection]="tooltipDirection" class="altarView">
    <button (click)="viewAltar()"  class="container buttonAsText"
        [disabled]="!isAltarReady()">
        <div class="centeredBox">
            <div #spinnerDiv class="ability"  (contextmenu)="toggleAltarType()">
                <div>
                    <span class='abilityTimer'><img class="abilityImage" (contextmenu)="preventRightClick()" [src]='getAltarImage()' /></span>
                </div>
                <div [ngClass]="{'altarUnavailable': !isAltarReady() }">
                    <mat-spinner class="spinner abilityTimer" [ngClass]="getStrokeColor()"
                        mode="determinate" [diameter]="spinnerDiameter" [strokeWidth]="strokeWidth"
                        [value]="getAltarCompletionPercent()"></mat-spinner>
                </div>
            </div>
        </div>
    </button>
    <span class="levelUpAnimationText"
                [ngClass]="{'levelUpAnimation': showAffinityLevelUpAnimation}">Affinity<br/>Lv Up!</span>
</div>

<ng-template #smallAltarPopover>
    <div [innerHtml]="getAltarName()">
    </div>
    <hr />
    <div [innerHtml]="getAltarDescription()">
    </div>
    <hr />
    <div [innerHtml]="getAltarConditions()">
    </div>
</ng-template>