<div class="bestiaryView">
    <div class="balladView">
        <div class="options">
            <span>Select a location from the list below.</span>
            <br />
            <br />
            <div class="balladList">
                <div class="eachBallad" *ngFor="let ballad of availableBallads">
                    <div *ngIf="!isBalladSelected(ballad)">
                        <button class="textLeftAligned buttonAsTextKeepColor clickableText z1Heading defaultBallad"
                            [ngClass]="getBalladClass(ballad)"
                            (click)="selectBallad(ballad)">{{balladService.getBalladName(ballad)}}
                        </button>
                    </div>
                    <div *ngIf="isBalladSelected(ballad)" [ngClass]="{'flexBetween': !isMobile}">
                        <button
                            class="textLeftAligned buttonAsTextKeepColor clickableText z1Heading selected defaultBallad"><strong
                                [ngClass]="getBalladClass(ballad)">{{balladService.getBalladName(ballad)}}</strong></button>
                        <div class="zoneList">
                            <div *ngFor="let zone of availableZones">
                                <div *ngIf="!isZoneSelected(zone)">
                                    <span class="zoneSpacer">&#8618;</span><button
                                        class="buttonAsTextKeepColor z2Heading clickableText defaultZone"
                                        [ngClass]="getZoneClass(zone)" (click)="selectZone(zone)">{{getZoneName(zone)}}
                                    </button>
                                </div>
                                <div *ngIf="isZoneSelected(zone)">
                                    <span class="zoneSpacer">&#8618;</span><button
                                        class="buttonAsTextKeepColor z2Heading clickableText selected defaultZone"><strong
                                            [ngClass]="getZoneClass(zone)">{{getZoneName(zone)}}</strong></button>
                                    <div *ngFor="let subzone of availableSubzones">
                                        <div *ngIf="!isSubzoneSelected(subzone)">
                                            <span class="subzoneSpacer">&#8618;</span><span><button
                                                    class="buttonAsTextKeepColor z3Heading clickableText defaultSubzone"
                                                    [ngClass]="getSubzoneClass(subzone)"
                                                    (click)="selectSubzone(subzone)">{{getSubzoneName(subzone)}}
                                                </button>
                                            </span>
                                        </div>
                                        <div *ngIf="isSubzoneSelected(subzone)">
                                            <strong><button
                                                    class="buttonAsTextKeepColor z3Heading clickableText selected defaultSubzone"><span
                                                        class="subzoneSpacer">&#8618;</span><strong><span
                                                            [ngClass]="getSubzoneClass(subzone)">{{getSubzoneName(subzone)}}
                                                        </span></strong></button></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer">
            <div class="vr">
                <hr class="vrHr" />
            </div>
        </div>

        <div *ngIf="selectedBallad !== undefined && selectedZone === undefined && selectedSubzone === undefined"
            class="info textCentered">
            <span class="s2Heading pageHeader">{{balladService.getBalladName(selectedBallad.type)}}</span>
            <br />
            <span class="smallCaps bold">ballad</span>
            <br />
            <br />
            <span [innerHtml]="getSelectedBalladDescription()"></span>
            <hr />
            <span>Total Unique Enemies Defeated: {{balladEnemiesDefeated()}} / {{balladEnemyCount()}} </span>
            <br />
            <span>Total Achievements Completed: {{balladAchievementsCompleted()}} / {{balladTotalAchievements() === -1 ?
                nameHiddenText : balladTotalAchievements()}}</span>
        </div>
        <div *ngIf="selectedZone !== undefined && selectedSubzone === undefined" class="info textCentered">
            <span class="s2Heading pageHeader">{{getZoneName(selectedZone.type)}}</span>
            <br />
            <span class="smallCaps bold">zone</span>
            <br />
            <br />
            <span>Total Unique Enemies Defeated: {{zoneEnemiesDefeated()}} / {{zoneEnemyCount()}} </span>
            <br />
            <span>Total Achievements Completed: {{zoneAchievementsCompleted()}} / {{zoneTotalAchievements() === -1 ?
                nameHiddenText : zoneTotalAchievements()}}</span>
        </div>
        <div *ngIf="selectedSubzone !== undefined && isAltarOfAsclepius()" class="info textCentered">
            <button class="buttonAsText clickableText s2Heading pageHeader"
                (click)="goToSubzone(selectedSubzone.type)">{{balladService.getSubZoneName(selectedSubzone.type)}}</button>
            <br />
            <span class="smallCaps bold">special</span>
            <br />
            <br />
            <div>
                <span>Show your devotion to the gods by using healing items on the Altar of Asclepius. Your devotion
                    will be rewarded.</span>
            </div>
        </div>
        <div *ngIf="selectedSubzone !== undefined && isTown()" class="info textCentered">
            <button class="buttonAsText clickableText s2Heading pageHeader"
                (click)="goToSubzone(selectedSubzone.type)">{{balladService.getSubZoneName(selectedSubzone.type)}}</button>
            <br />
            <span class="smallCaps bold">town</span>
            <br />
            <br />
            <div class="shop" *ngFor="let shopOption of shopOptions; let i = index">
                <div *ngIf="isShopOptionColiseum(shopOption)">
                    <span class="sectionHeaderText sectionHeading">{{getOptionText(shopOption.type)}}</span>
                    <br />
                    <i>Each Eternal Melee boss is randomly selected from bosses you have already defeated. In addition, <b
                            class="smallCaps">Chthonic Patron</b> supporters can create their own bosses. Below are
                            <b class="smallCaps">Chthonic Patron</b> bosses that can randomly appear.</i>
                            <br/>
                            <br/>
                    <div class="enemyList">
                        <div class="enemy" *ngFor="let enemyTeam of coliseumPatronList; let i = index">
                            <strong>Boss Battle</strong>
                            <br/>
                            <div *ngFor="let enemy of enemyTeam.enemyList; let j = index">
                                <span [innerHtml]="getEnemyName(enemy, true)" customToolTip
                                    [tooltipDirection]="tooltipDirection" [contentTemplate]="enemyPopover"></span>
                                <ng-template #enemyPopover>
                                    <app-enemy-description-view 
                                        [character]="enemy"></app-enemy-description-view>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isShopOptionTrialOfSkill(shopOption)">
                    <span class="sectionHeaderText sectionHeading">{{getOptionText(shopOption.type)}}</span>
                    <br />
                    <i>Select a god to view information about their trial.</i>
                    <br />
                    <div *ngIf="!isMobile">
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader athenaColor"
                                *ngIf="isGodAvailable(godEnum.Athena)"
                                (click)="showTrialOfSkill(godEnum.Athena)">Athena</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader artemisColor"
                                *ngIf="isGodAvailable(godEnum.Artemis)"
                                (click)="showTrialOfSkill(godEnum.Artemis)">Artemis</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader hermesColor"
                                *ngIf="isGodAvailable(godEnum.Hermes)"
                                (click)="showTrialOfSkill(godEnum.Hermes)">Hermes</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader apolloColor"
                                *ngIf="isGodAvailable(godEnum.Apollo)"
                                (click)="showTrialOfSkill(godEnum.Apollo)">Apollo</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader aresColor"
                                *ngIf="isGodAvailable(godEnum.Ares)"
                                (click)="showTrialOfSkill(godEnum.Ares)">Ares</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader hadesColor"
                                *ngIf="isGodAvailable(godEnum.Hades)"
                                (click)="showTrialOfSkill(godEnum.Hades)">Hades</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader nemesisColor"
                                *ngIf="isGodAvailable(godEnum.Nemesis)"
                                (click)="showTrialOfSkill(godEnum.Nemesis)">Nemesis</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader dionysusColor"
                                *ngIf="isGodAvailable(godEnum.Dionysus)"
                                (click)="showTrialOfSkill(godEnum.Dionysus)">Dionysus</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zeusColor"
                                *ngIf="isGodAvailable(godEnum.Zeus)"
                                (click)="showTrialOfSkill(godEnum.Zeus)">Zeus</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader poseidonColor"
                                *ngIf="isGodAvailable(godEnum.Poseidon)"
                                (click)="showTrialOfSkill(godEnum.Poseidon)">Poseidon</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader aphroditeColor"
                                *ngIf="isGodAvailable(godEnum.Aphrodite)"
                                (click)="showTrialOfSkill(godEnum.Aphrodite)">Aphrodite</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader heraColor"
                                *ngIf="isGodAvailable(godEnum.Hera)"
                                (click)="showTrialOfSkill(godEnum.Hera)">Hera</button>
                        </div>
                        <br />
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Aquarius)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Aquarius, 'filtered': selectedZodiac !== zodiacEnum.Aquarius}"
                                    src="assets/svg/Aquarius.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Pisces)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Pisces, 'filtered': selectedZodiac !== zodiacEnum.Pisces}"
                                    src="assets/svg/Pisces.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Aries)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Aries, 'filtered': selectedZodiac !== zodiacEnum.Aries}"
                                    src="assets/svg/Aries.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Taurus)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Taurus, 'filtered': selectedZodiac !== zodiacEnum.Taurus}"
                                    src="assets/svg/Taurus.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Gemini)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Gemini, 'filtered': selectedZodiac !== zodiacEnum.Gemini}"
                                    src="assets/svg/Gemini.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Cancer)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Cancer, 'filtered': selectedZodiac !== zodiacEnum.Cancer}"
                                    src="assets/svg/Cancer.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Leo)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Leo, 'filtered': selectedZodiac !== zodiacEnum.Leo}"
                                    src="assets/svg/Leo.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Virgo)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Virgo, 'filtered': selectedZodiac !== zodiacEnum.Virgo}"
                                    src="assets/svg/Virgo.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Libra)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Libra, 'filtered': selectedZodiac !== zodiacEnum.Libra}"
                                    src="assets/svg/Libra.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Scorpio)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Scorpio, 'filtered': selectedZodiac !== zodiacEnum.Scorpio}"
                                    src="assets/svg/Scorpio.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Sagittarius)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Sagittarius, 'filtered': selectedZodiac !== zodiacEnum.Sagittarius}"
                                    src="assets/svg/Sagittarius.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zodiacButton"
                                (click)="showTrialOfStars(zodiacEnum.Capricorn)"><img class="zodiacImage"
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Capricorn, 'filtered': selectedZodiac !== zodiacEnum.Capricorn}"
                                    src="assets/svg/Capricorn.svg" /></button>
                        </div>
                        <div class="flexGods" *ngIf="selectedZodiac !== zodiacEnum.None">
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Normal'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Normal')">normal</button>
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Hard'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Hard')">hard</button>
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Very Hard'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Very Hard')">very hard</button>
                                <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Ultimate'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Ultimate')">ultimate</button>
                        </div>
                    </div>
                    <div *ngIf="isMobile">
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader athenaColor"
                                *ngIf="isGodAvailable(godEnum.Athena)"
                                (click)="showTrialOfSkill(godEnum.Athena)">Athena</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader artemisColor"
                                *ngIf="isGodAvailable(godEnum.Artemis)"
                                (click)="showTrialOfSkill(godEnum.Artemis)">Artemis</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader hermesColor"
                                *ngIf="isGodAvailable(godEnum.Hermes)"
                                (click)="showTrialOfSkill(godEnum.Hermes)">Hermes</button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader apolloColor"
                                *ngIf="isGodAvailable(godEnum.Apollo)"
                                (click)="showTrialOfSkill(godEnum.Apollo)">Apollo</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader aresColor"
                                *ngIf="isGodAvailable(godEnum.Ares)"
                                (click)="showTrialOfSkill(godEnum.Ares)">Ares</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader hadesColor"
                                *ngIf="isGodAvailable(godEnum.Hades)"
                                (click)="showTrialOfSkill(godEnum.Hades)">Hades</button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader nemesisColor"
                                *ngIf="isGodAvailable(godEnum.Nemesis)"
                                (click)="showTrialOfSkill(godEnum.Nemesis)">Nemesis</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader dionysusColor"
                                *ngIf="isGodAvailable(godEnum.Dionysus)"
                                (click)="showTrialOfSkill(godEnum.Dionysus)">Dionysus</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader zeusColor"
                                *ngIf="isGodAvailable(godEnum.Zeus)"
                                (click)="showTrialOfSkill(godEnum.Zeus)">Zeus</button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader poseidonColor"
                                *ngIf="isGodAvailable(godEnum.Poseidon)"
                                (click)="showTrialOfSkill(godEnum.Poseidon)">Poseidon</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader aphroditeColor"
                                *ngIf="isGodAvailable(godEnum.Aphrodite)"
                                (click)="showTrialOfSkill(godEnum.Aphrodite)">Aphrodite</button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader heraColor"
                                *ngIf="isGodAvailable(godEnum.Hera)"
                                (click)="showTrialOfSkill(godEnum.Hera)">Hera</button>
                        </div>
                        <br />
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Aquarius)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Aquarius, 'filtered': selectedZodiac !== zodiacEnum.Aquarius}"
                                    src="assets/svg/Aquarius.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Pisces)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Pisces, 'filtered': selectedZodiac !== zodiacEnum.Pisces}"
                                    src="assets/svg/Pisces.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Aries)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Aries, 'filtered': selectedZodiac !== zodiacEnum.Aries}"
                                    src="assets/svg/Aries.svg" /></button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Taurus)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Taurus, 'filtered': selectedZodiac !== zodiacEnum.Taurus}"
                                    src="assets/svg/Taurus.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Gemini)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Gemini, 'filtered': selectedZodiac !== zodiacEnum.Gemini}"
                                    src="assets/svg/Gemini.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Cancer)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Cancer, 'filtered': selectedZodiac !== zodiacEnum.Cancer}"
                                    src="assets/svg/Cancer.svg" /></button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Leo)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Leo, 'filtered': selectedZodiac !== zodiacEnum.Leo}"
                                    src="assets/svg/Leo.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Virgo)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Virgo, 'filtered': selectedZodiac !== zodiacEnum.Virgo}"
                                    src="assets/svg/Virgo.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Libra)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Libra, 'filtered': selectedZodiac !== zodiacEnum.Libra}"
                                    src="assets/svg/Libra.svg" /></button>
                        </div>
                        <div class="flexGods">
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Scorpio)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Scorpio, 'filtered': selectedZodiac !== zodiacEnum.Scorpio}"
                                    src="assets/svg/Scorpio.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Sagittarius)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Sagittarius, 'filtered': selectedZodiac !== zodiacEnum.Sagittarius}"
                                    src="assets/svg/Sagittarius.svg" /></button>
                            <button class="buttonAsTextKeepColor clickableText s6Heading pageHeader"
                                (click)="showTrialOfStars(zodiacEnum.Capricorn)"><img
                                    [ngClass]="{'filteredSelected': selectedZodiac === zodiacEnum.Capricorn, 'filtered': selectedZodiac !== zodiacEnum.Capricorn}"
                                    src="assets/svg/Capricorn.svg" /></button>
                        </div>

                        <div class="flexGods" *ngIf="selectedZodiac !== zodiacEnum.None">
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Normal'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Normal')">normal</button>
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Hard'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Hard')">hard</button>
                            <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Very Hard'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Very Hard')">very hard</button>
                                <button [ngClass]="{'selected': selectedZodiacDifficulty === 'Ultimate'}"
                                class="buttonAsText clickableText s6Heading pageHeader smallCaps bold"
                                (click)="setTrialOfStarsDifficulty('Ultimate')">ultimate</button>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div *ngIf="selectedTrialGod !== godEnum.None">
                        <span class="textCentered bold s4Heading pageHeader" [ngClass]="getGodColorClass()"
                            customToolTip [contentTemplate]="trialEnemyPopover"
                            [tooltipDirection]="trialTooltipDirection">{{getSelectedGodName()}}</span>
                        <ng-template #trialEnemyPopover>
                            <app-enemy-description-view
                                [character]="getEnemyTrialBossWithScaledStats()"></app-enemy-description-view>
                        </ng-template>
                        <br />
                        <span>Defeat Count: <span [innerHTML]="getTrialGodDefeatCount()"></span></span>
                        <br />
                        <span>Highest XPS Achieved: <span [innerHTML]="getHighestXpsForTrialGod()"></span></span>
                        <br />
                        <span>Highest DPS Achieved: <span [innerHTML]="getHighestDpsForTrialGod()"></span></span>
                        <br />
                        <span>Highest Total God Levels On Defeat: <span [innerHTML]="getHighestGodLevelsForTrialGod()"></span></span>
                    </div>
                    <div *ngIf="selectedZodiac !== zodiacEnum.None">
                        <span class="textCentered bold s4Heading pageHeader" customToolTip
                            [contentTemplate]="trialEnemyPopover"
                            [tooltipDirection]="trialTooltipDirection">{{getSelectedZodiacName()}}</span>
                        <ng-template #trialEnemyPopover>
                            <app-enemy-description-view
                                [character]="getTrialOfTheStarsBestiary()"></app-enemy-description-view>
                        </ng-template>
                        <br />
                        <span>Defeat Count: <span [innerHTML]="getTrialOfTheStarsDefeatCount()"></span></span>
                        <br />
                        <span>Highest XPS Achieved: <span [innerHTML]="getHighestXpsForTrialOfTheStars()"></span></span>
                        <br />
                        <span>Highest DPS Achieved: <span [innerHTML]="getHighestDpsForTrialOfTheStars()"></span></span>
                    </div>
                </div>

                <div *ngIf="!isShopOptionTrialOfSkill(shopOption) && !isShopOptionColiseum(shopOption)">
                    <span class="sectionHeaderText sectionHeading">{{getOptionText(shopOption.type)}}</span>
                    <br />
                    <div class="item" *ngFor="let item of getShopOptionItems(shopOption); let j = index">
                        <span *ngIf="!itemIsMaterial(item.shopItem)" [ngClass]="getItemClass(item.shopItem)"
                            customToolTip [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="itemDescriptionContent"
                            [innerHtml]="getItemName(item.shopItem, true)"></span>
                        <app-resource-item-view *ngIf="itemIsMaterial(item.shopItem)" [resource]="item.shopItem"
                            [canSetTrackingResource]="false"></app-resource-item-view>
                        <ng-template #itemDescriptionContent>
                            <div *ngIf="getItemName(item.shopItem, true) !== nameHiddenText" class="popoverClass">
                                <span *ngIf="!itemIsMaterial(item.shopItem) && !itemIsEquipment(item.shopItem)"
                                    [innerHTML]="lookupService.getItemDescription(item.shopItem)"></span>
                                <app-equipment-item-view *ngIf="itemIsEquipment(item.shopItem)"
                                    [equipment]="lookupService.getEquipmentPieceByItemType(item.shopItem)"></app-equipment-item-view>
                            </div>
                            <span *ngIf="getItemName(item.shopItem, true) === nameHiddenText">{{nameHiddenText}}</span>
                        </ng-template>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div *ngIf="selectedSubzone !== undefined && !isTown() && !isAltarOfAsclepius()" class="info textCentered">
            <button class="buttonAsText clickableText s2Heading pageHeader"
                (click)="goToSubzone(selectedSubzone.type)">{{balladService.getSubZoneName(selectedSubzone.type)}}</button>
            <!--<span class="s2Heading pageHeader">{{balladService.getSubZoneName(selectedSubzone.type)}}</span>-->
            <br />
            <span class="smallCaps bold">subzone</span>
            <br />
            <span>Highest XPS Achieved: <span [innerHTML]="getHighestXps(selectedSubzone)"></span></span>
            <br />
            <span>Highest DPS Achieved: <span [innerHTML]="getHighestDps(selectedSubzone)"></span></span>
            <br />
            <button class="buttonStyled" (click)="jumpToAchievements()">View Achievements</button>
            <br />
            <br />
            <span class="sectionHeaderText sectionHeading">enemies</span>
            <br />
            <span>{{getEnemiesDefeated()}} / {{enemyList.length}} enemies defeated</span>
            <br />
            <br />
            <div class="enemyList">
                <div class="enemy" *ngFor="let enemy of enemyList; let i = index">
                    <span [innerHtml]="getEnemyName(enemy)" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="enemyPopover"></span>
                    <ng-template #enemyPopover>
                        <app-enemy-description-view *ngIf="getEnemyName(enemy) !== nameHiddenText"
                            [character]="enemy"></app-enemy-description-view>
                        <span *ngIf="getEnemyName(enemy) === nameHiddenText">{{nameHiddenText}}</span>
                    </ng-template>
                </div>
            </div>
            <hr />
            <span class="sectionHeaderText sectionHeading">encounters</span>
            <br />
            <span>Each encounter has a {{getSubzoneEncounterChance()}}% chance to occur.</span>
            <br />
            <br />
            <div class="enemyEncounterList">
                <div class="encounter" *ngFor="let encounter of enemyEncounters; let i = index">
                    <strong>Encounter {{i + 1}}</strong>
                    <br />
                    <span [innerHtml]="getEnemyEncounter(encounter)" customToolTip [tooltipDirection]="tooltipDirection"
                        [contentTemplate]="enemyEncounterPopover"></span>
                    <ng-template #enemyEncounterPopover>
                        <span>Hover enemy name in the "Enemies" section above to view details.</span>
                    </ng-template>
                </div>
            </div>
            <hr />
            <span class="sectionHeaderText sectionHeading">items</span>
            <br />
            <span>Total Items Available: {{totalItemsAvailable()}}</span>
            <br />
            <br />
            <div class="itemList">
                <div *ngIf="availableItems.length > 0" class="smallCaps bold subheader">loot</div>
                <div class="item" *ngFor="let item of availableItems; let i = index">
                    <span *ngIf="!itemIsMaterial(item.item)" [ngClass]="getItemClass(item.item)" customToolTip
                        [tooltipDirection]="itemTooltipDirection" [contentTemplate]="itemDescriptionContent"
                        [innerHtml]="getItemName(item.item)"></span>
                    <app-resource-item-view *ngIf="itemIsMaterial(item.item)" [resource]="item.item"
                        [canSetTrackingResource]="false"></app-resource-item-view>
                    <ng-template #itemDescriptionContent>
                        <div *ngIf="getItemName(item.item) !== nameHiddenText" class="popoverClass">
                            <span *ngIf="!itemIsMaterial(item.item) && !itemIsEquipment(item.item)"
                                [innerHTML]="lookupService.getItemDescription(item.item)"></span>
                            <app-equipment-item-view *ngIf="itemIsEquipment(item.item)"
                                [equipment]="lookupService.getEquipmentPieceByItemType(item.item)"></app-equipment-item-view>
                        </div>
                        <span *ngIf="getItemName(item.item) === nameHiddenText">{{nameHiddenText}}</span>
                    </ng-template>
                </div>
                <br />
                <div *ngIf="availableTreasure.length > 0" class="smallCaps bold subheader">treasure</div>
                <div class="item" *ngFor="let item of availableTreasure; let i = index">
                    <span *ngIf="!itemIsMaterial(item.item)" [ngClass]="getItemClass(item.item)" customToolTip
                        [tooltipDirection]="itemTooltipDirection" [contentTemplate]="itemDescriptionContent"
                        [innerHtml]="getItemName(item.item)"></span><span *ngIf="!itemIsMaterial(item.item)">
                        ({{getTreasureChestChance()}})</span>
                    <div *ngIf="itemIsMaterial(item.item)">
                        <app-resource-item-view [resource]="item.item"
                            [canSetTrackingResource]="false"></app-resource-item-view> <span>
                            ({{getTreasureChestChance()}})</span>
                    </div>
                    <ng-template #itemDescriptionContent>
                        <div *ngIf="getItemName(item.item) !== nameHiddenText" class="popoverClass">
                            <span *ngIf="!itemIsMaterial(item.item) && !itemIsEquipment(item.item)"
                                [innerHTML]="lookupService.getItemDescription(item.item)"></span>
                            <app-equipment-item-view *ngIf="itemIsEquipment(item.item)"
                                [equipment]="lookupService.getEquipmentPieceByItemType(item.item)"></app-equipment-item-view>
                        </div>
                        <span *ngIf="getItemName(item.item) === nameHiddenText">{{nameHiddenText}}</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>