.bestiaryView {
    height:100%;
    background-color: var(--background-default);
    border-color: var(--background-header);
    color: var(--foreground-default);
}

.balladView {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas: 
      "options vr info";
}

.options {
    grid-area: options;
}

.info {
    grid-area: info;
}

.defaultBallad, .defaultZone, .defaultSubzone {
    color: var(--foreground-default);
}

.selectedBallad {
    color: var(--foreground-secondary) !important;
}

.enemyList, .enemyEncounterList, .itemList {
    width: 100%;
    text-align: left;
}

.enemy, .encounter, .item { 
    width: 25%;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
}

.vr {
    display: flex;
    height: 100%;
}

.spacer {
    grid-area: vr;
}

.vrHr {
    margin: 0 1rem;
    padding: 0;
    height: auto;
}

.zoneSpacer {
    margin-left: .5rem;
}

.subzoneSpacer {
    margin-left: 1rem;
}

.eachBallad {
    margin-bottom: .5rem;
}

.subheader {
    text-align: center;
}