.flexBetween {
    display: flex;
    justify-content: space-between;
}

.gridContainer {
    display: grid;    
    height: 100%;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto 1fr auto;
    row-gap: 2rem;
    justify-content: stretch;
    grid-template-areas:
        "godInfo godInfo godInfo"
        "godPrimaryStats godSecondaryStats godUpcoming"
        "godAbilities godAbilities godUpcoming";
}

.godPrimaryStats {
    grid-area: godPrimaryStats;
}

.godSecondaryStats {
    grid-area: godSecondaryStats;
}

.godAbilities {
    grid-area: godAbilities;
    margin-bottom: 1rem;
}

.clickableText {
    font-size: 1rem;
}

.godInfo {
    grid-area: godInfo;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        "traverseUp baseInfo traverseDown";
}

.traverseUp {
    grid-area: traverseUp;
}

.traverseDown {
    grid-area: traverseDown;
}

.godUpcoming {
    grid-area: godUpcoming;
}

.baseInfo {
    text-align: center;
    grid-area: baseInfo;
}

.leftAlignText {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.leftShift {
    margin-left: 5rem;
}

.flex {
    display: flex;
}

.obtainableCount {
    font-style: italic;
}

.statValue {
    vertical-align: middle;
}

.slimMargin {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

@media (max-width: 800px) {
    .webVersion {
        display: none;
    }

    .gridContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        row-gap: 1.75rem;
        justify-content: stretch;
        grid-template-areas:
            "godInfo godInfo"
            "godPrimaryStats godSecondaryStats"
            "godUpcoming godUpcoming"
            "godAbilities godAbilities";
    }

    .dropdownIcon {
        height: 1rem;
    }

    .godInfo {
        grid-template-columns: 1fr 2fr 1fr;       
    }
}