<div class="gridContainer">
    <div class="godInfo">
        <div class="baseInfo">
            <span class="s2Heading pageHeader" [ngClass]="getGodColor()">{{god.name}}</span>
            <br />
            <span>Level {{god.level}}</span>
            <br />
            <span>{{god.exp | number : '1.0-0'}} / {{god.expToNextLevel | number : '1.0-0'}} XP to Level {{god.level +
                1}}</span>
        </div>
    </div>
    <div class="godStats">
        <div class="leftAlignText">
            <span class="sectionHeaderText sectionHeading">Stats</span>
            <div class="sectionInfo">
            <span><strong>Max HP:</strong> {{god.statGain.maxHp | number : '1.0-0'}}</span>
            <br />
            <span><strong>Attack:</strong> {{god.statGain.attack | number : '1.0-0'}}</span>
            <br />
            <span><strong>Agility:</strong> {{god.statGain.agility | number : '1.0-0'}}</span>
            <br />
            <span><strong>Luck:</strong> {{god.statGain.luck | number : '1.0-0'}}</span>
            <br />
            <span><strong>Defense:</strong> {{god.statGain.defense | number : '1.0-0'}}</span>
            <br />
            <span><strong>Resistance:</strong> {{god.statGain.resistance | number : '1.0-0'}}</span>
            </div>
        </div>
    </div>

    <div class="godUpcoming">
        <span class="sectionHeaderText sectionHeading">Upcoming Level Rewards</span>        
        <div class="sectionInfo">
        <div [innerHtml]="getGodLevelRewards()">
        </div>
        </div>
    </div>

    <div class="godAbilities">
        <span class="sectionHeaderText sectionHeading">Abilities</span><span>
            <span class="s5Heading leftShift">Ability stats based on: <select [(ngModel)]="characterTemplate">
                    <option *ngFor="let character of characters" [value]="character.type">{{character.name}}
                    </option>
                </select>
            </span></span>
        <div class="sectionInfo">
            <div *ngFor="let ability of god.abilityList">
                <strong [ngClass]="getGodColor()">{{ability.name}}</strong> - <span
                    [innerHtml]="getGodAbilityDescription(ability.name, ability)"></span>
            </div>
        </div>
    </div>
</div>