<div class="gridContainer">
    <div class="godInfo">
        <div class="traverseUp">
            <div *ngIf="isMobile && hasMoreThanOneGod()" class="centeredText">
                <button class="buttonStyled" (click)="traverseSubMenu(-1)"><img class="dropdownIcon"
                        src="assets/svg/uparrow.svg"></button>
            </div>
        </div>
        <div class="baseInfo">
            <span class="s2Heading pageHeader" [ngClass]="getGodColor()">{{god.name}}</span>
            <br />
            <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="godXpPopover">Level
                {{god.level}}</span>
            <br />
            <span customToolTip [tooltipDirection]="tooltipDirection" [contentTemplate]="godXpPopover">{{god.exp |
                number : '1.0-0'}} / {{god.expToNextLevel | number : '1.0-0'}} XP to Level {{god.level +
                1}}</span>
        </div>
        <div class="traverseDown">
            <div *ngIf="isMobile && hasMoreThanOneGod()" class="centeredText">
                <button class="buttonStyled" (click)="traverseSubMenu(1)"><img class="dropdownIcon"
                        src="assets/svg/dropdown.svg"></button>
            </div>
        </div>
    </div>
    <div class="godPrimaryStats">
        <span class="sectionHeaderText sectionHeading">{{isMobile ? "Primary Stats" : "Primary Stat Bonuses"}}</span>
        <div class="sectionInfo">
            <div class="primaryStats">
                <span *ngIf="getMaxHpBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="maxHpPopover"><strong [ngClass]="getGodColor()" class="statLabel">Max
                        HP: </strong><span class="statValue"> {{getMaxHpBonus() | number : '1.0-0'}}
                    </span><br /></span>
                <span *ngIf="getAttackBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="attackPopover"><strong [ngClass]="getGodColor()" class="statLabel">Attack:
                    </strong>
                    <span class="statValue">{{getAttackBonus() | number : '1.0-0'}}
                    </span>
                    <br />
                </span>
                <span *ngIf="getAgilityBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="agilityPopover"><strong [ngClass]="getGodColor()" class="statLabel">Agility:
                    </strong>
                    <span class="statValue">{{getAgilityBonus() | number :
                        '1.0-0'}}</span>
                    <br />
                </span>
                <span *ngIf="getDefenseBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="defensePopover"><strong [ngClass]="getGodColor()" class="statLabel">Defense:
                    </strong>
                    <span class="statValue">{{getDefenseBonus() | number :
                        '1.0-0'}}</span>
                    <br />
                </span>
                <span *ngIf="getLuckBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="luckPopover"><strong [ngClass]="getGodColor()" class="statLabel">Luck: </strong>
                    <span class="statValue">{{getLuckBonus() | number : '1.0-0'}}</span>
                    <br /></span>
                <span *ngIf="getResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="resistancePopover"><strong [ngClass]="getGodColor()"
                        class="statLabel">Resistance:
                    </strong> <span class="statValue">{{getResistanceBonus() | number :
                        '1.0-0'}}</span></span>
            </div>
        </div>
    </div>
    <div class="godSecondaryStats">
        <span class="sectionHeaderText sectionHeading">{{isMobile ? "Secondary Stats" : "Secondary Stat Bonuses"}}</span>
        <div class="sectionInfo secondaryStats">
            <span *ngIf="getPartyMaxHpBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyMaxHpPopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Max HP Bonus:
                </strong> <span class="statValue">{{getPartyMaxHpBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getPartyAttackBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyAttackPopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Attack Bonus:
                </strong> <span class="statValue">{{getPartyAttackBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getPartyAgilityBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyAgilityPopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Agility Bonus:
                </strong> <span class="statValue">{{getPartyAgilityBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getPartyDefenseBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyDefensePopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Defense Bonus:
                </strong> <span class="statValue">{{getPartyDefenseBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getPartyLuckBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyLuckPopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Luck Bonus:
                </strong> <span class="statValue">{{getPartyLuckBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getPartyResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="partyResistancePopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party Resistance Bonus:
                </strong> <span class="statValue">{{getPartyResistanceBonus() | number :
                    '1.0-0'}}</span><br /></span>
            <span *ngIf="getHpRegenBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="hpRegenPopover"><strong [ngClass]="getGodColor()" class="statLabel">HP
                    Regen:</strong>
                {{getHpRegenBonus() | number :
                '1.0-2'}} HP /
                5 seconds<br /></span>
            <span *ngIf="getCriticalMultiplierBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="criticalMultiplierPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Critical
                    Damage Bonus:</strong>
                {{(getCriticalMultiplierBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAbilityCooldownReductionBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="abilityCooldownReductionPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Ability
                    Cooldown Reduction:</strong>
                {{getAbilityCooldownReductionBonus() * 100 | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAutoAttackCooldownBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="autoAttackCooldownReductionPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Auto
                    Attack Cooldown Reduction:</strong>
                {{getAutoAttackCooldownBonus() * 100 | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getArmorPenetrationBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="armorPenetrationPopover"><strong [ngClass]="getGodColor()" class="statLabel">Armor
                    Penetration:</strong>
                {{(getArmorPenetrationBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getOverdriveGainBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="overdriveGainBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Overdrive Gain Bonus:</strong>
                {{(getOverdriveGainBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getHealingReceivedBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="healingReceivedBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Healing Received Bonus:</strong>
                {{(getHealingReceivedBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getDebuffDurationBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="debuffDurationBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Debuff Duration Bonus:</strong>
                {{(getDebuffDurationBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getOverdriveGainFromAutoAttacksBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="overdriveGainFromAutoAttacksBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Overdrive Gain From Auto Attacks Bonus:</strong>
                {{(getOverdriveGainFromAutoAttacksBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getHealingDoneBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="healingDoneBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Healing
                    Done Bonus:</strong>
                {{(getHealingDoneBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getTickFrequencyBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="tickFrequencyPopover"><strong [ngClass]="getGodColor()" class="statLabel">Tick
                    Frequency Bonus:</strong>
                {{(getTickFrequencyBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAoeDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="aoeDamagePopover"><strong [ngClass]="getGodColor()" class="statLabel">Multiple Target
                    Damage Bonus:</strong>
                {{(getAoeDamageBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getThornsBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="thornsPopover"><strong [ngClass]="getGodColor()" class="statLabel">Thorns:</strong>
                {{(getThornsBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAbilityCooldownReductionWithBuffsBonus() > 0" customToolTip
                [tooltipDirection]="tooltipDirection"
                [contentTemplate]="abilityCooldownReductionWithBuffsPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Ability Cooldown Reduction With Buffs:</strong>
                {{(getAbilityCooldownReductionWithBuffsBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAbilityCooldownReductionStartBonus() > 0" customToolTip
                [tooltipDirection]="tooltipDirection" [contentTemplate]="abilityCooldownReductionStartPopover"><strong
                    [ngClass]="getGodColor()" class="statLabel">Ability Cooldown Reduction Entering Subzone:</strong>
                {{(getAbilityCooldownReductionStartBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getHolyDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="holyDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Holy
                    Damage
                    Bonus:</strong> {{(getHolyDamageBonus() *
                100)
                | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getFireDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="fireDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Fire
                    Damage
                    Bonus:</strong> {{(getFireDamageBonus() *
                100)
                | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getLightningDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="lightningDamageBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Lightning
                    Damage Bonus:</strong>
                {{(getLightningDamageBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAirDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="airDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Air Damage
                    Bonus:</strong> {{(getAirDamageBonus() *
                100) |
                number : '1.0-2'}}%<br /></span>
            <span *ngIf="getWaterDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="waterDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Water
                    Damage
                    Bonus:</strong> {{(getWaterDamageBonus()
                *
                100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getEarthDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="earthDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Earth
                    Damage
                    Bonus:</strong> {{(getEarthDamageBonus()
                *
                100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getHolyResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="holyResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Holy
                    Resistance Bonus:</strong>
                {{(getHolyResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getFireResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="fireResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Fire
                    Resistance Bonus:</strong>
                {{(getFireResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getLightningResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="lightningResistanceBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Lightning
                    Resistance Bonus:</strong>
                {{(getLightningResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAirResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="airResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Air
                    Resistance
                    Bonus:</strong>
                {{(getAirResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getWaterResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="waterResistanceBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Water
                    Resistance Bonus:</strong>
                {{(getWaterResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getEarthResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="earthResistanceBonusPopover"><strong [ngClass]="getGodColor()"
                    class="statLabel">Earth
                    Resistance Bonus:</strong>
                {{(getEarthResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
                <span *ngIf="getPartyXpGainBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="partyXpGainPopover"><strong [ngClass]="getGodColor()" class="statLabel">Permanent Party XP Gain Bonus:
                    </strong> <span class="statValue">{{getPartyXpGainBonus() * 100 | number :
                        '1.0-2'}}%</span><br/></span>
        </div>
    </div>

    <div class="godUpcoming">
        <span class="sectionHeaderText sectionHeading">Upcoming Level Rewards</span>
        <div class="sectionInfo">
            <div [innerHtml]="getGodLevelRewards()">
            </div>
        </div>
    </div>

    <div class="godAbilities">
        <span class="sectionHeaderText sectionHeading">Abilities</span>
        <div class="sectionInfo">
            <div *ngFor="let ability of abilityList">
                <strong class="statLabel" [ngClass]="getGodColor()" customToolTip [isLargeTooltip]="true"
                    [tooltipDirection]="affinityTooltipDirection"
                    [contentTemplate]="abilityPopover">{{ability.name}}</strong> - <span class="statValue"
                    [innerHtml]="getGodAbilityDescription(ability.name, ability)"></span>
                <ng-template #abilityPopover>
                    <div>
                        Ability Upgrade Level {{getAbilityUpgradeLevel(ability)}}
                        <hr />
                        <div
                            *ngIf="getPermanentAbilityEffectivenessIncrease(ability) !== 0 && getPermanentAbilityEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Permanent Effectiveness Increase: </span> <span class="statValue"
                                [innerHtml]="getPermanentAbilityEffectivenessIncrease(ability)"></span></div>
                        <div
                            *ngIf="getAbilityEffectivenessIncrease(ability) !== 0 && getAbilityEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Effectiveness Increase: </span> <span class="statValue"
                                [innerHtml]="getAbilityEffectivenessIncrease(ability)"></span></div>
                        <div
                            *ngIf="getSecondaryAbilityEffectivenessIncrease(ability) !== 0 && getSecondaryAbilityEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Additional Ability Effect Effectiveness Increase: </span> <span
                                class="statValue"
                                [innerHtml]="getSecondaryAbilityEffectivenessIncrease(ability)"></span></div>
                        <div *ngIf="getAbilityEffectCountIncrease(ability) !== 0"><span class="statLabel">Effect Count
                                Increase: </span> <span class="statValue"
                                [innerHtml]="getAbilityEffectCountIncrease(ability)"></span></div>
                        <div *ngIf="getAbilityEffectMaxCountIncrease(ability) !== 0"><span class="statLabel">Effect
                                Count Increase: </span> <span class="statValue"
                                [innerHtml]="getAbilityEffectMaxCountIncrease(ability)"></span></div>
                                <div
                            *ngIf="getPermanentAbilityUserEffectEffectivenessIncrease(ability) !== 0 && getPermanentAbilityUserEffectEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Permanent Gained Effect Effectiveness Increase: </span> <span
                                class="statValue"
                                [innerHtml]="getPermanentAbilityUserEffectEffectivenessIncrease(ability)"></span></div>
                        <div *ngIf="getPermanentAbilityUserEffectDurationIncrease(ability) !== 0"><span class="statLabel">Permanent Gained
                                Effect Duration Increase: </span> <span class="statValue"
                                [innerHtml]="getPermanentAbilityUserEffectDurationIncrease(ability)"></span> seconds</div>
                        <div
                            *ngIf="getAbilityUserEffectEffectivenessIncrease(ability) !== 0 && getAbilityUserEffectEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Gained Effect Effectiveness Increase: </span> <span
                                class="statValue"
                                [innerHtml]="getAbilityUserEffectEffectivenessIncrease(ability)"></span></div>
                        <div *ngIf="getAbilityUserEffectDurationIncrease(ability) !== 0"><span class="statLabel">Gained
                                Effect Duration Increase: </span> <span class="statValue"
                                [innerHtml]="getAbilityUserEffectDurationIncrease(ability)"></span> seconds</div>
                                <div
                                *ngIf="getPermanentAbilityTargetEffectEffectivenessIncrease(ability) !== 0 && getPermanentAbilityTargetEffectEffectivenessIncrease(ability) !== '0%'">
                                <span class="statLabel">Permanent Targeted Effect Effectiveness Increase: </span> <span
                                    class="statValue"
                                    [innerHtml]="getPermanentAbilityTargetEffectEffectivenessIncrease(ability)"></span></div>
                            <div *ngIf="getPermanentAbilityTargetEffectDurationIncrease(ability) !== 0"><span
                                    class="statLabel">Permanent Targeted Effect Duration Increase: </span> <span class="statValue"
                                    [innerHtml]="getPermanentAbilityTargetEffectDurationIncrease(ability)"></span> seconds</div>
                                <div
                            *ngIf="getAbilityTargetEffectEffectivenessIncrease(ability) !== 0 && getAbilityTargetEffectEffectivenessIncrease(ability) !== '0%'">
                            <span class="statLabel">Targeted Effect Effectiveness Increase: </span> <span
                                class="statValue"
                                [innerHtml]="getAbilityTargetEffectEffectivenessIncrease(ability)"></span></div>
                        <div *ngIf="getAbilityTargetEffectDurationIncrease(ability) !== 0"><span
                                class="statLabel">Targeted Effect Duration Increase: </span> <span class="statValue"
                                [innerHtml]="getAbilityTargetEffectDurationIncrease(ability)"></span> seconds</div>
                        <div *ngIf="getAbilityCooldownReduction(ability) !== 0"><span class="statLabel">Cooldown
                                Reduction: </span> <span class="statValue"
                                [innerHtml]="getAbilityCooldownReduction(ability)"></span> seconds</div>
                    </div>
                </ng-template>

            </div>
        </div>
        <br /><br />
        <span class="sectionHeaderText sectionHeading">Affinity</span>
        <div class="sectionInfo">
            <span class="statLabel" [ngClass]="getGodColor()" customToolTip [isLargeTooltip]="true"
                [tooltipDirection]="affinityTooltipDirection" [contentTemplate]="affinityPopover">Affinity Level
                {{god.affinityLevel}}</span>
            <br />
            <span>{{god.affinityExp | number : '1.0-0'}} / {{god.affinityExpToNextLevel | number : '1.0-0'}} XP to <span
                    class="statLabel" [ngClass]="getGodColor()">Affinity Level {{god.affinityLevel +
                    1}}</span></span>
            <br />
            <span><span class="statLabel" [ngClass]="getGodColor()">Next Reward: </span> <span
                    class="statValue">{{getNextAffinityReward()}}</span></span>
        </div>
    </div>
</div>


<ng-template #maxHpPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getMaxHpDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodMaxHpStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #attackPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAttackDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAttackStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #agilityPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAgilityDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAgilityStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #luckPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getLuckDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodLuckStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #defensePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getDefenseDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodDefenseStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #resistancePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getResistanceDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodResistanceStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #partyXpGainPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyXpGainDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyXpGainStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyAttackPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyAttackDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyAttackStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyDefensePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyDefenseDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyDefenseStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyAgilityPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyAgilityDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyAgilityStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyMaxHpPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyMaxHpDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyMaxHpStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyResistancePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyResistanceDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyResistanceStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #partyLuckPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getPartyLuckDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodPartyLuckStatBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #hpRegenPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHpRegenDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodHpRegenStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #criticalMultiplierPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getCriticalMultiplierDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodCriticalMultiplierStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #overdriveGainBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getOverdriveGainBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodOverdriveGainBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #healingReceivedBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHealingReceivedBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodHealingReceivedBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #debuffDurationBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getDebuffDurationBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodDebuffDurationBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #overdriveGainFromAutoAttacksBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getOverdriveGainFromAutoAttacksBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodOverdriveGainFromAutoAttacksBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #healingDoneBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHealingDoneBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodHealingDoneBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #armorPenetrationPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getArmorPenetrationDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodArmorPenetrationStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAbilityCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodAbilityCooldownReductionStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #autoAttackCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAutoAttackCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodAutoAttackCooldownReductionStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionWithBuffsPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getAbilityCooldownReductionWithBuffsBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodAbilityCooldownReductionWithBuffsBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionStartPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getAbilityCooldownReductionStartBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodAbilityCooldownReductionStartBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #thornsPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getThornsBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodThornsBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #aoeDamagePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAoeDamageBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAoeDamageBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #tickFrequencyPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getTickFrequencyBonusDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodTickFrequencyBonusStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #holyDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #earthDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Earth')">

        </div>
    </div>
</ng-template>

<ng-template #airDamageBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #holyResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #airResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #earthResistanceBonusPopover>
    <div>
        <span class="description"
            [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"
            [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Earth')">

        </div>
    </div>
</ng-template>

<ng-template #godXpPopover>
    <div>
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodXpBreakdown(this.god)">
        </div>
    </div>
</ng-template>

<ng-template #affinityPopover>
    <div>
        <div *ngIf="god.affinityLevel === 0">
            Raise {{god.name}}'s affinity level by praying at altars.
        </div>
        <div *ngIf="god.affinityLevel > 0">
            <span class='bold smallCaps'>affinity bonuses</span>
            <br *ngIf="getBoonDurationIncrease() !== '0%'" />
            <span *ngIf="getBoonDurationIncrease() !== '0%'"><span>Base Boon Duration Increase: </span> <span
                    class="statValue" [innerHtml]="getBoonDurationIncrease()"></span></span>
            <br *ngIf="getBoonEffectivenessIncrease() !== '0%'" />
            <span *ngIf="getBoonEffectivenessIncrease() !== '0%'"><span>Base Boon Effectiveness Increase: </span> <span
                    class="statValue" [innerHtml]="getBoonEffectivenessIncrease()"></span></span>
            <br *ngIf="getAffinityGodXpIncrease() !== '0%'" />
            <span *ngIf="getAffinityGodXpIncrease() !== '0%'"><span>God XP Increase: </span> <span class="statValue"
                    [innerHtml]="getAffinityGodXpIncrease()"></span></span>
            <br *ngIf="getAffinitySmallCharmCount() !== 0" />
            <span *ngIf="getAffinitySmallCharmCount() !== 0"><span>Small Charms: </span> <span class="statValue"
                    [innerHtml]="getAffinitySmallCharmCount()"></span></span>
            <br *ngIf="getAffinityLargeCharmCount() !== 0" />
            <span *ngIf="getAffinityLargeCharmCount() !== 0"><span>Large Charms: </span> <span class="statValue"
                    [innerHtml]="getAffinityLargeCharmCount()"></span></span>
        </div>
        <hr />
        <div *ngIf="areAltarsAvailable">
            <span class='bold smallCaps'>small altar effects</span>
            <br />
            <div [innerHtml]="getSmallAltarEffectDescriptions()"></div>
        </div>
        <br *ngIf="areLargeAltarsAvailable" />
        <div *ngIf="areLargeAltarsAvailable">
            <span class='bold smallCaps'>large altar effects</span>
            <br />
            <div [innerHtml]="getLargeAltarEffectDescriptions()"></div>
        </div>
    </div>
</ng-template>