.gridContainer {
    display: grid;
    margin-right: 3rem;
    height: 100%;
    grid-template-columns: 66% 34%;
    grid-template-rows: .5fr 1fr 1fr;
    justify-content: stretch;
    grid-template-areas:
        "godInfo godInfo"
        "godStats godUpcoming"
        "godAbilities godUpcoming";
}

.godStats {
    grid-area: godStats;
}

.godAbilities {
    grid-area: godAbilities;
}

.godInfo {
    grid-area: godInfo;
}

.godUpcoming {
    grid-area: godUpcoming;
}

.baseInfo {
    text-align: center;
    grid-area: baseInfo;
}

.leftAlignText {
    text-align: left;
    display: inline-block;
}

.leftShift {
    margin-left: 5rem;
}