<div class="gridContainer">
    <div class="godInfo">
        <div class="baseInfo">
            <span class="s2Heading pageHeader" [ngClass]="getGodColor()">{{god.name}}</span>
            <br />
            <span>Level {{god.level}}</span>
            <br />
            <span>{{god.exp | number : '1.0-0'}} / {{god.expToNextLevel | number : '1.0-0'}} XP to Level {{god.level +
                1}}</span>
        </div>
    </div>
    <div class="godPrimaryStats">
        <span class="sectionHeaderText sectionHeading">Primary Stat Bonuses</span>
        <div class="sectionInfo">
            <div class="primaryStats">
                <span *ngIf="getMaxHpBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="maxHpPopover"><strong [ngClass]="getGodColor()" class="statLabel">Max
                        HP: </strong><span class="statValue"> {{getMaxHpBonus() | number : '1.0-0'}}
                    </span><br /></span>                
                <span *ngIf="getAttackBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="attackPopover"><strong [ngClass]="getGodColor()" class="statLabel">Attack:
                    </strong>
                    <span class="statValue">{{getAttackBonus() | number : '1.0-0'}}
                    </span>
                <br />
                </span>
                <span *ngIf="getAgilityBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="agilityPopover"><strong [ngClass]="getGodColor()" class="statLabel">Agility:
                    </strong>
                    <span class="statValue">{{getAgilityBonus() | number :
                        '1.0-0'}}</span>
                <br />
                </span>
                <span *ngIf="getLuckBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="luckPopover"><strong [ngClass]="getGodColor()" class="statLabel">Luck: </strong>
                    <span class="statValue">{{getLuckBonus() | number : '1.0-0'}}</span>
                 <br /></span>               
                <span *ngIf="getDefenseBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="defensePopover"><strong [ngClass]="getGodColor()" class="statLabel">Defense:
                    </strong>
                    <span class="statValue">{{getDefenseBonus() | number :
                        '1.0-0'}}</span>
                <br />
                </span>
                <span *ngIf="getResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                    [contentTemplate]="resistancePopover"><strong [ngClass]="getGodColor()"
                        class="statLabel">Resistance:
                    </strong> <span class="statValue">{{getResistanceBonus() | number :
                        '1.0-0'}}</span></span>
            </div>
        </div>
    </div>
    <div class="godSecondaryStats">
        <span class="sectionHeaderText sectionHeading">Secondary Stat Bonuses</span>
        <div class="sectionInfo secondaryStats">
            <span *ngIf="getHpRegenBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="hpRegenPopover"><strong [ngClass]="getGodColor()" class="statLabel">HP
                    Regen:</strong>
                {{getHpRegenBonus() | number :
                '1.0-2'}} HP /
                5 seconds<br /></span>
            <span *ngIf="getCriticalMultiplierBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="criticalMultiplierPopover"><strong [ngClass]="getGodColor()" class="statLabel">Critical
                    Damage Bonus:</strong>
                {{(getCriticalMultiplierBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAbilityCooldownReductionBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="abilityCooldownReductionPopover"><strong [ngClass]="getGodColor()" class="statLabel">Ability
                    Cooldown Reduction:</strong>
                {{getAbilityCooldownReductionBonus() | number : '1.0-2'}} sec<br /></span>
            <span *ngIf="getAutoAttackCooldownBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="autoAttackCooldownReductionPopover"><strong [ngClass]="getGodColor()" class="statLabel">Auto
                    Attack Cooldown Reduction:</strong>
                {{getAutoAttackCooldownBonus() | number : '1.0-2'}} sec<br /></span>
            <span *ngIf="getHolyDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="holyDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Holy Damage
                    Bonus:</strong> {{(getHolyDamageBonus() *
                100)
                | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getFireDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="fireDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Fire Damage
                    Bonus:</strong> {{(getFireDamageBonus() *
                100)
                | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getLightningDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="lightningDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Lightning
                    Damage Bonus:</strong>
                {{(getLightningDamageBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAirDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="airDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Air Damage
                    Bonus:</strong> {{(getAirDamageBonus() *
                100) |
                number : '1.0-2'}}%<br /></span>
            <span *ngIf="getWaterDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="waterDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Water Damage
                    Bonus:</strong> {{(getWaterDamageBonus()
                *
                100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getEarthDamageBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="earthDamageBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Earth Damage
                    Bonus:</strong> {{(getEarthDamageBonus()
                *
                100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getHolyResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="holyResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Holy
                    Resistance Bonus:</strong>
                {{(getHolyResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getFireResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="fireResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Fire
                    Resistance Bonus:</strong>
                {{(getFireResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getLightningResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="lightningResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Lightning
                    Resistance Bonus:</strong>
                {{(getLightningResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getAirResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="airResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Air Resistance
                    Bonus:</strong>
                {{(getAirResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getWaterResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="waterResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Water
                    Resistance Bonus:</strong>
                {{(getWaterResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
            <span *ngIf="getEarthResistanceBonus() > 0" customToolTip [tooltipDirection]="tooltipDirection"
                [contentTemplate]="earthResistanceBonusPopover"><strong [ngClass]="getGodColor()" class="statLabel">Earth
                    Resistance Bonus:</strong>
                {{(getEarthResistanceBonus() * 100) | number : '1.0-2'}}%<br /></span>
        </div>
    </div>

    <div class="godUpcoming">
        <span class="sectionHeaderText sectionHeading">Upcoming Level Rewards</span>
        <div class="sectionInfo">
            <div [innerHtml]="getGodLevelRewards()">
            </div>
        </div>
    </div>

    <div class="godAbilities">
        <span class="sectionHeaderText sectionHeading">Abilities</span><span>
            <span class="s5Heading leftShift">Ability stats based on: <select [(ngModel)]="characterTemplate">
                    <option *ngFor="let character of characters" [value]="character.type">{{character.name}}
                    </option>
                </select>
            </span></span>
        <div class="sectionInfo">
            <div *ngFor="let ability of abilityList">
                <strong class="statLabel" [ngClass]="getGodColor()">{{ability.name}}</strong> - <span class="statValue"
                    [innerHtml]="getGodAbilityDescription(ability.name, ability)"></span>
            </div>
        </div>
    </div>
</div>


<ng-template #maxHpPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getMaxHpDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodMaxHpStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #attackPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAttackDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAttackStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #agilityPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAgilityDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAgilityStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #luckPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getLuckDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodLuckStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #defensePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getDefenseDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodDefenseStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #resistancePopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getResistanceDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodResistanceStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #hpRegenPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getHpRegenDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodHpRegenStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #criticalMultiplierPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getCriticalMultiplierDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodCriticalMultiplierStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #abilityCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAbilityCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAbilityCooldownReductionStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #autoAttackCooldownReductionPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getAutoAttackCooldownReductionDescription()"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodAutoAttackCooldownReductionStatBreakdown(this.god)">

        </div>
    </div>
</ng-template>

<ng-template #holyDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"  [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"  [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"  [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #earthDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"  [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Earth')">

        </div>
    </div>
</ng-template>

<ng-template #airDamageBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalDamageIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown"  [innerHtml]="this.lookupService.getGodElementalDamageIncreaseStatBreakdown(this.god, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #holyResistanceBonusPopover>
    <div>
        <span class="description" [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Holy')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Holy')">

        </div>
    </div>
</ng-template>

<ng-template #fireResistanceBonusPopover>
    <div>
        <span class="description"  [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Fire')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Fire')">

        </div>
    </div>
</ng-template>

<ng-template #lightningResistanceBonusPopover>
    <div>
        <span class="description"  [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Lightning')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Lightning')">

        </div>
    </div>
</ng-template>

<ng-template #waterResistanceBonusPopover>
    <div>
        <span class="description"  [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Water')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Water')">

        </div>
    </div>
</ng-template>

<ng-template #airResistanceBonusPopover>
    <div>
        <span class="description"  [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Air')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Air')">

        </div>
    </div>
</ng-template>

<ng-template #earthResistanceBonusPopover>
    <div>
        <span class="description"  [innerHtml]="this.lookupService.getElementalResistanceIncreaseDescription(undefined, 'Earth')"></span>
        <hr class="miniHr" />
        <div class="statBreakdown" [innerHtml]="this.lookupService.getGodElementalDamageResistanceStatBreakdown(this.god, undefined, 'Earth')">

        </div>
    </div>
</ng-template>