.shoppingItem {
    display: grid;
    height: 100%;    
    grid-template-columns: auto;
    grid-gap: .5rem;
    grid-template-rows: 1fr auto auto;
    justify-content: stretch;
    grid-template-areas:
        "itemDescription"
        "purchaseDescription"
        "purchaseButton";

    color: #fff;
}

.itemDescription {
    grid-area: itemDescription;
}

.purchaseDescription {
    grid-area: purchaseDescription;
    align-self: center;
}

.purchaseButton {
    grid-area: purchaseButton;
}

.active {
    background-color: var(--button-selected) !important;
    color: var(--foreground-secondary) !important;
}

/*.shoppingItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.purchaseButton {
    width: 25%;
    align-self: center;
}*/

.compareEquipment {
    display: flex;
    justify-content: space-evenly;
  }
  
  .comparedEquipmentItem {
    border-left: 1px solid gray;
  }
  
  .item {
    padding: 2rem;
  }

  @media (max-width: 800px) {
    .compareEquipment {
      flex-direction: column;
    }
  
    .comparedEquipmentItem {
      border-top: 1px solid gray;
      border-left: unset;
    }
  }