.shoppingItem {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-gap: .5rem;
  grid-template-rows: 1fr auto auto;
  justify-content: stretch;
  grid-template-areas:
    "itemDescription"
    "purchaseDescription"
    "purchaseButton";

  color: #fff;
}

.itemDescription {
  grid-area: itemDescription;
}

.accentColor {
  color: var(--foreground-accent);
}

.purchaseDescription {
  grid-area: purchaseDescription;
  align-self: center;
}

.purchaseButton {
  grid-area: purchaseButton;
}

.active {
  background-color: var(--button-selected) !important;
  color: var(--foreground-secondary) !important;
}

/*.shoppingItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.purchaseButton {
    width: 25%;
    align-self: center;
}*/

.compareEquipment {
  /*display: flex;
    justify-content: space-evenly;*/

  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 50%;
  /*grid-gap: .5rem;*/
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    "item1 item2";
}

.compareEquipment1Member {
  /*display: flex;
    justify-content: space-evenly;*/

  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  /*grid-gap: .5rem;*/
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    "item1";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.comparedEquipmentItem {
  border-left: 1px solid gray;
}

.item {
  padding: 2rem;
}

.shopItemWidth {
  width: 25%;
  margin: auto;
}

@media (max-width: 800px) {
  .compareEquipment {
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "item1" 
      "item2";
  }

  .comparedEquipmentItem {
    border-top: 1px solid gray;
    border-left: unset;
  }
}