<div class="shoppingItem" [class]="getEquipmentClass()">
    <div class="itemDescription">
        <span class="s4Heading">{{lookupService.getItemName(item.shopItem)}}</span>
        <br />
        <span>{{lookupService.getItemTypeName(item.shopItem)}}</span>
        <div *ngIf="isEquipment()">
            {{getStars()}}
        </div>
        <hr class="miniHr" />
        <span [innerHtml]="itemDescription"></span>
    </div>
    <div class="purchaseDescription">
        <div class="resourceKeyword" [innerHtml]="purchaseResourcesRequired">
        </div>
    </div>
    <div class="purchaseButton">
        <button (click)="buyItem()" [disabled]="!canBuyItem()">Buy</button>
    </div>
</div>