<div class="shoppingItem">
    <div class="itemDescription">
        <div *ngIf="isEquipment()" customToolTip [tooltipDirection]="tooltipDirection" [isDelayed]="false"
            [contentTemplate]="equipmentComparisonTemplate">
            <div [class]="getEquipmentClass()">
                <span class="s4Heading" [innerHtml]="dictionaryService.getItemName(item.shopItem)"></span>
                <br />
                <span>{{lookupService.getItemTypeName(item.shopItem)}}</span>
                <div>
                    {{getStars()}}
                </div>
            </div>
            <hr class="miniHr" />
            <span [innerHtml]="itemDescription"></span>
        </div>
        <div *ngIf="!isEquipment()"> <!--Better way to do this other than copying and pasting?-->
            <span class="s4Heading" [innerHtml]="dictionaryService.getItemName(item.shopItem)"></span>
            <br />
            <span>{{lookupService.getItemTypeName(item.shopItem)}}</span>
            <hr class="miniHr" />
            <span [innerHtml]="itemDescription"></span>
        </div>
    </div>
    <div class="purchaseDescription">
        <br />
        <div *ngIf="outOfStock">
            Out of Stock
        </div>
        <div *ngIf="!outOfStock">
            <div *ngFor="let resource of item.purchasePrice">
                <app-resource-required-view [resource]="resource" [isSmall]="true"></app-resource-required-view>
            </div>
            <br />
        </div>
    </div>
    <div class="purchaseButton">
        <button (click)="buyItem()" [disabled]="!canBuyItem() || outOfStock">Buy</button>
    </div>
</div>

<ng-template #equipmentComparisonTemplate>
    <div class="compareEquipment" *ngIf="partyMembers !== undefined && partyMembers.length > 0">
        <span class="item item1">
            <div class="textCentered bold smallCaps" [ngClass]="getCharacterColorClass(1)">{{getPartyMemberName(1)}}</div>
            <app-equipment-item-view [equipment]="getEquippedComparisonItem(1)"></app-equipment-item-view>
        </span>
        <span class="item item2 comparedEquipmentItem" *ngIf="partyMembers.length > 1">
            <div class="textCentered bold smallCaps" [ngClass]="getCharacterColorClass(2)">{{getPartyMemberName(2)}}</div>
            <app-equipment-item-view [equipment]="getEquippedComparisonItem(2)"></app-equipment-item-view>
        </span>
    </div>
</ng-template>

<ng-template #testTemplate>
    Test
</ng-template>