<div class="flex">
    <span customToolTip [contentTemplate]="characterPopover" class="characterName"
        [ngClass]="{'buttonCursor': isButtonActive()}" (click)="goToCharacterDetails()">
        <span class="s2Heading" [ngClass]="lookupService.getCharacterColorClass(character.type)">{{character.name}}
        </span>
        <span [ngClass]="lookupService.getCharacterColorClass(character.type)"><strong>Lv
                {{character.level}}</strong> <span class="levelUpAnimationText"
                [ngClass]="{'levelUpAnimation': showLevelUpAnimation}">{{levelUpAnimationText}}</span> <span
                *ngIf="showDevStats"> DPS: {{getCharacterDps()}}</span></span>
    </span>
    <div class="alignSelfCenter">
        <button customToolTip [contentTemplate]="targetingPopover" class="buttonAsText" (click)="activateTargetingMode()">
            <img class="targetIcon" [src]="getTargetingIcon()">
        </button>
    </div>
</div>
<div *ngIf="true" class="flex xpBarWidth" customToolTip [isDelayed]="true" [contentTemplate]="xpPopover">
    <!--ngIf fixes the default value for the progress bar-->
    <mat-progress-bar mode="determinate" [value]="getCharacterXpPercent()" class="blue-progress characterBar xpHighBar">
    </mat-progress-bar>
</div>

<ng-template #characterPopover>
    <div>
        <div *ngIf="isCharacterPassiveUnlocked()">
            <span [innerHtml]="getCharacterPassiveDescription()"></span>
            <hr />
        </div>
        {{characterName}} is assigned to the {{character.name}} class. Click for details on class.
    </div>
</ng-template>

<ng-template #xpPopover>
    <div>
        Level {{character.level}}
        <br />
        {{character.exp | number : '1.0-0'}} / {{character.expToNextLevel | number : '1.0-0'}} XP to Level
        {{character.level + 1}}
    </div>
</ng-template>

<ng-template #targetingPopover>
    <div>
        Click or press <span class='keybind'>{{targetKeybind}}</span> to toggle targeting mode. After activating, click an enemy to target all auto attacks and abilities on that enemy.                
    </div>
</ng-template>