.xpBarWidth {
    width: 72%;
}

.mat-progress-bar-element,
.mat-progress-bar,
.characterBar {
    height: .5rem !important;
}

.characterName {
    font-variant: small-caps;
}

.godGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
        "god1 god2";
}

.god1 {
    grid-area: god1;
}

.god2 {
    grid-area: god2;
}

.slightlySmallName {
    font-size: 1.4rem;
}
.smallName {
    font-size: 1.3rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 72%; 
}

.targetIcon {
    width: var(--s4-size);
    vertical-align: middle;
}

.levelUpAnimationText {   
    font-size: .9rem;
    margin-top: .5rem;
    margin-left: .5rem; 
    position: absolute;
    text-align: right;
    font-weight: bold;
    color: var(--positive-status-effect);    
    display: none;
    z-index: 100;
}

.levelUpAnimation {
    display: inline-block;
    animation-name: levelUpAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.buttonCursor {
    cursor: pointer;
}

.alignSelfCenter {
    align-self: center;
}

@keyframes levelUpAnimation {    
    25% {        
        transform: scale(1.1);   
        opacity: 1;     
    }

    100% {
        transform: translate(0, -30px) scale(.5);        
        opacity: 0;
    }
}



@media (max-width: 800px) {
    .xpBarWidth {
        width: 66.6%;
    }

    .flex {
        width: 66.6%;
    }
    
    .extraClickSpace {
        margin: -1rem !important;
        padding: 1rem !important;
    }

    .targetInactive {
        filter: grayscale(1);
    }
}
