.container {    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.centeredBox {
    width: 80%;
    aspect-ratio : 1 / 1;
    display: flex;
    align-self: center;
}

.abilityTimer {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.abilityTimer svg {
    width: 80% !important;
    height: 80% !important;
}

.ability {
    position: relative; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.abilityImage {
    height: 100%;
}

.mat-progress-spinner svg circle {
    stroke: unset !important;  
  }

.manualModeText {
    position: relative; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.manualModeImage {
    opacity: .3;
}