.statusEffectView {
    width: 100%;
    height: 5vw;
}

.positiveStatusEffectContainer, .negativeStatusEffectContainer {
    height: 50%;
    width: 100%;
    display: flex;
}

.maxWidthHeight {
    width: 100%;
    height: 100%;
}

.positiveStatusEffectList:not(:first-child), .negativeStatusEffectList:not(:first-child) {
    margin-left: 5px;
}

.positiveStatusEffectList, .negativeStatusEffectList {
    margin-top: .5rem;
    width: 2vw;
    aspect-ratio: 1 / 1;
    display: flex;
}

.positiveStatusEffect {
    border: 2px solid var(--positive-status-effect);
    aspect-ratio: 1/1;
}

.negativeStatusEffect {
    border: 2px solid var(--negative-status-effect);
    aspect-ratio: 1/1;
}

.image {
    height: 100%;
    width: 100%;
}

.positiveStatUpDownGrid {    
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-content: stretch;
    grid-template-areas:
      "halfImage"
      "textDiv";
}

.negativeStatUpDownGrid {    
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-content: stretch;
    grid-template-areas:      
      "textDiv"
      "halfImage";
}

.halfImage {
    grid-area: halfImage;
}

.textDiv {
    grid-area: textDiv;
    font-size: .75vw;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 800px) {
    .positiveStatusEffectList, .negativeStatusEffectList {     
        width: 7.25vw;
    }

    .statusEffectView {
        height: 15.5vw;
    }
}