.options {
    display: flex;
    justify-content: space-around;
}

.smallCaps {
    font-size: 1.2rem;
}

.customNumberWidth {
    width: 7rem;
}

@media (max-width: 800px) {
    .options {
        display: block;
    }

    .column1 {
        margin-bottom: 1rem;
    }
}