<div #tooltipElement [ngClass]="{'cssTooltip': isSticky, 'shiftLeft': shiftLeft && !shiftUp && !shiftDown, 'shiftUp': !shiftLeft && shiftUp, 'shiftUpLeft': shiftLeft && shiftUp, 'shiftDown': !shiftLeft && shiftDown, 'shiftDownLeft': shiftLeft && shiftDown }">
    <div class="tooltip-container" [ngClass]="{'largeTooltip': isLargeTooltip, 'smallTooltip': isSmallTooltip, 'bossTooltip': isBossTooltip, 'lightTooltip': !tooltipTheme}">
      <ng-template #simpleText>
        <div [innerHtml]='text'></div>
      </ng-template>
      <ng-container *ngTemplateOutlet="contentTemplate || simpleText">
      </ng-container>
    </div>
  </div>