.tooltip-container {
    border: 1px solid gray;
    border-radius: 2px;
    padding: .25rem .5rem;
    max-width: 38vw;    

    background-color: var(--button-selected);
    color: var(--foreground-tooltip);
}

.largeTooltip {
    max-width: 55vw;    
}

.lightTooltip {
    background: linear-gradient(#FFFFFF 0px, #E4E5F0 100%);
    color: black;
}

.cssTooltip {
    position: absolute;
    width: fit-content;
    z-index: 100;
}

.cssTooltip:hover {
    z-index: 100 !important;
}

.shiftUp {
    transform: translateY(-65%);
    overflow: hidden;
}

.shiftLeft {
    transform: translateX(-65%);
    overflow: hidden;
}

.shiftUpLeft {
    transform: translateY(-65%) translateX(-65%);
    overflow: hidden;
}