<table>
    <tr>
        <td class="clickableText tabItem" [ngClass]="{'active': currentLogView === logViewEnum.Story }"
            (click)="toggleDisplayStoryView()">
            <button class="buttonAsText clickableText m1Heading"
                [ngClass]="{'active': currentLogView === logViewEnum.Story }">Story</button>
        </td>
        <td class="clickableText tabItem" [ngClass]="{'active': currentLogView === logViewEnum.Tutorials }"
            (click)="toggleDisplayTutorialsView()">
            <button class="buttonAsText clickableText m1Heading"
                [ngClass]="{'active': currentLogView === logViewEnum.Tutorials }">Tutorials</button>
        </td>
        <td class="clickableText tabItem" [ngClass]="{'active': currentLogView === logViewEnum.Loot }"
            (click)="toggleDisplayLootView()">
            <button class="buttonAsText clickableText m1Heading"
                [ngClass]="{'active': currentLogView === logViewEnum.Loot }">Loot</button>
        </td>
    </tr>
</table>
<hr class="noMargin" />
<div class="flexAround filters">
    <mat-checkbox *ngIf="currentLogView === logViewEnum.Story" class="selfCenterAlign" [(ngModel)]="includeSideQuests" (input)="includeSideQuestsToggle()">
        Include Side Quest Story
    </mat-checkbox>
    <div>
        <span>Toggle sort direction: </span>
        <button class="buttonStyled" (click)="toggleSort()">&#8645;</button>
    </div>
</div>
<hr class="noMargin" />
<div class="logInfo">
    <table *ngIf="currentLogView === logViewEnum.Story" class="dataTable">
        <tr class="dataRow">
            <td class="dataDisplay">
                <span class="dataDate">Received</span>
                <span class="dataInfo">Info</span>
            </td>
        </tr>
        <tr class="dataRow" *ngFor="let item of storyData">
            <td class="dataDisplay">
                <span class="dataDate">{{formatDate(item.dateReceived)}}<br/>{{getBalladName(item.loc)}}<br/>{{getSubZoneName(item.loc)}}</span>
                <span class="dataInfo" [innerHtml]="getStoryData(item)"></span>
            </td>
        </tr>
    </table>
    <table *ngIf="currentLogView === logViewEnum.Tutorials" class="dataTable">
        <tr class="dataRow">
            <td class="dataDisplay">
                <span class="dataDate">Received</span>
                <span class="dataInfo">Info</span>
            </td>
        </tr>
        <tr class="dataRow" *ngFor="let item of tutorialData">
            <td class="dataDisplay">
                <span class="dataDate">{{formatDate(item.dateReceived)}}<br/>{{getBalladName(item.loc)}}<br/>{{getSubZoneName(item.loc)}}</span>
                <span class="dataInfo" [innerHtml]="getTutorialData(item)"></span>
            </td>
        </tr>
    </table>
    <table *ngIf="currentLogView === logViewEnum.Loot" class="dataTable">
        <tr class="dataRow">
            <td class="dataDisplay">
                <span class="dataDate">Received</span>
                <span class="dataInfo">Info</span>
            </td>
        </tr>
        <tr class="dataRow" *ngFor="let item of lootData">
            <td class="dataDisplay">
                <span class="dataDate">{{formatDate(item.dateReceived)}}<br/>{{getBalladName(item.loc)}}<br/>{{getSubZoneName(item.loc)}}</span>
                <span class="dataInfo" [innerHtml]="getLootData(item)"></span>
            </td>
        </tr>
    </table>
</div>