<div #enemyDescriptionView>
    <span class="s2Heading">{{character.name}}</span>
    <hr />
    <div
        *ngIf="this.defeatCount === undefined || this.defeatCount < this.utilityService.killCountDisplayEnemyStatsAbilities">
        Defeat {{this.utilityService.killCountDisplayEnemyStatsAbilities - this.defeatCount}} more
        {{this.utilityService.killCountDisplayEnemyStatsAbilities - this.defeatCount === 1 ? "time" : "times"}} for more
        info.
    </div>
    <div #infoView *ngIf="this.defeatCount >= this.utilityService.killCountDisplayEnemyStatsAbilities">
        <div class="stats">
            <div class="statColumn1">
                <span class='statLabel'>Attack:</span> {{getAttack()}}
                <br />
                <span class='statLabel'>Agility:</span> {{getAgility()}}
                <br />
                <span class='statLabel'>Luck:</span> {{getLuck()}}
            </div>
            <div class="statColumn2">
                <span class='statLabel'>Max HP:</span> {{getMaxHp()}}
                <br />
                <span class='statLabel'>Defense:</span> {{getDefense()}}
                <br />
                <span class='statLabel'>Resistance:</span> {{getResistance()}}
            </div>
        </div>
        <br *ngIf="getElementalStrengths() !== '' || getElementalWeaknesses() !== ''" />
        <div *ngIf="getElementalStrengths() !== '' || getElementalWeaknesses() !== ''">
            <div [ngClass]="{'stats': getElementalStrengths() !== '' && getElementalWeaknesses() !== ''}"
                *ngIf="getElementalStrengths() !== '' || getElementalWeaknesses() !== ''">
                <span *ngIf="getElementalStrengths() !== ''" [innerHtml]="getElementalStrengths()"></span>
                <span *ngIf="getElementalWeaknesses() !== ''" [innerHtml]="getElementalWeaknesses()"></span>
                <br />
            </div>
        </div>
        <br />
        <span class='statLabel'>Auto Attack Speed: </span> <span class="statValue"> {{getCharacterAttackSpeed()}}</span>
        <br/>
        <span class='statLabel'>Party Critical Hit Chance: </span> <span class="statValue"> <span [innerHTML]="getCharacterCriticalHitChance(1)"></span> <span *ngIf="this.getActivePartyCount() > 1"> / <span [innerHTML]="getCharacterCriticalHitChance(2)"></span></span> </span>
        <br/>
        <span class='statLabel'>Chance For Party To Be Critically Hit: </span> <span class="statValue"> <span [innerHTML]="getCharacterChanceToBeCriticallyHit(1)"></span> <span *ngIf="this.getActivePartyCount() > 1"> / <span [innerHTML]="getCharacterChanceToBeCriticallyHit(2)"></span></span></span>
        <br/>
        <div>
            <span *ngIf="character.abilityList.length === 0">No abilities.</span>
            <div *ngIf="character.abilityList.length > 0">
                <div *ngFor="let ability of character.abilityList">
                    <span class='statLabel'>{{ability.name}}</span> - <span class="statValue"
                        [innerHtml]='lookupService.getEnemyAbilityDescription(character, ability)'></span>
                </div>
            </div>
        </div>
        <hr />
        <div *ngIf="character.patron !== undefined && character.patron !== ''">
            <i>
                Thanks to <b class="smallCaps">{{character.patron}}</b> for the boss design and your support as a <b class="smallCaps">Chthonic Patron</b>!
            </i>
        </div>
        <div *ngIf="this.defeatCount < this.utilityService.killCountDisplayBasicEnemyLoot">
            Defeat {{this.utilityService.killCountDisplayBasicEnemyLoot - this.defeatCount}} more
            {{this.utilityService.killCountDisplayBasicEnemyLoot - this.defeatCount === 1 ? "time" : "times"}} for more
            info.
        </div>
        <div *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot">
            <span>
                <span class='statLabel'>Coins:</span> <span class="statValue">
                    {{character.coinGainFromDefeat.toLocaleString()}}</span>
            </span>
            <br />
            <span class='statLabel'>XP:</span> <span class="statValue">
                {{character.xpGainFromDefeat.toLocaleString()}}</span>
            <br />
            <span *ngIf="character.loot.length === 0">No loot.</span>
            <div *ngIf="character.loot.length > 0">
                <span class='statLabel'>Possible Loot:</span>
                <br/>
                <div class="lootItem" *ngFor="let loot of character.loot">
                    {{getLootItem(loot)}}
                </div>
            </div>
        </div>
        <div
            *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot && this.defeatCount < this.utilityService.killCountDisplayFullEnemyLoot">
            <hr />
            Defeat {{this.utilityService.killCountDisplayFullEnemyLoot - this.defeatCount}} more
            {{this.utilityService.killCountDisplayFullEnemyLoot - this.defeatCount === 1 ? "time" : "times"}} for more
            info.
        </div>
    </div>
</div>