.stats {
    display: flex;
    justify-content: space-evenly;
}

.statColumn1 {
    margin-right: .5rem;
}

.enemyName {
    font-variant: small-caps;
}

.barrier {
    color: var(--barrierColor);
}

.statValue {
    vertical-align: middle;
}

.enemyHpPercentMarginRight {
    margin-right: 1rem;
}