<div>
    <span class="s2Heading">{{character.name}}</span>
    <hr />
    <div *ngIf="this.defeatCount === undefined || this.defeatCount < this.utilityService.killCountDisplayEnemyStatsAbilities">
        Defeat {{this.utilityService.killCountDisplayEnemyStatsAbilities - this.defeatCount}} more {{this.utilityService.killCountDisplayEnemyStatsAbilities - this.defeatCount === 1 ? "time" : "times"}} for more
        info.
    </div>
    <div *ngIf="this.defeatCount >= this.utilityService.killCountDisplayEnemyStatsAbilities">
        <div class="stats">
            <div class="statColumn1">
                <span class='statLabel'>Attack:</span> {{getAttack()}}
                <br />
                <span class='statLabel'>Agility:</span> {{getAgility()}}
                <br />
                <span class='statLabel'>Luck:</span> {{getLuck()}}
            </div>
            <div class="statColumn2">
                <span class='statLabel'>Max HP:</span> {{getMaxHp()}}
                <br />
                <span class='statLabel'>Defense:</span> {{getDefense()}}
                <br />
                <span class='statLabel'>Resistance:</span> {{getResistance()}}
            </div>
        </div>
        <br/>            
        <div>
            <span class='statLabel'>Attack Speed: </span> <span class="statValue"> {{getCharacterAttackSpeed()}}</span>
            <br *ngIf="getElementalStrengths() !== ''"/>
            <span *ngIf="getElementalStrengths() !== ''" [innerHtml]="getElementalStrengths()"></span>                
            <br *ngIf="getElementalWeaknesses() !== ''"/>
            <span *ngIf="getElementalWeaknesses() !== ''" [innerHtml]="getElementalWeaknesses()"></span>                
        </div>
        <br />            
        <span *ngIf="character.abilityList.length === 0">No abilities.</span>
        <div *ngIf="character.abilityList.length > 0">
            <div *ngFor="let ability of character.abilityList">
                <span class='statLabel'>{{ability.name}}</span> - <span class="statValue"
                    [innerHtml]='lookupService.getEnemyAbilityDescription(character, ability)'></span>
            </div>
        </div>
        <!-- abilities -->
        <hr />
        <div *ngIf="this.defeatCount < this.utilityService.killCountDisplayBasicEnemyLoot">
            Defeat {{this.utilityService.killCountDisplayBasicEnemyLoot - this.defeatCount}} more {{this.utilityService.killCountDisplayBasicEnemyLoot - this.defeatCount === 1 ? "time" : "times"}} for more
            info.
        </div>
        <div *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot">
            <span>
                <span class='statLabel'>Coins:</span> <span class="statValue"> {{character.coinGainFromDefeat}}</span>                    
            </span>
            <br/>
            <span class='statLabel'>XP:</span> <span class="statValue"> {{character.xpGainFromDefeat}}</span>
            <br />
            <span *ngIf="character.loot.length === 0">No loot.</span>
            <div *ngIf="character.loot.length > 0">
                <span class='statLabel'>Possible Loot:</span>
                <div *ngFor="let loot of character.loot">
                    {{getLootItem(loot)}}
                </div>
            </div>
        </div>
        <div
            *ngIf="this.defeatCount >= this.utilityService.killCountDisplayBasicEnemyLoot && this.defeatCount < this.utilityService.killCountDisplayFullEnemyLoot">
            <hr />
            Defeat {{this.utilityService.killCountDisplayFullEnemyLoot - this.defeatCount}} more {{this.utilityService.killCountDisplayFullEnemyLoot - this.defeatCount === 1 ? "time" : "times"}} for more
            info.
        </div>
    </div>
</div>