<div class="options battleItemGrid">
    <div *ngFor="let _ of [].constructor(getItemBeltCount()); let i = index" class="battleItem"
        [class]="'battleItem' + (i + 1)">
        <button *ngIf="isBattleItemSlotUnequipped(i)" [ngClass]="{'hide': battleItems.length === 0}"
            (menuOpened)="openItemModal(i)" class="buttonStyled" #itemMenuTrigger
            [matMenuTriggerFor]="battleItems.length > 0 ? itemMenu : emptyItemMenu">
            <img class="itemImage" src="assets/svg/emptyItemSlot.svg" (contextmenu)="preventRightClick()"></button>
        <div *ngIf="!isBattleItemSlotUnequipped(i)">
            <app-item-belt-item [slotNumber]="i"></app-item-belt-item>
        </div>
    </div>
</div>

<mat-menu #itemMenu="matMenu">
    <table>
        <tr *ngFor="let cells of battleItemRows;">
            <td *ngFor="let c of cells;">
                <app-item-menu-item [item]="c.item" [openedSlotNumber]="openedSlotNumber" [totalItemAmount]="battleItems.length"></app-item-menu-item>
            </td>
        </tr>
    </table>
</mat-menu>

<mat-menu #emptyItemMenu="matMenu">
</mat-menu>