<div class="dps" class="s4Heading textCentered pageHeader dpsChecks">
    <span class='smallText partyDps' customToolTip [contentTemplate]="outgoingDpsTemplate">
        Party DPS: {{getPartyDps()}}
    </span>
    <span class='smallText enemyDps' customToolTip [contentTemplate]="incomingDpsTemplate">
        Incoming DPS: {{getEnemyDps()}}
    </span>
    <span class='smallText xps' customToolTip [contentTemplate]="xpsTemplate">
        XPS: {{getXps()}}
    </span>
</div>


<ng-template #outgoingDpsTemplate>
    Damage Per Second is calculated over a 120 second period and is reset upon changing sub zones.
    <br />
    <br />
    <!--<i class="bold smallCaps">characters</i>-->
    <div [innerHtml]="characterDpsBreakdown(0)"></div>
    <div class="marginLeft" [innerHtml]="godDpsBreakdown(0, 1)"></div>
    <div class="marginLeft" [innerHtml]="godDpsBreakdown(0, 2)"></div>
    <br />
    <div [innerHtml]="characterDpsBreakdown(1)"></div>
    <div class="marginLeft" [innerHtml]="godDpsBreakdown(1, 1)"></div>
    <div class="marginLeft" [innerHtml]="godDpsBreakdown(1, 2)"></div>
</ng-template>


<ng-template #incomingDpsTemplate>
    Damage Per Second is calculated over a 120 second period and is reset upon changing sub zones.
</ng-template>

<ng-template #xpsTemplate>
    XP Per Second is calculated over a 120 second period and is reset upon changing sub zones. This does not include any XP modifiers such as Boon of Olympus.
</ng-template>