<div class="centeredText mainPageSectionHeader">
    <span class="s2Heading">Overdrives</span>
</div>
<div class="container">
    <div class="overflowable column">
        <div class="listList">
            <div class="listBackground">
                <div *ngFor="let overdrive of getOverdrives(); let i = index" (click)="chooseOverdrive(overdrive)"
                    class="listItem"
                    [ngClass]="{'active': selectedOverdriveInfo !== undefined && selectedOverdriveInfo.selectedOverdrive === overdrive}">
                    <button class="buttonAsText clickableText listItemButton"
                        [ngClass]="{'active': selectedOverdriveInfo !== undefined && selectedOverdriveInfo.selectedOverdrive === overdrive}"
                        [innerHtml]="getOverdriveName(overdrive)"></button>
                    <hr class="noMargin" />
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'vr': !isMobile}">
        <hr [ngClass]="{'vrHr': !isMobile, 'mobileDivider': isMobile}" />
    </div>
    <div class="column column2">
        <div *ngIf="selectedOverdriveInfo !== undefined">
            <strong><span class="s4Heading smallCaps" [innerHtml]="getOverdriveName()"></span></strong>
            <br />
            <br />
            <span [innerHtml]="getOverdriveDescription()"></span>
            <hr />
            <div
                *ngIf="lookupService.isOverdriveDiscovered(this.selectedOverdriveInfo.selectedOverdrive, this.character)">
                <div>
                    <b>Total Overdrive Points Required:</b> {{selectedOverdriveInfo.gaugeTotal}} <br/>
                    <b>Overdrive Point Gain From Auto Attacks:</b> {{selectedOverdriveInfo.gainPerAutoAttack}} <br/>
                    <b>Overdrive Point Gain From Ability Use:</b> {{selectedOverdriveInfo.gainPerAbility}} <br/>
                    <b>Overdrive Point Gain From Being Attacked:</b> {{selectedOverdriveInfo.gainPerBeingAttacked}} <br/>
                </div>
                <br />
                <br />
                <button class="buttonStyled" [disabled]="isSelectedCurrentOverdrive()" (click)="setNewOverdrive()">Set New Overdrive</button>
            </div>
        </div>
    </div>
</div>