.headerGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
        ". description defaultKeybinds";
}

.description {
    grid-area: description;
}

.defaultKeybinds {
    grid-area: defaultKeybinds;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
        "keybindName keybind";
}

.keybindName {
    grid-area: keybindName;
    text-align: center;
}

.keybind {
    grid-area: keybind;
    text-align: center;
    font-size: 1rem;
}

.keybind:hover {
    text-decoration: underline;
}

.keybindItem:hover {
    background-color: var(--button-hover);    
}