.equipmentOverview {
  height: 100%;
}

.flexHeaderBetween {
  display: flex;
  justify-content: space-between;
}

.equipmentView {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch;
  gap: 1rem;
  grid-template-areas:
    "availableEquipment existingEquipment";

  color: var(--foreground-default);
}

.availableEquipment {
  grid-area: availableEquipment;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.existingEquipment {
  grid-area: existingEquipment;
}

.characterSelect {
  grid-area: characterSelect;
}

.compareEquipment {
  display: flex;
  justify-content: space-evenly;
}

.comparedEquipmentItem {
  border-left: 1px solid gray;
}

.item {
  padding: 2rem;
}

.equipmentItem {
  font-size: 1rem;
}


.flex {
  display: flex;
  justify-content: space-around;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* needs to match .leftAlignedMiniHr */
}

.leftAlignedMiniHr {
  width: 95%;
}

.filterOption {
  color: var(--inactive-filter);
  font-size: 1.2rem;
}

.filterOption.filterActive {
  color: var(--active-filter);
}

.sellItem {
  text-align: center;
}

.equipmentItemButton {
  text-align: left;
}

.icon {
  width: 1rem;
  height: 100%;
  aspect-ratio: 1/1;
}


@media (max-width: 800px) {
  .compareEquipment {
    flex-direction: column;
  }

  .comparedEquipmentItem {
    border-top: 1px solid gray;
    border-left: unset;
  }
}