<div>
  <span class="s4Heading">Change Equipment</span>
    <hr />
  <div class="equipmentView">    
    <div class="availableEquipment">
      <div *ngFor="let equipment of availableEquipment; let i = index" (mouseenter)="hoverItem(equipment)"
        (click)="equipItem(equipment)">
        <span customToolTip [isDelayed]="false"
          [contentTemplate]="template">{{lookupService.getItemName(equipment.item)}}
          x{{equipment.amount}}</span>
      </div>
    </div>
    <div class="existingEquipment">
      <div>
        <app-current-equipment-view></app-current-equipment-view>
      </div>
      <hr />
      <div class="existingEffects">
        <span>Gain from equipment:</span>
        <br/>
        <span [innerHtml]="equipmentGain()"></span>      
    </div>
  </div>
</div>

<ng-template #template>
  <div class="compareEquipment">
    <span class="item">
      <app-equipment-item-view [equipment]="hoveredItem"></app-equipment-item-view>
    </span>
    <span class="item comparedEquipmentItem">
      <app-equipment-item-view [equipment]="getEquippedComparisonItem()"></app-equipment-item-view>
    </span>
  </div>
</ng-template>