<div>
    <span class="sectionHeaderText sectionHeading centeredSpan">Supporter</span>    
    <br />
    <div>Thank you for considering supporting Ballad of Heroes!</div>
        <br />
        <br />
        <div>
            When signing up for any tier of Patreon, you will gain immediate access to:
            <br />
            •2 gods, <span class="smallCaps bold dionysusColor">Dionysus</span> and <span
                class="smallCaps bold nemesisColor">Nemesis</span>.<br />
            <div class="subbullet"><span>*<span class="smallCaps bold dionysusColor">Dionysus</span> is a support god
                    who can give shields to allies, cause enemies to take extra damage, and put a
                    large amount of debuffs on all enemies randomly.</span><br />
                <span>*<span class="smallCaps bold nemesisColor">Nemesis</span> is a defensive-minded goddess who allows
                    you to counter attack after an enemy attacks, force an
                    enemy to target you, and attack enemies multiple times with increased damage based on how much
                    damage you
                    are receiving.</span><br />
                <span><i>*These gods are eventually obtainable with in game resources and if you have already purchased
                        them, their cost will be refunded to you.</i></span>
            </div>
            •Two <span class="bold specialEquipment">Special</span> quality necklaces only accessible for supporters,
            one focused on offense and the other on
            defense.
            <br />
            •Double the number of Eternal Melee tickets per day and the ticket cap.
            <br />
            •Increase the offline 2x speed cap from 12 hours to 24 hours.
            <br />
            •100,000 Coins
        </div>
        <br />
        <span><b><i>Patreon does not allow for one time purchases, but you can sign up for the lowest tier and immediately cancel your subscription to obtain these benefits.</i></b></span>
        <br/>
        <br />
        <div>
            You can also support the development of this game monthly through Patreon. I will post about my 
            plans and ideas for the game as well as provide a code to redeem for additional rewards monthly,
            such as extra tickets to the Eternal Melee and useful resources to help your game progression.
            <br />
            <br />
            <div class="centeredSpan">
                <a rel="noopener noreferrer" target="_blank" class="s4Heading bold textCentered" href="https://www.patreon.com/BalladOfHeroes">View
                    Patreon</a>
            </div>
        </div>    
    <br />
    <div>
        <strong>
            If you have any issues with receiving your benefits after purchase, please reach out to me via email at
            balladofheroes@gmail.com or via the Discord link on the right side of the footer.
        </strong>
    </div>
</div>