.subbullet {
    margin-left: 1rem;
}

.centeredSpan {
    display: table;
    margin: 0 auto;
}

.discordIcon {
    height: 5vw;
    width: 5vw;
    margin-right: .5rem;
}

.flex {
    display: flex;
}

.discordLink {
    display: flex;
    align-self: center;
}

.largeButtons {
    font-size: 1.5rem;
}