<div class="centeredText" *ngIf="bonusGod !== godEnum.None">
    "<span [innerHtml]="bonusGodText"></span>"
    <br/>
    <br/>
    <strong><i>25% boost to {{bonusGodName}} -- new preferred god in <span [innerHtml]="getRemainingPreferredGodTime()"></span></i></strong>
    <hr/>
</div>
<div *ngFor="let god of availableGods">
    <div class="god">
        <span class="godName" [ngClass]="lookupService.getGodColorClass(god.type)">{{god.name}}</span>
        <span class="godLevel" [ngClass]="lookupService.getGodColorClass(god.type)">Lv {{god.level}}</span>
        <span class="godResetText">{{isMobile ? "gain.." : "results in.."}}</span>
        <div class="godResetResult">
            <span class="chthonicFavorKeyword" *ngIf="globalService.globalVar.chthonicPowers.isChthonicFavorUnlocked">{{getChthonicFavor(god) | number : '1.0-2'}} Chthonic Favor<br /></span>
            <span class="chthonicPowerKeyword">{{getChthonicPower(god) | number : '1.0-2'}} Chthonic Power</span>
        </div>
        <button [disabled]="god.level <= 1" class="godResetButton buttonStyled" (click)="resetGod(god)">Reset {{god.name}}</button>
    </div>
    <hr />
</div>