<div *ngIf="isPositiveEffect" customToolTip [contentTemplate]="statusEffectPopover" (overlayRefEmitter)="overlayEmitter($event)">
    <div *ngIf="isSplitStatUpDownEffect(statusEffect)"
        class="statUpDownGrid positiveStatUpDownGrid positiveStatusEffect">
        <div class="halfImage">
            <img class="image splitImage" (contextmenu)="preventRightClick()" [src]="getSplitStatImage(statusEffect)">
            <img class="image splitImage" (contextmenu)="preventRightClick()" [src]="getStatUpImage(statusEffect)">
        </div>
        <div class="textDiv">
            {{getStatusEffectText(statusEffect)}}
        </div>
    </div>
    <div *ngIf="isStatUpDownEffect(statusEffect)" class="statUpDownGrid positiveStatUpDownGrid positiveStatusEffect">
        <img class="image halfImage" (contextmenu)="preventRightClick()" [src]="getStatUpImage(statusEffect)">
        <div class="textDiv">{{getStatusEffectText(statusEffect)}}</div>
    </div>
    <div *ngIf="!isStatUpDownEffect(statusEffect) && !isSplitStatUpDownEffect(statusEffect)"
        class="flex positiveStatusEffect">
        <div *ngIf="hasImage(statusEffect)"><img class="image" (contextmenu)="preventRightClick()" [src]="this.getStatusEffectImage(statusEffect)">
        </div>
        <div *ngIf="!hasImage(statusEffect)" class="textDiv">{{getStatusEffectText(statusEffect)}}</div>
    </div>
</div>
<div *ngIf="!isPositiveEffect" customToolTip [contentTemplate]="statusEffectPopover" (overlayRefEmitter)="overlayEmitter($event)">
    <div *ngIf="isSplitStatUpDownEffect(statusEffect)"
        class="statUpDownGrid negativeStatUpDownGrid negativeStatusEffect">
        <div class="halfImage">
            <img class="image splitImage" (contextmenu)="preventRightClick()" [src]="getSplitStatImage(statusEffect)">
            <img class="image splitImage" (contextmenu)="preventRightClick()" [src]="getStatDownImage(statusEffect)">
        </div>
        <div class="textDiv">
            {{getStatusEffectText(statusEffect)}}
        </div>
    </div>
    <div *ngIf="isStatUpDownEffect(statusEffect)" class="statUpDownGrid negativeStatUpDownGrid negativeStatusEffect">
        <img class="image halfImage" (contextmenu)="preventRightClick()" [src]="getStatDownImage(statusEffect)">
        <div class="textDiv">{{getStatusEffectText(statusEffect)}}</div>
    </div>
    <div *ngIf="!isStatUpDownEffect(statusEffect) && !isSplitStatUpDownEffect(statusEffect)"
        class="flex negativeStatusEffect">
        <div *ngIf="hasImage(statusEffect)"><img (contextmenu)="preventRightClick()" class="image" [src]="this.getStatusEffectImage(statusEffect)">
        </div>
        <div *ngIf="!hasImage(statusEffect)" class="textDiv">{{getStatusEffectText(statusEffect)}}</div>
    </div>
</div>

<ng-template #statusEffectPopover>
    <div>
        <span [innerHtml]="getStatusEffectDescription()"></span>
        <br />
        <br />
        <span>
            <span *ngIf="statusEffect.duration >= 0">Remaining Duration: {{getStatusEffectDuration()}}</span>
            <span *ngIf="statusEffect.duration < 0">Resolves Upon Effect Condition</span>
        </span>
    </div>
</ng-template>