.availableIcon {
    color: var(--foreground-quaternary);
    border-radius: 25px;
    background: var(--background-five);
    padding: 0 .5rem;
    margin-right: .25rem;
  }

  .availableIconSideQuest {
    background: var(--sidequestColor) !important;
  }

  .availableIconProfession {
    background: purple !important;
  }
  
  .availableIconReset {
    background: green !important;
  }

  .onButton {
    padding: 0 .7rem !important;
  }