<div class="slotOverview">
    <div class="flexHeaderBetween">
        <span class="s4Heading">Change Slots</span>
        <button class="buttonStyled" (click)="closeModal()">X</button>
    </div>
    <hr class="topMargin" />
  <div class="filters">
        <span>Sort by:</span>
        <mat-radio-group class="sortOptions" (change)="setupAvailableGems()" [(ngModel)]="sortType" aria-label="Select a sorting option">
          <mat-radio-button [value]="1">Quality</mat-radio-button>
          <mat-radio-button [value]="2">Name</mat-radio-button>
          <mat-radio-button [value]="3">Item ID</mat-radio-button>
        </mat-radio-group>
        <button class="buttonAsText clickableText m2Heading" (click)="toggleSort()">&#8645;</button>
        <button class="buttonAsText clickableText m2Heading" (click)="openFilterMenu(filterContent)"><img
            class="autoProgressIcon" src="assets/svg/gearTextColor.svg"></button>
      </div>
      <hr class="bottomMargin" />
    <div class="slotView">
            <div class="availableEquipment">
                <div class="scrollable">
                    <div *ngFor="let gem of availableGems; let i = index" (mouseenter)="hoverGem(gem)">
                        <div class="flexBetween">
                            <button class="buttonAsText clickableText equipmentItemButton" (click)="selectGem(gem)">
                                <span class="equipmentItem" customToolTip [isDelayed]="false"
                                    [contentTemplate]="template" [innerHtml]="getItemNameWithCount(gem)"></span>
                            </button>
                        </div>
                        <hr class="leftAlignedMiniHr" />

                        <ng-template #template>
                            <div class="compareEquipment" [innerHtml]="getItemDescription(gem)">
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        <!--<div class="spacer">
            <div class="vr">
                <hr class="vrHr" />
            </div>
        </div>-->
        <div class="itemInfo column">
            <app-equipment-item-view class="selectedResource"
                [equipment]="resourceAsEquipment" [associatedResource]="resource" [isSlotMenu]="true"></app-equipment-item-view>
            <hr *ngIf="selectedItem" class="divider" />
            <div *ngIf="selectedItem" class="result centeredText">
                <div class="slotItem">
                    <span>Adding <span [innerHtml]='getItemName(selectedItem)'></span></span>
                        <br />
                        <span [innerHtml]="getItemDescription(selectedItem)"></span>
                        <br />
                        <br />
                        <button [disabled]="!slotsAvailable()" (click)="slotItem()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmationBox>
    <app-confirmation-box [confirmationText]="confirmationText"></app-confirmation-box>
</ng-template>


<ng-template #filterContent>
    <app-filter-items-view [dialogRef]="dialogRef" [prefix]="'slots'"></app-filter-items-view>
  </ng-template>