.slotOverview {
    height: 97%;
  }
  
  .flexHeaderBetween {
    display: flex;
    justify-content: space-between;
  }

  .slotView {
    display: grid;
    width: 100%;
    height: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    gap: 1rem;
    grid-template-areas:
      "availableEquipment itemInfo";
  
    color: var(--foreground-default);
  }

  .mainPageSectionHeader {
    margin: .75rem 0;
    color: #FFF;
  }

.vr {
    display: flex;
    height: 100%;
}

.vrHr {
    margin: 0 1rem;
    padding: 0;
    height: auto;
}

.column {
    width: 100%;
}

.itemInfo {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    justify-content: stretch;
    gap: 1rem;
    grid-template-areas:
      "selectedResource"
      "divider"
      "result";
  
    color: var(--foreground-default);
  }

  .availableEquipment {
    grid-area: availableEquipment;
    overflow-y: auto;    
  }

  .itemInfo {
    grid-area: itemInfo;
  }

  .divider {
    width: 100%;
  }

  .equipmentItem {
    font-size: 1rem;
    font-weight: bold;
  }

  .removeExtra {
    margin-left: .5rem;
  }

  
.filters {
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-quarternary);
}

.webMarginLeft {
  margin-left: .3rem;
}

.sortOptions {
  width: 70%;
  display:flex;
  justify-content: space-around;      
}

.filterActive {
  color: var(--foreground-secondary) !important;
  font-weight: bold;
}

.active {
  background-color: var(--button-selected) !important;
  color: var(--foreground-secondary) !important;
}


.filterOption {
  color: var(--inactive-filter);
  font-size: 1.2rem;
}

.filterOption.filterActive {
  color: var(--active-filter);
}

.sellItem {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.autoProgressIcon {
  height: 1.1rem;
  display:flex;
  vertical-align: middle;
}

.noMargin {
  margin: 0px;
  padding: 0px;
}

.topMargin {
  margin: 0px;
  padding: 0px;
  margin-top: .25rem;
}

.bottomMargin {
  margin: 0px;
  padding: 0px;
  margin-bottom: .25rem;
}
