<div class="textCentered">
    <span *ngIf="!isMobile" class="buttonSpaced"></span>
    <span class="s2Heading smallCaps followerText">Assigned Followers: {{getAssignedFollowers()}} / {{getTotalFollowers()}}</span> 
    <br *ngIf="isMobile"/>
    <span class="buttonSpaced"><button class="buttonStyled" (click)="unassignAll()">Unassign All</button></span>
    <br />
    <br />
    You can assign a follower to pray to the gods for your success.
</div>
<hr />
<br />
<div>
    <span class="sectionHeaderText sectionHeading">activate</span>
    <br />
    <div class="sectionInfo">
        <div>
        <span class="s4Heading smallCaps altarName">Small Altars</span>
        <span class="s4Heading followerCount">
            <button class='buttonStyled' [disabled]="!canDecrement(followerPrayerType.Activate, altarType.Small)"
                (click)="decrementPrayerFollowers(followerPrayerType.Activate, altarType.Small)">-</button>
            {{getFollowersAssignedToPrayer(followerPrayerType.Activate, altarType.Small)}}
            <button class='buttonStyled' [disabled]="!canIncrement(followerPrayerType.Activate, altarType.Small)"
                (click)="incrementPrayerFollowers(followerPrayerType.Activate, altarType.Small)">+</button>
        </span>
        <br />
        Each follower provides a {{getSmallAltarActivationChance()}}% chance per minute to activate any Small Altar among
        your three available altars that have met their necessary activation conditions.
    </div>
    <div *ngIf="largeAltarsAvailable">
        <span class="s4Heading smallCaps altarName">Large Altars</span>
        <span class="s4Heading followerCount">
            <button class='buttonStyled' [disabled]="!canDecrement(followerPrayerType.Activate, altarType.Large)"
                (click)="decrementPrayerFollowers(followerPrayerType.Activate, altarType.Large)">-</button>
            {{getFollowersAssignedToPrayer(followerPrayerType.Activate, altarType.Large)}}
            <button class='buttonStyled' [disabled]="!canIncrement(followerPrayerType.Activate, altarType.Large)"
                (click)="incrementPrayerFollowers(followerPrayerType.Activate, altarType.Large)">+</button>
        </span>
        <br />
        Each follower provides a {{getLargeAltarActivationChance()}}% chance per minute to activate any Large Altar among
        your three available altars that have met their necessary activation conditions.
    </div>
    </div>
</div>
<hr />
<div>
    <span class="sectionHeaderText sectionHeading">pray</span>
    <br />
    <div class="sectionInfo">
        <div>
        <span class="s4Heading smallCaps altarName">Small Altars</span>
        <span class="s4Heading followerCount">
            <button class='buttonStyled' [disabled]="!canDecrement(followerPrayerType.Pray, altarType.Small)"
                (click)="decrementPrayerFollowers(followerPrayerType.Pray, altarType.Small)">-</button>
            {{getFollowersAssignedToPrayer(followerPrayerType.Pray, altarType.Small)}}
            <button class='buttonStyled' [disabled]="!canIncrement(followerPrayerType.Pray, altarType.Small)"
                (click)="incrementPrayerFollowers(followerPrayerType.Pray, altarType.Small)">+</button>
        </span>
        <br />
        Each follower provides a {{getSmallAltarPrayerChance()}}% chance per minute to pray to a random god's Small Altar and receive a boon for the party. 
        This does not require an altar to be activated. Only one boon per god can be active at a time.
    </div>
    <div *ngIf="largeAltarsAvailable">
        <span class="s4Heading smallCaps altarName">Large Altars</span>
        <span class="s4Heading followerCount">
            <button class='buttonStyled' [disabled]="!canDecrement(followerPrayerType.Pray, altarType.Large)"
                (click)="decrementPrayerFollowers(followerPrayerType.Pray, altarType.Large)">-</button>
            {{getFollowersAssignedToPrayer(followerPrayerType.Pray, altarType.Large)}}
            <button class='buttonStyled' [disabled]="!canIncrement(followerPrayerType.Pray, altarType.Large)"
                (click)="incrementPrayerFollowers(followerPrayerType.Pray, altarType.Large)">+</button>
        </span>
        <br />
        Each follower provides a {{getLargeAltarPrayerChance()}}% chance per minute to pray to a random god's Large Altar and receive a boon for the party. 
        This does not require an altar to be activated. Only one boon per god can be active at a time.
    </div>
    </div>
</div>