.tabs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.tabItem {
    border-right: 1px solid rgba(255, 255, 255, .25);
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    width: 50%;
    vertical-align: top;
}

table tr td:nth-child(2n) {
    border-right: none;
}

.tabItem {
    padding: .5rem;
}

.info {
    padding: 1rem;
}

.tabItem:hover:not(.active) {
    background-color: var(--button-hover);
    /*color: var(--foreground-tertiary) !important;*/
}

.active {
    background-color: var(--button-selected) !important;
    color: var(--foreground-secondary) !important;
}

.mat-dialog-container {
    padding: 0px;
}

.noMargin {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 800px) {
    table {
        height: unset;
    }
}