.chthonicStats {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.chthonicStatUpgrade {
    width: 16.666%;
    text-align: center;
}

@media (max-width: 800px) {
    .chthonicStatUpgrade {
        width: 33.3333%;
    }

    .chthonicStats {
        flex-wrap: wrap;
        row-gap: 3rem;
    }
}