<div class="grid">

    <div class="altar1" *ngIf="availableAltars.length > 0">
        <app-altar-view [altar]="availableAltars[0]"></app-altar-view>
    </div>
    <div class="altar2" *ngIf="availableAltars.length > 1">
        <app-altar-view [altar]="availableAltars[1]"></app-altar-view>
    </div>
    <div class="altar3" *ngIf="availableAltars.length > 2">
        <app-altar-view [altar]="availableAltars[2]"></app-altar-view>
    </div>
    <div class="altar4" *ngIf="availableAltars.length > 3">
        <app-altar-view [altar]="availableAltars[3]"></app-altar-view>
    </div>
    <div class="altar5" *ngIf="availableAltars.length > 4">
        <app-altar-view [altar]="availableAltars[4]"></app-altar-view>
    </div>
    <div class="buffs" *ngIf="globalService.globalVar.activeAltarEffects.length > 0" customToolTip [contentTemplate]="buffPopover" [tooltipDirection]="buffTooltipDirection">
        <img class="buffImage" src="assets/svg/statUpSE.svg" />
    </div>
</div>

<ng-template #buffPopover>
    <strong>Active Altar Effects</strong>
    <hr/>    
    <div [innerHtml]="getAltarEffects()"> 
    </div>   
</ng-template>