<div class="godGrid">
    <div *ngIf="character.assignedGod1 !== undefined && character.assignedGod1 !== noGod" class="god1"
        [ngClass]="lookupService.getGodColorClass(character.assignedGod1)"  (click)="goToGodDetails(1)">
        <span [ngClass]="{'buttonCursor': isButtonActive()}" customToolTip [contentTemplate]="god1Popover">
            <span class="s3Heading">{{getCharacterGodName(character, 1)}} </span>
            <span><strong>Lv {{getCharacterGodLevel(character, 1)}}</strong></span> <span class="levelUpAnimationText"
                [ngClass]="{'levelUpAnimation': showGod1LevelUpAnimation}">{{levelUpAnimationText}}</span></span>
        <div class="flex xpBarWidth" customToolTip [contentTemplate]="xp1Popover">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(1)" class="blue-progress characterBar xpHighBar">
            </mat-progress-bar>
        </div>
        <div *ngIf="character.assignedGod1 === godEnum.Apollo && godSpecificAbilityUnlocked(1)" class="flex xpBarWidth removeAnimation godAbility" (click)="manuallyTrigger(1)"
            (contextmenu)="toggleAuto(1)">
            <span *ngIf="!isGodSpecificAbilityAuto(1)" class="manualGodAbilityText">OFF</span>
            <mat-progress-bar mode="determinate" [value]="getGodSpecificProgressBar(1)"
                class="apolloProgressBarColor characterBar xpHighBar removeTransition"
                [ngClass]="{'manualGodAbility': !isGodSpecificAbilityAuto(1)}">
            </mat-progress-bar>
        </div>
    </div>

    <div *ngIf="character.assignedGod2 !== undefined && character.assignedGod2 !== noGod" class="god2"
        [ngClass]="lookupService.getGodColorClass(character.assignedGod2)"  (click)="goToGodDetails(2)">
        <span [ngClass]="{'buttonCursor': isButtonActive()}" customToolTip [contentTemplate]="god2Popover" class="s3Heading">{{getCharacterGodName(character, 2)}}
        </span>
        <span [ngClass]="{'buttonCursor': isButtonActive()}"><strong>Lv
                {{getCharacterGodLevel(character, 2)}}</strong> <span class="levelUpAnimationText"
                [ngClass]="{'levelUpAnimation': showGod2LevelUpAnimation}">{{levelUpAnimationText}}</span></span>
        <div class="flex xpBarWidth" customToolTip [isDelayed]="true" [contentTemplate]="xp2Popover">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(2)" class="blue-progress characterBar xpHighBar">
            </mat-progress-bar>
        </div>
        <div *ngIf="character.assignedGod2 === godEnum.Apollo && godSpecificAbilityUnlocked(2)" class="flex xpBarWidth removeAnimation godAbility" (click)="manuallyTrigger(2)"
            (contextmenu)="toggleAuto(2)">
            <span *ngIf="!isGodSpecificAbilityAuto(2)" class="manualGodAbilityText">OFF</span>
            <mat-progress-bar mode="determinate" [value]="getGodSpecificProgressBar(2)"
                class="apolloProgressBarColor characterBar xpHighBar removeTransition"
                [ngClass]="{'manualGodAbility': !isGodSpecificAbilityAuto(2)}">
            </mat-progress-bar>
        </div>
    </div>
</div>

<ng-template #god1Popover>
    <div>
        <div *ngIf="isGodPassiveUnlocked(1)">
            <span [innerHtml]="getGodPassiveDescription(1)"></span>
            <hr />
        </div>
        Click for details on God.
    </div>
</ng-template>

<ng-template #god2Popover>
    <div>
        <div *ngIf="isGodPassiveUnlocked(2)">
            <span [innerHtml]="getGodPassiveDescription(2)"></span>
            <hr />
        </div>
        Click for details on God.
    </div>
</ng-template>

<ng-template #xp1Popover>
    <div>
        Level {{getCharacterGodLevel(character, 1)}}
        <br />
        {{getGodExp(1) | number : '1.0-0'}} / {{getGodExpToNextLevel(1) | number : '1.0-0'}} XP to Level {{getCharacterGodLevel(character, 1) + 1}}
    </div>
</ng-template>

<ng-template #xp2Popover>
    <div>
        Level {{getCharacterGodLevel(character, 2)}}
        <br />
        {{getGodExp(2) | number : '1.0-0'}} / {{getGodExpToNextLevel(2) | number : '1.0-0'}} XP to Level {{getCharacterGodLevel(character, 2) + 1}}
    </div>
</ng-template>