<div class="godGrid">
    <div *ngIf="character.assignedGod1 !== undefined && character.assignedGod1 !== noGod" customToolTip
        [contentTemplate]="god1Popover" class="god1" [ngClass]="lookupService.getGodColorClass(character.assignedGod1)"><span class="s3Heading">{{getCharacterGodName(character, 1)}}
        </span>
        <span><strong>Lv {{getCharacterGodLevel(character, 1)}}</strong></span>
        <div class="flex xpBarWidth">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(1)" class="blue-progress characterBar">
            </mat-progress-bar>
        </div>
    </div>

    <div *ngIf="character.assignedGod2 !== undefined && character.assignedGod2 !== noGod" customToolTip
        [contentTemplate]="god2Popover" class="god2" [ngClass]="lookupService.getGodColorClass(character.assignedGod2)"><span class="s3Heading">{{getCharacterGodName(character, 2)}} </span>
        <strong><span>Lv
                {{getCharacterGodLevel(character, 2)}}</span></strong>
        <div class="flex xpBarWidth">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(2)" class="blue-progress characterBar">
            </mat-progress-bar>
        </div>
    </div>
</div>

<ng-template #god1Popover>
    <div>
        <span *ngIf="isGodPassiveUnlocked(1)">Passive: {{getGodPassiveDescription(1)}}</span>
        <hr />
        Click for details on God.
    </div>
</ng-template>

<ng-template #god2Popover>
    <div>
        <span *ngIf="isGodPassiveUnlocked(2)">Passive: {{getGodPassiveDescription(2)}}</span>
        <hr />
        Click for details on God.
    </div>
</ng-template>