.xpBarWidth {
    width: 75%;
}

.mat-progress-bar-element, .mat-progress-bar {
    height: .5rem !important;
  }

.godGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    grid-template-areas:
      "god1 god2";
}

.god1 {
    grid-area: god1;
}

.god2 {
    grid-area: god2;
}

.levelUpAnimationText {   
    margin-left: .5rem; 
    position: absolute;
    text-align: right;
    font-weight: bold;
    color: var(--positive-status-effect);    
    display: none;
}

.levelUpAnimation {
    display: inline-block;
    animation-name: levelUpAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes levelUpAnimation {    
    25% {        
        transform: scale(1.1);   
        opacity: 1;     
    }

    100% {
        transform: translate(0, -30px) scale(.5);        
        opacity: 0;
    }
}

.manualGodAbility {
    opacity: .3;
}

.manualGodAbilityText {
    position: absolute;
    z-index: 5;
    opacity: 1;
    text-align: center;
    width: 100%;
    bottom: .1rem;
    height: .6rem;
    font-size: .75rem;
    color: var(--foreground-default) !important;
    font-weight: bold;
}

.godAbility {
    position: relative;
}