<div class="godGrid">
    <div *ngIf="character.assignedGod1 !== undefined && character.assignedGod1 !== noGod" customToolTip
        [contentTemplate]="god1Popover" class="god1" [ngClass]="lookupService.getGodColorClass(character.assignedGod1)"><span class="s3Heading">{{getCharacterGodName(character, 1)}}
        </span>
        <span><strong>Lv {{getCharacterGodLevel(character, 1)}}</strong></span>
        <div class="flex xpBarWidth" customToolTip [isDelayed]="true" [contentTemplate]="xp1Popover">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(1)" class="blue-progress characterBar">
            </mat-progress-bar>
        </div>
    </div>

    <div *ngIf="character.assignedGod2 !== undefined && character.assignedGod2 !== noGod" customToolTip
        [contentTemplate]="god2Popover" class="god2" [ngClass]="lookupService.getGodColorClass(character.assignedGod2)"><span class="s3Heading">{{getCharacterGodName(character, 2)}} </span>
        <strong><span>Lv
                {{getCharacterGodLevel(character, 2)}}</span></strong>
        <div class="flex xpBarWidth" customToolTip [isDelayed]="true" [contentTemplate]="xp2Popover">
            <mat-progress-bar mode="determinate" [value]="getGodXpPercent(2)" class="blue-progress characterBar">
            </mat-progress-bar>
        </div>
    </div>
</div>

<ng-template #god1Popover>
    <div>
        <div *ngIf="isGodPassiveUnlocked(1)">
        <span [innerHtml]="getGodPassiveDescription(1)"></span>
        <hr />
    </div>
        Click for details on God.
    </div>
</ng-template>

<ng-template #god2Popover>
    <div>
        <div *ngIf="isGodPassiveUnlocked(2)" >
        <span [innerHtml]="getGodPassiveDescription(2)"></span>
        <hr />
        </div>
        Click for details on God.
    </div>
</ng-template>

<ng-template #xp1Popover>
    <div>
        Level {{getCharacterGodLevel(character, 1)}}
        <br />
        {{getGodExp(1)}} / {{getGodExpToNextLevel(1)}} XP to Level {{getCharacterGodLevel(character, 1) + 1}}
    </div>
</ng-template>

<ng-template #xp2Popover>
    <div>
        Level {{getCharacterGodLevel(character, 2)}}
        <br />
        {{getGodExp(2)}} / {{getGodExpToNextLevel(2)}} XP to Level {{getCharacterGodLevel(character, 2) + 1}}
    </div>
</ng-template>