<div class="loadoutsView">
    <div class="loadouts">
        <div class="info">
            <span class="s4Heading">Loadouts</span>

            <div class="options">
                <mat-checkbox class="example-margin" [(ngModel)]="unequipAll" (input)="unequipAllToggle()">Unequip All
                    Characters Before Swap
                </mat-checkbox>

            </div>
        </div>
        <hr />
        <div class="loadoutItem" *ngFor="let loadout of loadouts">
            <div class="loadoutInfo">
                <div class="loadoutName s2Heading smallCaps" [innerHtml]="loadout.name">
                </div>
                <div class="column">
                    <span class="smallCaps bold" [ngClass]="getClassColor(loadout, 1)"
                        [innerHtml]="getClassName(loadout, 1)"></span>
                    <br />
                    <span class="smallCaps bold" [ngClass]="getGodColor(loadout, 1, 1)"
                        [innerHtml]="getGodName(loadout, 1, 1)"></span>
                    <br />
                    <span class="smallCaps bold" [ngClass]="getGodColor(loadout, 1, 2)"
                        [innerHtml]="getGodName(loadout, 1, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character1WeaponEquipmentTemplate" [innerHTML]="getWeapon(loadout, 1)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character1ShieldEquipmentTemplate" [innerHTML]="getShield(loadout, 1)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character1ArmorEquipmentTemplate" [innerHTML]="getArmor(loadout, 1)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character1RingEquipmentTemplate" [innerHTML]="getRing(loadout, 1)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character1NecklaceEquipmentTemplate" [innerHTML]="getNecklace(loadout, 1)"></span>

                </div>
                <div class="column">
                    <span class="smallCaps bold" [ngClass]="getClassColor(loadout, 2)"
                        [innerHtml]="getClassName(loadout, 2)"></span>
                    <br />
                    <span class="smallCaps bold" [ngClass]="getGodColor(loadout, 2, 1)"
                        [innerHtml]="getGodName(loadout, 2, 1)"></span>
                    <br />
                    <span class="smallCaps bold" [ngClass]="getGodColor(loadout, 2, 2)"
                        [innerHtml]="getGodName(loadout, 2, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character2WeaponEquipmentTemplate" [innerHTML]="getWeapon(loadout, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character2ShieldEquipmentTemplate" [innerHTML]="getShield(loadout, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character2ArmorEquipmentTemplate" [innerHTML]="getArmor(loadout, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character2RingEquipmentTemplate" [innerHTML]="getRing(loadout, 2)"></span>
                    <br />
                    <span class="statValue" customToolTip [isDelayed]="true" [isLargeTooltip]="true"
                    [contentTemplate]="character2NecklaceEquipmentTemplate" [innerHTML]="getNecklace(loadout, 2)"></span>
                </div>
                <br />
                <br *ngIf="isMobile" />
                <div class="buttons">
                    <button class="buttonStyled" (click)="selectLoadout(loadout)" [disabled]="cannotChangeGodsOrClass()">Select</button>
                    <button class="buttonStyled" (click)="editLoadout(addLoadout, loadout)">Edit</button>
                    <button class="buttonStyled" (click)="deleteLoadout(deleteConfirmation, loadout)">Delete</button>
                </div>
            </div>


            <ng-template #character1WeaponEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character1EquipmentSet.weapon"
                    [associatedResource]="loadout.character1EquipmentSet.weapon?.associatedResource"
                    [character]="getCharacterFromType(loadout.character1)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character1ArmorEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character1EquipmentSet.armor"
                    [associatedResource]="loadout.character1EquipmentSet.armor?.associatedResource"
                    [character]="getCharacterFromType(loadout.character1)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character1ShieldEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character1EquipmentSet.shield"
                    [associatedResource]="loadout.character1EquipmentSet.shield?.associatedResource"
                    [character]="getCharacterFromType(loadout.character1)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character1RingEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character1EquipmentSet.ring"
                    [associatedResource]="loadout.character1EquipmentSet.ring?.associatedResource"
                    [character]="getCharacterFromType(loadout.character1)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character1NecklaceEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character1EquipmentSet.necklace"
                    [associatedResource]="loadout.character1EquipmentSet.necklace?.associatedResource"
                    [character]="getCharacterFromType(loadout.character1)"></app-equipment-item-view>
            </ng-template>

            <ng-template #character2WeaponEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character2EquipmentSet.weapon"
                    [associatedResource]="loadout.character2EquipmentSet.weapon?.associatedResource"
                    [character]="getCharacterFromType(loadout.character2)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character2ArmorEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character2EquipmentSet.armor"
                    [associatedResource]="loadout.character2EquipmentSet.armor?.associatedResource"
                    [character]="getCharacterFromType(loadout.character2)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character2ShieldEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character2EquipmentSet.shield"
                    [associatedResource]="loadout.character2EquipmentSet.shield?.associatedResource"
                    [character]="getCharacterFromType(loadout.character2)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character2RingEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character2EquipmentSet.ring"
                    [associatedResource]="loadout.character2EquipmentSet.ring?.associatedResource"
                    [character]="getCharacterFromType(loadout.character2)"></app-equipment-item-view>
            </ng-template>
            <ng-template #character2NecklaceEquipmentTemplate>
                <app-equipment-item-view [equipment]="loadout.character2EquipmentSet.necklace"
                    [associatedResource]="loadout.character2EquipmentSet.necklace?.associatedResource"
                    [character]="getCharacterFromType(loadout.character2)"></app-equipment-item-view>
            </ng-template>
        </div>
        <div [ngClass]="{'newLoadoutDisabled': atMaxLoadouts()}" customToolTip [isDelayed]="true" [tooltipDirection]="tooltipDirection"
        [contentTemplate]="addLoadoutTemplate" class="loadoutItem clickableText" (click)="addNewLoadout(addLoadout)">
            <img class="itemImage" [ngClass]="{'newLoadoutDisabled': atMaxLoadouts()}" src="assets/svg/emptyItemSlot.svg">
        </div>
    </div>
</div>


<ng-template #addLoadout>
    <app-add-loadout [ownDialogRef]="dialogRef" [mode]="mode" [existingLoadout]="existingLoadout"></app-add-loadout>
</ng-template>

<ng-template #deleteConfirmation>
    <app-confirmation-box [confirmationText]="deleteConfirmationText"></app-confirmation-box>
</ng-template>

<ng-template #itemMissingConfirmation>
    <app-confirmation-box [confirmationText]="itemMissingConfirmationText"
        [cancelOptionAvailable]="false"></app-confirmation-box>
</ng-template>

<ng-template #addLoadoutTemplate>
    <div *ngIf="!atMaxLoadouts()">
        Click or tap here to create a new loadout.
    </div>
    <div *ngIf="atMaxLoadouts()">
        You are at your maximum allotment of loadouts. Please edit an existing loadout or delete one to make room for a new loadout.
    </div>
</ng-template>