
table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    width: 25%;
    padding: 1rem;
    vertical-align: top;
  }

.flex {
    display: flex;
    justify-content: space-between;
}

.professionInfo {    
    display: grid;
    width: 100%;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        "traverseUp baseInfo traverseDown";
}
.traverseUp {
    grid-area: traverseUp;
}

.traverseDown {
    grid-area: traverseDown;
}

.baseInfo {
    text-align: center;
    grid-area: baseInfo;
}

.dropdownIcon {
    height: 1rem;
}