.altarGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 75% 15% 1fr;
    justify-content: stretch;
    grid-template-areas:
        "image"
        "text"
        "options";
}

.image {
    grid-area: image;
    margin: auto;
    height: 100%;
    width: 100%;
    
    border: 2px solid var(--background-default);
}

.text {
    grid-area: text;
    margin: auto;
}

.storyTextAnimation {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.options {
    grid-area: options;
    display: flex;
    justify-content: space-evenly;
}

.altarIcon {
    /*height: 15vh;*/
    height: 100%;
    width: 100%;
}

.hr {
    width: 100%;
}

.characterBar {
    /*margin-right: .5rem;*/
    display: inline-block;
    height: 2rem;
}

.characterTargeted:hover,
.targetModeActive {
    border: 2px solid red !important;
}

.threshold1, .threshold2, .threshold3 {
    width: 100%;
}

.mdc-linear-progress__bar-inner{
    height: 2rem !important;
    border-top-width: var(--mdc-linear-progress-track-height, 2rem);
}

.hpBarGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: stretch;
    column-gap: .5rem;
    grid-template-areas:
        "threshold1 threshold2 threshold3";
}

.threshold1 {
    grid-area: threshold1;
}

.threshold2 {
    grid-area: threshold2;
}

.threshold3 {
    grid-area: threshold3;
}