/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

.mat-checkbox-label {
  align-self: center;
}

.mdc-dialog__container {
  color: var(--foreground-default);
}

.mat-mdc-dialog-surface {
  padding: 1rem;
}

#dialogNoPadding .mat-mdc-dialog-surface {
  padding: 0 !important;
}

#dialogNoUpperPadding .mat-mdc-dialog-surface, #dialogNoUpperPadding2 .mat-mdc-dialog-surface {
  padding-top: 0 !important;
}

.mdc-linear-progress__bar-inner {
  left: 0;
}

.removeTransition .mdc-linear-progress__bar {
  transition: none !important;
}

.green-progress {
  --mdc-linear-progress-active-indicator-color: #07ba13;
}

.green-progress .mdc-linear-progress__buffer-bar {
  background-color: #012e04 !important;
}

.blue-progress {
  --mdc-linear-progress-active-indicator-color: #0828d1 !important;
}

.blue-progress .mdc-linear-progress__buffer-bar {
  background-color: #01082e !important;
}

.red-progress {
  --mdc-linear-progress-active-indicator-color: #c40e1d !important;
}

.red-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.purple-progress {
  --mdc-linear-progress-active-indicator-color: var(--alchemyColor) !important;
}

.purple-progress .mdc-linear-progress__buffer-bar {
  background-color: #381142 !important;
}

.jewelcrafting-progress {
  --mdc-linear-progress-active-indicator-color: var(--jewelcraftingColor) !important;
}

.jewelcrafting-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--jewelcraftingColor) !important;
  filter: brightness(50%);
}

.overdriveActive .mdc-linear-progress__buffer-bar {
  background-color: var(--overdriveColor) !important;
}

.barrier-progress {
  --mdc-linear-progress-active-indicator-color: var(--barrierColor) !important;
}

.barrier-progress .mdc-linear-progress__buffer-bar {
  background-color: transparent !important;
}

.barrier-progress .mat-progress-bar-background {
  display: none;
}


.adventurer-progress {
  --mdc-linear-progress-active-indicator-color: var(--adventurerColor) !important;
}

.adventurer-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.archer-progress {
  --mdc-linear-progress-active-indicator-color: var(--archerColor) !important;
}

.archer-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.warrior-progress {
  --mdc-linear-progress-active-indicator-color: var(--warriorColor) !important;
}

.warrior-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.priest-progress {
  --mdc-linear-progress-active-indicator-color: var(--priestColor) !important;
}

.priest-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.monk-progress {
  --mdc-linear-progress-active-indicator-color: var(--monkColor) !important;
}

.monk-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}

.thaumaturge-progress {
  --mdc-linear-progress-active-indicator-color: var(--thaumaturgeColor) !important;
}

.thaumaturge-progress .mdc-linear-progress__buffer-bar {
  background-color: #290609 !important;
}


.highBar .mdc-linear-progress__bar-inner {
  border-top-width: var(--mdc-linear-progress-track-height, 1rem);
}

.altarHighBar .mdc-linear-progress__bar-inner {
  border-top-width: var(--mdc-linear-progress-track-height, 2rem);
}

.xpHighBar .mdc-linear-progress__bar-inner {
  border-top-width: var(--mdc-linear-progress-track-height, .5rem);
}

:root {
  /* Colors */
  --foreground-secondary: #6E96B6;
  /* old: 6B8CA5 */
  --foreground-default: #A3B9CC;
  --foreground-tertiary: #49647A;
  --foreground-quaternary: #E5E5E5;
  --disabled-foreground-quaternary: #E5E5E584;
  --foreground-accent: #9E8F81;
  --foreground-light: #FFFFFF;
  --active-filter: #FFFFFF;
  --inactive-filter: #6A808A;
  --foreground-tooltip: #91afc7;

  /* 797C80 */
  --background-default: #41474D;
  /*--background-default: #;*/
  --background-header: #08090A;
  --kod-character: #08090A;
  --background-quarternary: #2A2C31;
  --background-five: #007bff;
  --background-light: #54595E;
  --transaction-color: #18612e;
  --button-background-color: #272b35;
  --recipe-button-background-color: #202020;
  --disabled-button-background-color: #272b3584;
  --disabled-recipe-button-background-color: #20202084;
  --button-color: #F0F0F0;
  --button-hover: #54595E;
  --button-selected: #1e2023;
  --section-header: #08090A;
  --primary-default: #5dfdcb;
  --primary-light: #b2ffe7;
  --xp-color: #608DFB;
  --alert-text: #25E825;

  --positive-status-effect: #24b286;
  --negative-status-effect: #E62B2D;

  --battle-update-text: #e0d01d;
  --battle-item-text: #05CF51;
  --change-location-text: #F9B86E;
  --tutorial-text: #13D001;

  --grayedOut-Text: #797c80;

  --adventurerColor: #DB7803;
  --archerColor: #12A901;
  --warriorColor: #0695FB;
  --priestColor: #D063EE;
  --monkColor: #edac82;
  /*#aca2fc;*/
  --thaumaturgeColor: #ffc100;

  --itemColor: #ffffff;
  --athenaColor: #7fbffa;
  --zeusColor: #fff30b;
  --aresColor: #EE665F;
  --apolloColor: #eda324;
  --poseidonColor: #00baa1;
  --hermesColor: #efefef;
  /*#faf9eb maybe instead */
  --artemisColor: #97BBB0;
  --hadesColor: #b58bf2;
  --dionysusColor: #B8E71E;
  --nemesisColor: #B88884;
  --heraColor: #91e9e5;
  --aphroditeColor: #F777AF;

  --holyColor: #d9dbbf;
  --lightningColor: #fff30b;
  --airColor: #ac9cff;
  --waterColor: #00baa1;
  --fireColor: #FE565C;
  --earthColor: #C0845D;

  --clearedSubzoneColor: #D67A38;
  --completedSubzoneColor: #debe0d;

  --basicEquipmentColor: #f0f0f0;
  --uncommonEquipmentColor: #B2B69A;
  --rareEquipmentColor: #4CB6FC;
  --epicEquipmentColor: #C49BF9;
  --specialEquipmentColor: #41c93c;
  --extraordinaryEquipmentColor: #F79721;
  --uniqueEquipmentColor: #FF6250;
  --alchemyColor: #CE66E9;
  --jewelcraftingColor: #ff9d00;
  --timeFragmentColor: #17A757;

  --resourceKeywordColor: #EAAD91;
  --insufficientResourcesKeywordColor: #7a818c;
  --coinColor: #C0C0C0;
  --chthonicFavorColor: #ABB5DC;
  --chthonicPowerColor: #83C2A6;
  --ambrosiaColor: #e3df96;
  --overdriveColor: #FA989E;
  --followerColor: #3DB6D1;
  --sidequestColor: #cc6f12;

  --thousandsColor: #EE6A07;
  --millionsColor: #52e361;
  --billionsColor: #dde868;
  --trillionsColor: #508FFE;
  --aaColor: #e3b352;
  --abColor: #BAB0BF;
  --acColor: #DCA5E2;
  --adColor: #FF6250;
  --aeColor: #B2B69A;
  --afColor: #f0f0f0;

  --barrierColor: #0FCCC6;
  --linkText: #DCA5E2;

  /* Shadows */
  --background-header-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);

  /* Fonts */
  --h1-size: 20vh;
  --h1-weight: 400;
  --h1-spacing: -1.5px;

  --h2-size: 3.75rem;
  --h2-weight: 400;
  --h2-spacing: -0.5px;

  --h3-size: 3rem;
  --h3-weight: 400;
  --h3-spacing: -0px;

  --h4-size: 2.125rem;
  --h4-weight: 400;
  --h4-spacing: -0.25px;

  --h5-size: 1.5rem;
  --h5-weight: 400;
  --h5-spacing: -0px;

  --h6-size: 1.25rem;
  --h6-weight: 700;
  --h6-spacing: -0.15px;

  --b1-size: 1rem;
  --b1-weight: 400;
  --b1-spacing: 0.5px;

  --b2-size: 0.875rem;
  --b2-weight: 400;
  --b2-spacing: 0.25px;

  --button-size: 0.875rem;
  --button-weight: 700;
  --button-spacing: 1.25px;

  --caption-size: 0.75rem;
  --caption-weight: 400;
  --caption-spacing: 0.4px;

  --overline-size: 0.625rem;
  --overline-weight: 400;
  --overline-spacing: 1.5px;

  --animal-list-max-columns: 4;

  --c1-size: 1.25rem;
  --c1-weight: 400;
  --c1-spacing: 0.15px;

  --c2-size: 0.875rem;
  --c2-weight: 700;
  --c2-spacing: 0.1px;

  --e2-size: 1.175rem;
  --e3-size: 1.025rem;
  --e4-size: 0.75rem;

  --s1-size: 3rem;
  --s1-weight: 600;
  --s1-spacing: 0.15px;

  --s2-size: 1.5rem;
  --s2-weight: 600;
  --s2-spacing: 0.1px;

  --s3-size: 1rem;
  --s3-weight: 600;
  --s3-spacing: 0.15px;

  --s4-size: 1.25rem;
  --s4-weight: 400;
  --s4-spacing: 0.1px;

  --s5-size: 1.15rem;
  --s5-weight: 400;
  --s5-spacing: 0.1px;

  --s6-size: 1.2rem;
  --s6-weight: 600;
  --s6-spacing: 0.15px;

  --s7-size: .9rem;
  --s7-weight: 600;
  --s7-spacing: 0.15px;

  /* Menu Buttons */
  --m1-size: 1.25rem;
  --m1-size-mobile: 1.2rem;
  --m1-weight: 550;
  --m1-spacing: 0.1px;

  --m2-size: 1.1rem;
  --m2-weight: 400;
  --m2-spacing: 0.1px;

  /* Zone Navigation */
  --z1-size: 1.1rem;
  --mz1-size: 1.4rem;
  --z1-weight: 400;
  --z1-spacing: 0.1px;

  --z2-size: 1.05rem;
  --mz2-size: 1.2rem;
  --z2-weight: 400;
  --z2-spacing: 0.1px;

  --z3-size: .935rem;
  --mz3-size: 1.1rem;
  --z3-weight: 400;
  --z3-spacing: 0.1px;

  --low-performance-ability-animation-color-row1: red;
  --low-performance-ability-animation-color-row2: red;
  --low-performance-ability-animation-color-row3: red;
  --low-performance-ability-animation-color-row4: red;
  --low-performance-ability-animation-color-row5: red;
  --low-performance-ability-animation-color-row6: red;
}

body {
  background: var(--background-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Candara", sans-serif;
  font-size: 2.2vmin;
  cursor: default;
}

.xpColor {
  color: var(--xp-color);
}

a {
  font-variant: small-caps;
  font-weight: bold;
}

a:visited {
  color: var(--foreground-accent);
}

a:hover {
  color: var(--foreground-secondary) !important;
}

a:link {
  color: var(--foreground-quaternary);
}

.setName {
  color: var(--foreground-accent);
}

.linkForeground {
  color: var(--foreground-quaternary);
}

* {
  font-family: "Candara", sans-serif !important;
}

@media (max-aspect-ratio: 4/3) and (min-width: 1151px) {

  html,
  body {
    font-size: 1.9vmin;
  }
}

@media (max-aspect-ratio: 3.6/3) and (min-width: 1151px) {

  html,
  body {
    font-size: 1.6vmin;
  }
}

@media (max-width: 1150px) and (min-width: 801px) {

  html,
  body {
    font-size: 1.45vmin;
  }
}

@media (max-width: 800px) {

  html,
  body {
    font-size: 3.07vmin;
  }
}

h1 {
  font-size: var(--h1-size);
}

.subHeading {
  font-size: var(--c1-size);
  font-weight: var(--c1-weight);
}

.s1Heading {
  font-size: var(--s1-size);
  font-weight: var(--s1-weight);
}

.s2Heading {
  font-size: var(--s2-size);
  font-weight: var(--s2-weight);
}

.s3Heading {
  font-size: var(--s3-size);
  font-weight: var(--s3-weight);
  font-variant: small-caps;
}

.s4Heading {
  font-size: var(--s4-size);
  font-weight: var(--s4-weight);
}

.s5Heading {
  font-size: var(--s5-size);
  font-weight: var(--s5-weight);
}

.s6Heading {
  font-size: var(--s6-size);
  font-weight: var(--s6-weight);
  font-variant: small-caps;
}

.s7Heading {
  font-size: var(--s7-size);
  font-weight: var(--s7-weight);
  font-variant: small-caps;
}

.sectionHeading {
  font-size: var(--s4-size);
  font-weight: bold;
  font-variant: small-caps;
  /*color:*/
}

.m1Heading {
  font-size: var(--m1-size);
  font-weight: var(--m1-weight);
}

.m2Heading {
  font-size: var(--m2-size);
  font-weight: var(--m2-weight);
}

.z1Heading {
  font-size: var(--z1-size);
  font-weight: var(--z1-weight);
}

.z2Heading {
  font-size: var(--z2-size);
  font-weight: var(--z2-weight);
}

.z3Heading {
  font-size: var(--z3-size);
  font-weight: var(--z3-weight);
}


/* designating h6 to be unset */
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

.accentColor {
  color: var(--foreground-accent);
}

.keyword {
  font-weight: 550;
}

.resourceKeyword {
  font-weight: 550;
  color: var(--resourceKeywordColor);
}

.insufficientResourcesKeyword {
  font-weight: 550;
  color: var(--insufficientResourcesKeywordColor);
}

.craftingMaterialKeyword {
  font-weight: 550;
  color: var(--craftingMaterialKeywordColor);
}

.chthonicFavorKeyword {
  font-weight: 550;
  color: var(--chthonicFavorColor);
}

.chthonicPowerKeyword {
  font-weight: 550;
  color: var(--chthonicPowerColor);
}

.ambrosiaKeyword {
  font-weight: 550;
  color: var(--ambrosiaColor);
}

.coinKeyword {
  font-weight: 550;
  color: var(--coinColor);
}

.baseWeight {
  font-weight: normal;
}

.crossed {
  text-decoration: line-through;
}

.centeredText {
  text-align: center;
}

.coloredText {
  font-weight: 550;
}

.aHrefStyledAsButton {
  background-color: var(--button-background-color);
  color: var(--foreground-quaternary);
  font-weight: bold;
  font-size: .95rem;
  padding: .1rem .5rem;
  margin: .1rem .2rem;
  border: solid 2px black;
  cursor: pointer;
}

.buttonStyled {
  background-color: var(--button-background-color);
  color: var(--foreground-quaternary);
  font-weight: bold;
  font-size: .95rem;
  padding: .1rem .5rem;
  margin: .1rem .2rem;
  border-style: solid;
}

.spanButtonStyled {
  background-color: var(--button-background-color);
  color: var(--foreground-quaternary);
  font-weight: bold;
  font-size: .95rem;
  padding: .1rem .5rem;
  margin: .1rem .2rem;
  border: solid 2px black;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallButtonStyled {
  padding: 0 .3rem !important;
  margin: .1rem .1rem !important;
}

.transactionButton {
  background-color: var(--transaction-color);
}

.smallMarginLeft {
  margin-left: .5rem !important;
}

.statValue {
  vertical-align: middle;
}

.topAligned {
  vertical-align: top;
}

.buttonStyled:hover,
.spanButtonStyled:hover {
  background-color: var(--button-hover);
}


button:active:enabled {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

@media (max-width: 800px) {
  button:hover:enabled {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
}

.tooltipIcon {
  color: var(--foreground-quaternary);
  border-radius: 25px;
  background: var(--background-five);
  padding: 0 .5rem;
  margin-right: .25rem;
}

.defaultTextColor {
  color: var(--foreground-default);
}

.selectedTextColor {
  color: var(--foreground-secondary);
}

.progressBarColor {
  color: #28a745;
}

.marginHr {
  width: 92.5%;
  opacity: .75;
}

.miniHr {
  width: 80%;
  opacity: .75;
}

.leftAlignedMiniHr {
  width: 70%;
  opacity: .75;
  margin-left: 0;
}

.tutorialActive {
  border: red 1px;
}

.screenMarginLeft {
  margin-left: 1rem;
}

.screenMarginRight {
  margin-right: 1rem;
}

.clickableText {
  cursor: pointer;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.helpText {
  cursor: help;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

.mat-progress-spinner circle {
  transition: none !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: unset;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: unset;
}

.battleUpdateText {
  color: var(--battle-update-text);
}

.battleItemText {
  color: var(--battle-item-text);
}

.changeLocationText {
  color: var(--change-location-text);
}

.alchemyText {
  color: var(--alchemyColor);
}

.jewelcraftingText {
  color: var(--jewelcraftingColor);
}

.timeFragmentText {
  color: var(--timeFragmentColor);
}

.overdriveText {
  color: var(--overdriveColor);
}

.followerText {
  color: var(--followerColor);
}

.sidequestText {
  color: var(--sidequestColor);
}

.thousandsNumber {
  color: var(--thousandsColor);
  font-weight: bold;
}

.millionsNumber {
  color: var(--millionsColor);
  font-weight: bold;
}

.billionsNumber {
  color: var(--billionsColor);
  font-weight: bold;
}

.trillionsNumber {
  color: var(--trillionsColor);
  font-weight: bold;
}

.aaNumber {
  color: var(--aaColor);
  font-weight: bold;
}

.abNumber {
  color: var(--abColor);
  font-weight: bold;
}

.acNumber {
  color: var(--acColor);
  font-weight: bold;
}

.adNumber {
  color: var(--adColor);
  font-weight: bold;
}

.aeNumber {
  color: var(--aeColor);
  font-weight: bold;
}

.afNumber {
  color: var(--afColor);
  font-weight: bold;
}

.tutorialText {
  font-weight: bold;
  font-style: italic;
  color: var(--tutorial-text);
}

.screenMargin {
  margin: .3rem;
}

.holyColor {
  color: var(--holyColor);
}

.lightningColor {
  color: var(--lightningColor);
}

.fireColor {
  color: var(--fireColor);
}

.airColor {
  color: var(--airColor);
}

.waterColor {
  color: var(--waterColor);
}

.earthColor {
  color: var(--earthColor);
}

.adventurerColor {
  color: var(--adventurerColor);
  stroke: var(--adventurerColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--adventurerColor) !important;
}

.archerColor {
  color: var(--archerColor);
  stroke: var(--archerColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--archerColor) !important;
}

.warriorColor {
  color: var(--warriorColor);
  stroke: var(--warriorColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--warriorColor) !important;
}

.priestColor {
  color: var(--priestColor);
  stroke: var(--priestColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--priestColor) !important;
}

.monkColor {
  color: var(--monkColor);
  stroke: var(--monkColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--monkColor) !important;
}

.thaumaturgeColor {
  color: var(--thaumaturgeColor);
  stroke: var(--thaumaturgeColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--thaumaturgeColor) !important;
}

.itemColor {
  color: var(--itemColor);
  stroke: var(--itemColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--itemColor) !important;
}

.athenaColor {
  color: var(--athenaColor);
  stroke: var(--athenaColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--athenaColor) !important;
}

.zeusColor {
  color: var(--zeusColor);
  stroke: var(--zeusColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--zeusColor) !important;
}

.artemisColor {
  color: var(--artemisColor);
  stroke: var(--artemisColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--artemisColor) !important;
}

.apolloColor {
  color: var(--apolloColor);
  stroke: var(--apolloColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--apolloColor) !important;
}

.apolloProgressBarColor {
  --mdc-linear-progress-active-indicator-color: var(--apolloColor) !important;
}

.apolloProgressBarColor .mdc-linear-progress__buffer-bar {
  background-color: #382402 !important;
}

.poseidonColor {
  color: var(--poseidonColor);
  stroke: var(--poseidonColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--poseidonColor) !important;
}

.aresColor {
  color: var(--aresColor);
  stroke: var(--aresColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--aresColor) !important;
}

.hermesColor {
  color: var(--hermesColor);
  stroke: var(--hermesColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--hermesColor) !important;
}

.hadesColor {
  color: var(--hadesColor);
  stroke: var(--hadesColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--hadesColor) !important;
}

.dionysusColor {
  color: var(--dionysusColor);
  stroke: var(--dionysusColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--dionysusColor) !important;
}

.dionysusProgressBarColor {
  --mdc-linear-progress-active-indicator-color: var(--dionysusColor) !important;
}

.dionysusProgressBarColor .mdc-linear-progress__buffer-bar {
  background-color: var(--dionysusColor) !important;
  filter: brightness(50%);
}

.nemesisColor {
  color: var(--nemesisColor);
  stroke: var(--nemesisColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--nemesisColor) !important;
}

.aphroditeColor {
  color: var(--aphroditeColor);
  stroke: var(--aphroditeColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--aphroditeColor) !important;
}

.heraColor {
  color: var(--heraColor);
  stroke: var(--heraColor) !important;
  --mdc-circular-progress-active-indicator-color: var(--heraColor) !important;
}

.heraProgressBarColor {
  --mdc-linear-progress-active-indicator-color: var(--heraColor) !important;
}

.heraProgressBarColor .mdc-linear-progress__buffer-bar {
  background-color: var(--heraColor) !important;
  filter: brightness(50%);
}

.unclearedSubzoneColor {
  color: var(--foreground-default);
}

.clearedSubzoneColor {
  color: var(--clearedSubzoneColor) !important;
}

.completedSubzoneColor {
  color: var(--completedSubzoneColor) !important;
}

.basicEquipment {
  color: var(--basicEquipmentColor);
}

.uncommonEquipment {
  color: var(--uncommonEquipmentColor);
}

.rareEquipment {
  color: var(--rareEquipmentColor);
}

.epicEquipment {
  color: var(--epicEquipmentColor);
}

.specialEquipment {
  color: var(--specialEquipmentColor);
}

.extraordinaryEquipment {
  color: var(--extraordinaryEquipmentColor);
}

.uniqueEquipment {
  color: var(--uniqueEquipmentColor);
}

.hide {
  display: none !important;
}

.buttonAsText {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: var(--foreground-default);
}

.buttonAsTextNoColor {
  background: none !important;
  border: none;
  padding: 0 !important;
}

.buttonAsText.active {
  color: var(--foreground-tertiary);
}

.buttonAsText:hover,
.buttonAsText:focus,
.buttonAsText:active,
.buttonAsText:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

.buttonAsTextKeepColor {
  background: none !important;
  border: none;
  padding: 0 !important;
}

.buttonAsTextKeepColor:hover,
.buttonAsTextKeepColor:focus,
.buttonAsTextKeepColor:active,
.buttonAsTextKeepColor:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

.clickableText {
  cursor: pointer;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textCentered {
  text-align: center;
}

.textRightAligned {
  text-align: right;
}

.textLeftAligned {
  text-align: left;
}

.pageHeader {
  font-variant: small-caps;
}

.cdk-overlay-pane {
  overflow: auto;
}

.mat-dialog-no-scroll .mat-dialog-container {
  overflow: hidden;
}

.removeAnimation div .mat-progress-bar-fill {
  transition: none !important;
}

.mdc-circular-progress__determinate-circle {
  transition: none !important;
}

button {
  cursor: pointer;
}

#dialogNoPadding {
  padding: 0px;
}

#dialogNoUpperPadding {
  padding-top: 0px;
}

#dialogNoUpperPadding2 {
  padding-top: 0px;
}

.positiveStatusEffectColor {
  color: var(--positive-status-effect);
}

.noMargin {
  margin: 0;
}

.sectionHeaderText {
  color: var(--foreground-quaternary);
  background-color: var(--section-header);
  padding: 0 1rem;
}

.sectionInfo {
  margin-top: .3rem;
  margin-left: .25rem;
}

.mainPageSectionHeader {
  font-variant: small-caps;
  font-weight: bold;
}

.smallCaps {
  font-variant: small-caps;
}

.statLabel {
  font-variant: small-caps;
  vertical-align: middle;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.subzoneClickableItem {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.subzoneClickableItem:hover {
  cursor: pointer;
  color: var(--foreground-secondary);
  text-decoration: underline;
}

.storyCharacterName {
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.2rem;
}

.barrierText {
  color: var(--barrierColor);
}

.athena-progress {
  --mdc-linear-progress-active-indicator-color: var(--athenaColor) !important;
}

.athena-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--athenaColor) !important;
  filter: brightness(50%);
}

.artemis-progress {
  --mdc-linear-progress-active-indicator-color: var(--artemisColor) !important;
}

.artemis-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--artemisColor) !important;
  filter: brightness(50%);
}

.hermes-progress {
  --mdc-linear-progress-active-indicator-color: var(--hermesColor) !important;
}

.hermes-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--hermesColor) !important;
  filter: brightness(50%);
}

.apollo-progress {
  --mdc-linear-progress-active-indicator-color: var(--apolloColor) !important;
}

.apollo-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--apolloColor) !important;
  filter: brightness(50%);
}

.ares-progress {
  --mdc-linear-progress-active-indicator-color: var(--aresColor) !important;
}

.ares-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--aresColor) !important;
  filter: brightness(50%);
}

.zeus-progress {
  --mdc-linear-progress-active-indicator-color: var(--zeusColor) !important;
}

.zeus-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--zeusColor) !important;
  filter: brightness(50%);
}

.poseidon-progress {
  --mdc-linear-progress-active-indicator-color: var(--poseidonColor) !important;
}

.poseidon-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--poseidonColor) !important;
  filter: brightness(50%);
}

.hades-progress {
  --mdc-linear-progress-active-indicator-color: var(--hadesColor) !important;
}

.hades-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--hadesColor) !important;
  filter: brightness(50%);
}

.dionysus-progress {
  --mdc-linear-progress-active-indicator-color: var(--dionysusColor) !important;
}

.dionysus-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--dionysusColor) !important;
  filter: brightness(50%);
}

.nemesis-progress {
  --mdc-linear-progress-active-indicator-color: var(--nemesisColor) !important;
}

.nemesis-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--nemesisColor) !important;
  filter: brightness(50%);
}

.aphrodite-progress {
  --mdc-linear-progress-active-indicator-color: var(--aphroditeColor) !important;
}

.aphrodite-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--aphroditeColor) !important;
  filter: brightness(50%);
}

.hera-progress {
  --mdc-linear-progress-active-indicator-color: var(--heraColor) !important;
}

.hera-progress .mdc-linear-progress__buffer-bar {
  background-color: var(--heraColor) !important;
  filter: brightness(50%);
}

.amountAvailable {
  font-variant: normal !important;
}

.keybind {
  font-weight: bold;
}

.charmDescriptor {
  font-weight: bold;
}

.commonCharacterText {
  font-weight: bold;
  color: var(--foreground-accent);
}

button:disabled {
  color: var(--disabled-foreground-quaternary);
  background-color: var(--disabled-button-background-color);
}

.bold {
  font-weight: bold;
}

.fading {
  -webkit-animation: fadingAnimation .55s forwards;
  animation: fadingAnimation .55s forwards;
}

.sceneDiv {
  margin-bottom: .575rem;
}

.smallStoryText {
  font-size: 1rem;
}

.smallEquipmentText {
  font-size: .92rem;
}

.verySmallEquipmentText {
  font-size: .825rem;
}

.mat-radio-checked .mat-radio-inner-circle {
  background-color: var(--foreground-accent);
}

.unactivatedSetBonus {
  opacity: .6;
}

.unactivatedSetColor {
  color: var(--foreground-tertiary);
}

.shiftDown {
  transform: translateY(15%) !important;
  overflow: hidden;
}

.linkText {
  font-size: .85rem;
  text-align: center;
  color: var(--linkText);
}

@keyframes fadingAnimation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@media (max-width: 800px) {
  html {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overscroll-behavior: none;
  }

  body {
    overscroll-behavior: none;
  }

  .storyCharacterName {
    font-size: 1.4rem;
  }

  .storyBar .mdc-linear-progress__bar-inner {
    border-top-width: var(--mdc-linear-progress-track-height, .5rem);
  }

  .m1Heading {
    font-size: var(--m1-size-mobile);
  }
}