<div class="gridContainer">
    <div class="headerArea">
        <app-header></app-header>
    </div>
    <div class="mainArea screenMargin">
        <div class="defaultDisplayGrid" *ngIf="navigation === navigationEnum.Default">
            <app-party class="partyArea"></app-party>            
            <app-battle class="battleArea"></app-battle>            
            <app-zone-navigation class="navArea"></app-zone-navigation>
        </div>
        <div class="menu" *ngIf="navigation === navigationEnum.Menu">
            <app-equipment-view></app-equipment-view>
        </div>
    </div>
    <div class="footerArea">
        <app-footer></app-footer>
    </div>
</div>