<div class="gridContainer">
    <div class="headerArea">
        <app-header></app-header>
    </div>
    <div class="mainArea">
        <div class="defaultDisplayGrid"> <!--ngif default view-->
            <app-party class="partyArea"></app-party>            
            <app-battle class="battleArea"></app-battle>            
            <app-zone-navigation class="navArea"></app-zone-navigation>
        </div>
    </div>
    <div class="footerArea">
        <app-footer></app-footer>
    </div>
</div>