<!-- web version -->
<div *ngIf="!isMobile" class="gridContainer webVersion">
    <div *ngIf="isGamePaused && viewingBattle && showPauseMessage" class="absolutePositionedMiddle bold smallCaps textCentered"><span class="s4Heading bold">game paused</span><br/><i>click play in the header to resume</i></div>
    <div class="headerArea">
        <app-header [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }"></app-header>
    </div>
    <div class="mainArea"
        [ngClass]="{'screenMargin': navigation !== navigationEnum.Menu && !storyService.triggerFirstTimeUnderworldScene && !storyService.endFirstTimeUnderworldScene }">
        <div class="mainContainer"
            [ngClass]="{ 'hide': lookupService.isUIHidden, 'darken': storyService.triggerFirstTimeUnderworldScene, 'lighten': storyService.endFirstTimeUnderworldScene }">
            <div class="defaultDisplayGrid" *ngIf="navigation === navigationEnum.Default">
                <app-party class="partyArea"
                    [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene || storyService.endFirstTimeUnderworldScene }"></app-party>
                <app-battle class="battleArea"
                    [ngClass]="{ 'hide': (storyService.triggerFirstTimeUnderworldScene && !storyService.showFirstTimeUnderworldStory) || storyService.endFirstTimeUnderworldScene, 'dark': storyService.showFirstTimeUnderworldStory }"></app-battle>
                <app-zone-navigation class="navArea"
                    [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene || storyService.endFirstTimeUnderworldScene }"></app-zone-navigation>
            </div>
            <div class="defaultMenuGrid" *ngIf="navigation === navigationEnum.Menu">
                <app-menu-options class="menuOptions"></app-menu-options>
                <app-menu-display class="menuDisplay screenMargin"></app-menu-display>
            </div>
        </div>
        <div class="loadingContainer" *ngIf="lookupService.isUIHidden">
            <div>
                <div class="centeredText">
                    <span class="s1Heading">Loading...</span>
                    <br />
                    <mat-progress-bar mode="determinate" class="green-progress barHeight xpHighBar loadingBar removeTransition removeAnimation" [value]="getLoadingPercent()">
                    </mat-progress-bar>
                </div>
                <br/>
                <div class="centeredText">
                    <i>Up to {{getActiveTimeAmount()}} minutes of away time is automated. You can adjust the length of automated away time in the settings.</i>
                </div>
                <div *ngIf="displayFunFacts">
                    <br/>
                    <br/>
                    <div class='centeredText' [innerHtml]="getFunFact()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerArea">
        <app-footer [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }"></app-footer>
    </div>
</div>


<!-- mobile version -->
<div *ngIf="isMobile" class="gridContainer mobileVersion">
    <!--<div *ngIf="isGamePaused && showPauseMessage && viewingBattle" class="absolutePositionedMiddle bold smallCaps textCentered"><span class="s4Heading bold">game paused</span><br/><i>click play in the header to resume</i></div>-->
    <div class="headerArea">
        <app-header [isMobile]="true" [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene }"></app-header>
    </div>
    <div class="mainArea" (click)="closeMobileMenu()"
        [ngClass]="{'screenMargin': navigation !== navigationEnum.Menu && !storyService.triggerFirstTimeUnderworldScene && !storyService.endFirstTimeUnderworldScene }">
        <div class="mainContainer"
            [ngClass]="{ 'hide': lookupService.isUIHidden, 'darken': storyService.triggerFirstTimeUnderworldScene, 'lighten': storyService.endFirstTimeUnderworldScene }">
            <div [ngClass]="{'storyDisplayGrid': isAtStoryScene(), 'defaultDisplayGrid': !isAtStoryScene()}" *ngIf="navigation === navigationEnum.Default">
                <app-battle class="battleArea" [isMobile]="true"
                    [ngClass]="{ 'hide': (storyService.triggerFirstTimeUnderworldScene && !storyService.showFirstTimeUnderworldStory) || storyService.endFirstTimeUnderworldScene, 'dark': storyService.showFirstTimeUnderworldStory }"></app-battle>
                <app-quick-view class="quickLinks" [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene || storyService.endFirstTimeUnderworldScene || isAtStoryScene() }"></app-quick-view>
                <app-party class="partyArea" [isMobile]="true"
                    [ngClass]="{ 'hide': storyService.triggerFirstTimeUnderworldScene || storyService.endFirstTimeUnderworldScene || isAtStoryScene() }"></app-party>                                
            </div> 
            <div class="defaultMenuGrid" *ngIf="navigation === navigationEnum.Menu">
                <app-menu-display [isMobile]="true" class="menuDisplay screenMargin"></app-menu-display>
            </div>
        </div>
        <div class="loadingContainer" *ngIf="lookupService.isUIHidden">
            <div>
                <div class="centeredText">
                    <span class="s1Heading">Loading...</span>
                    <br />
                    <mat-progress-bar mode="determinate" class="green-progress barHeight xpHighBar mobileLoadingBar removeTransition removeAnimation" [value]="getLoadingPercent()">
                    </mat-progress-bar>
                </div>
                <br/>
                <div class="centeredText">
                    <i>Up to {{getActiveTimeAmount()}} minutes of away time is automated. You can adjust the length of automated away time in the settings.</i>
                </div>
                <div *ngIf="displayFunFacts">
                    <br/>
                    <br/>
                    <div class='centeredText' [innerHtml]="getFunFact()"></div>
                </div>
            </div>
        </div>
    </div>    
</div>