.gridContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4% 92% 4%;
  justify-content: stretch;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  background-color: var(--background-default);
  color: var(--foreground-default);
}

.defaultDisplayGrid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    "party battle nav";
}

.defaultMenuGrid {
  display: grid;
  gap: .5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    "menuOptions menuDisplay";
}

.mainArea {
  grid-area: main;
  justify-self: stretch;

  background-color: var(--background-default);
  color: var(--foreground-default);

  overflow: auto;
}

.battleArea {
  grid-area: battle;
  justify-self: stretch;

  background-color: var(--background-default);
  color: var(--foreground-default);

  overflow: auto;
}

.navArea {
  grid-area: nav;
  justify-self: stretch;

  background-color: var(--background-default);
  color: var(--foreground-default);
}

.partyArea {
  grid-area: party;
  justify-self: stretch;

  background-color: var(--background-default);
  color: var(--foreground-default);
}

.footerArea {
  grid-area: footer;
  justify-self: stretch;

  background-color: var(--background-header);
  color: var(--foreground-quaternary);
}

.headerArea {
  grid-area: header;
  justify-self: stretch;

  background-color: var(--background-header);
  color: var(--foreground-quaternary);
}

.menuOptions {
  grid-area: menuOptions;
}

.menuDisplay {
  grid-area: menuDisplay;
}

.mainView {
  height: 100%;
  background-color: var(--background-default);
  border-color: var(--background-header);
  color: var(--foreground-default);
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}

.modalClass {
  white-space: pre-line;

  background-color: var(--background-default);
  border-color: var(--background-header);
  color: var(--foreground-default);
}

.rightAlign {
  float: right;
}

.spaced {
  margin-left: .5em;
}

.spaceBetween {
  justify-content: space-between !important;
}

.hide {
  display: none;
}

.mainContainer {
  height: 100%;
}

.dark {
  background-color: var(--background-header);
}

.darken {  
  background-color: var(--background-header);
  -webkit-animation: fade 3s forwards;    
  animation: fade 3s forwards;
}

.lighten {
  background-color: var(--background-header);
  -webkit-animation: reverseFade 6s forwards;    
  animation: reverseFade 6s forwards;
}

.loadingContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  0% {opacity: 0%}
  100% {opacity: 100%}
}

@keyframes reverseFade {
  0% {opacity: 100%}
  100% {opacity: 0%}
}


.barHeight {
  height: .5rem;
}

.loadingBar {
  max-width: 20vw;
  margin: auto;
}

.mobileVersion {
  display: none;
}

@media (max-width: 800px) {
  .mobileVersion {
    display: grid;
  }

  .webVersion {
    display: none;
  }
  
  .quickLinks {
    grid-area: quickLinks;
  }

  .gridContainer {
    width: 100vw;
    height: 100%;      
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 95%;
    justify-content: stretch;
    grid-template-areas:
      "header"
      "main";
  }

  .defaultDisplayGrid {
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 45% 5% 50%;
    justify-content: stretch;
    grid-template-areas:
      "battle"
      "quickLinks"
      "party";
  }
}