
<div class="resourceContainer" (mouseover)="shouldShowTooltip(true)" (mouseleave)="shouldShowTooltip(false)">
    <span #spanElement class="spanElement" (click)="setTrackingResource()">
        <span class="bold">{{getPluralizedItemName(resource)}}:</span> {{lookupService.getResourceAmount(resource) | number}}
    </span>
    <app-custom-tooltip class="absolute" [ngClass]="{'flipToolTip': flipToolTip}" *ngIf="showTooltip" [isFlippedLeft]="flipToolTip" [elementRef]="spanElementRef" [isSticky]="true" [text]="lookupService.getResourceDescription(resource)"></app-custom-tooltip>
</div>
        