.absolute {
    position: absolute;
    width: 100%;
    min-width: 20vw;
}

.resourceContainer {
    position: relative;
    width: 100%;
    min-width: 10vw;
}

.spanElement {
    min-width: 10vw;
    display: inline-block;
}

.flipToolTip {
    transform: translateX(-150%);
    z-index: 100;
}