<div class="centeredText mainPageSectionHeader">
    <span class="s2Heading">Trials</span>
</div>
<div class="container">
    <div class="overflowable column column1">
        <div class="listList">
            <div class="listBackground">
                <div class="tournamentGrid">
                    <div class="standardTournaments">
                        <div class="tournamentSectionTitle">
                            <span class="smallCaps tournamentSection">standard</span>
                            <hr class="tournamentSectionEnder" />
                        </div>
                        <div *ngFor="let trial of trials; let i = index" (click)="chooseTrial(trial)"
                            class="listItem" [ngClass]='getTrialNameColor(trial)' (keydown.enter)="$event.preventDefault()">
                            <button class="buttonAsText clickableText listItemButton" (keydown.enter)="$event.preventDefault()"
                                [ngClass]='getTrialNameColor(trial)' [innerHtml]="getTrialName(trial)"></button>
                            <hr class="noMargin" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'vr': !isMobile}">
        <hr [ngClass]="{'vrHr': !isMobile, 'mobileDivider': isMobile}" />
    </div>
    <div class="column column2">
        <div *ngIf="selectedTrial !== undefined">
            <div *ngIf="isTrialOfResolve()">
                <strong><span class="s4Heading smallCaps" [innerHtml]="getTrialName()"></span></strong>
                <br />
                <br />
                <span [innerHtml]="getTrialOfResolveDescription()"></span>
                <hr />
                <div>
                    <span><b>Current Stage:</b> {{getTrialOfResolveStage()}}</span>
                    <br />
                    <div *ngFor="let enemy of resolveEnemies">
                        <span class="smallCaps bold" customToolTip
                            [tooltipDirection]="tooltipDirection" [contentTemplate]="enemyPopover">
                            {{enemy.name}}
                            <ng-template #enemyPopover>
                                <app-enemy-description-view [character]="enemy"></app-enemy-description-view>
                            </ng-template>
                        </span>
                    </div>
                    <br/>
                    <span><b>Reward: </b> <span [innerHTML]="getTrialOfResolveReward()"></span></span>
                    <hr />
                    <div>
                        <br />
                        <br />
                        <button class="buttonStyled" (click)="startTrial()">Start Trial</button>
                    </div>
                </div>
            </div>
            <div *ngIf="isTrialOfTheStars()">
                <strong><span class="s4Heading smallCaps" [innerHtml]="getTrialName()"></span></strong>
                <br />
                <br />
                <span [innerHtml]="getTrialOfTheStarsDescription()"></span>
                <hr />
                <div>
                    <div *ngFor="let enemy of starsEnemies">
                        <span class="smallCaps bold" customToolTip
                            [tooltipDirection]="tooltipDirection" [contentTemplate]="enemyPopover">
                            {{enemy.name}}
                            <ng-template #enemyPopover>
                                <app-enemy-description-view [character]="enemy"></app-enemy-description-view>
                            </ng-template>
                        </span>
                    </div>
                    <hr />
                    <div>
                        <br />
                        <br />
                        <button class="buttonStyled" (click)="startTrial()">Start Trial</button>
                        <br />
                        <div class='flexAround'>
                            <mat-checkbox [(ngModel)]="repeatStarTrialFight" (input)="repeatStarTrialFightToggle()">
                                Repeat Trial
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isTrialOfSkill()">
                <strong><span class="s4Heading smallCaps" [innerHtml]="getTrialName()"></span></strong>
                <br />
                <br />
                <span [innerHtml]="getTrialDescription()"></span>
                <hr />
                <div>
                    <span>Current Trial:

                        <span class="smallCaps bold" [ngClass]="getGodColorClass(getTrialBossName())"
                            [innerHtml]="getTrialBossName()" customToolTip [tooltipDirection]="tooltipDirection"
                            [contentTemplate]="enemyPopover"></span>
                        <ng-template #enemyPopover>
                            <app-enemy-description-view
                                [character]="getEnemyTrialBossWithScaledStats()"></app-enemy-description-view>
                        </ng-template>
                    </span>
                    <br />
                    <span><i>New trial in <span [innerHtml]="getRemainingPreferredGodTime()"></span></i></span>
                    <hr />
                    <div>
                        <br />
                        <br />
                        <button class="buttonStyled" (click)="startTrial()">Start Trial</button>
                        <br />
                        <div class='flexAround'>
                            <mat-checkbox [(ngModel)]="repeatTrialFight" (input)="repeatTrialFightToggle()">
                                Repeat Trial
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>