<div class="centeredText mainPageSectionHeader">
    <span class="s2Heading">Coliseum</span>
</div>
<div class="container">
    <div class="overflowable column column1">
        <div class="listList">
            <div class="listBackground">
                <div class="tournamentGrid">
                    <div class="standardTournaments">
                        <div class="tournamentSectionTitle">
                            <!--<button (click)="toggleQualitySection(qualityType)" class="buttonStyled smallButtonStyled recipeSectionToggle">{{hideRecipesByQuality(qualityType) ? "+" : "-"}}</button> -->
                            <span class="smallCaps tournamentSection">standard</span>
                            <hr class="tournamentSectionEnder" />
                        </div>
                        <div *ngFor="let tournament of standardColiseumTournaments; let i = index"
                            (click)="chooseColiseumTournament(tournament)" class="listItem"
                            [ngClass]='getColiseumNameColor(tournament)' (keydown.enter)="$event.preventDefault()">
                            <button class="buttonAsText clickableText listItemButton"
                                (keydown.enter)="$event.preventDefault()" [ngClass]='getColiseumNameColor(tournament)'
                                [innerHtml]="getTournamentName(tournament)"></button>
                            <hr class="noMargin" />
                        </div>
                    </div>
                    <div *ngIf="getSpecialColiseumTournaments().length > 0" class="specialTournaments">
                        <div class="tournamentSectionTitle">
                            <!--<button (click)="toggleQualitySection(qualityType)" class="buttonStyled smallButtonStyled recipeSectionToggle">{{hideRecipesByQuality(qualityType) ? "+" : "-"}}</button> -->
                            <span class="smallCaps tournamentSection">special</span>
                            <hr class="tournamentSectionEnder" />
                        </div>
                        <div *ngFor="let tournament of getSpecialColiseumTournaments(); let i = index"
                            (click)="chooseColiseumTournament(tournament)" class="listItem"
                            (keydown.enter)="$event.preventDefault()"
                            [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}">
                            <button class="buttonAsText clickableText listItemButton"
                                (keydown.enter)="$event.preventDefault()"
                                [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}"
                                [innerHtml]="getTournamentName(tournament)"></button>
                            <hr class="noMargin" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'vr': !isMobile()}">
        <hr [ngClass]="{'vrHr': !isMobile(), 'mobileDivider': isMobile()}" />
    </div>
    <div class="column column2">
        <div *ngIf="selectedTournament !== undefined">
            <strong><span class="s4Heading smallCaps" [innerHtml]="getTournamentName()"></span></strong>
            <br />
            <br />
            <span [innerHtml]="getTournamentDescription()"></span>
            <hr />
            <div *ngIf="!isSelectedTournamentWeeklyMelee() && !isSelectedTournamentFriendlyCompetition()">
                <span><strong>DPS Required To Complete:</strong> {{getRequiredDpsForSelectedTournament()}}</span>
                <hr />
                <div>
                    <div [ngClass]="{'rewardAlreadyObtained': firstTimeRewardAlreadyObtained()}">
                        <strong>First Time Completion Reward: </strong> <br /> <span
                            [innerHtml]='getFirstTimeCompletionRewards()'></span>
                    </div>
                    <br />
                    <div [ngClass]="{'rewardAlreadyObtained': quickCompletionRewardAlreadyObtained()}">
                        <strong>90 Second Completion Reward: </strong> <br /> <span
                            [innerHtml]='getQuickCompletionRewards()'></span>
                    </div>
                    <br />
                    <br />
                    <button class="buttonStyled" (click)="startTournament()">Start Tournament</button>
                    <br />
                    <div *ngIf="firstTimeRewardAlreadyObtained()" class='flexAround'>
                        <mat-checkbox [(ngModel)]="repeatColiseumFight" (input)="repeatColiseumFightToggle()">
                            Repeat Coliseum Fight Indefinitely
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div *ngIf="isSelectedTournamentFriendlyCompetition()">
                <span><strong>Battle Code</strong></span>
                <div class="importExportDiv">
                    <textarea *ngIf="!isMobile()" (focus)="inTextbox()" (blur)="outOfTextbox()" id="importExport"
                        name="importExport" rows="7" [(ngModel)]="battleData"></textarea>
                    <textarea *ngIf="isMobile()" (focus)="inTextbox()" (blur)="outOfTextbox()" id="importExport"
                        name="importExport" rows="5" [(ngModel)]="battleData"></textarea>
                    <div class="importExportButtons">
                        <button class="buttonStyled" (click)="startFriendlyCompetition()">
                            Start Battle
                        </button>
                        <button class="buttonStyled" (click)="exportBattleData()">
                            Export
                        </button>
                        <br/>
                        <button class="buttonStyled" (click)="startFriendlyCompetitionFromFile()">
                            Start Battle from File
                        </button>
                        <button class="buttonStyled" (click)="exportBattleDataToFile()">
                            Export to File
                        </button>
                        <br/>
                        <input type='file' class="spaced" id="fileUpload" (change)="fileChanged($event)">                        
                    </div>
                    <br />
                </div>
            </div>
            <div *ngIf="isSelectedTournamentWeeklyMelee()">
                <span><strong>Entries Remaining:</strong> {{getWeeklyEntries()}} / {{getWeeklyEntryCap()}}</span><br
                    *ngIf="getHighestWeeklyMeleeRoundCompleted() > 0" />
                <span *ngIf="getHighestWeeklyMeleeRoundCompleted() > 0"><strong>Highest Round Completed:</strong>
                    {{getHighestWeeklyMeleeRoundCompleted()}}</span><br />
                <hr />
                <div>
                    <span>Gain increasing XP, Item, and Coin rewards the further you progress!</span>
                    <br />
                    <br />
                    <button class="buttonStyled" (click)="openModal(eternalMeleeRewardsModal)">View Rewards</button>
                    <br />
                    <br />
                    <button class="buttonStyled" [disabled]="!canEnterWeeklyMelee()" (click)="startTournament()">Start
                        Tournament</button>
                    <br />
                    <button *ngIf="!canEnterWeeklyMelee() && transactionEnabled" class="buttonStyled transactionButton"
                        (click)="openTransactionModal()">Purchase Eternal Melee Tickets</button>
                    <br />
                    <div [ngClass]="{'flexAround': !isMobile()}">
                        <mat-checkbox [(ngModel)]="repeatColiseumFight" (input)="repeatColiseumFightToggle()">
                            Repeat Eternal Melee Until Out Of Tickets
                        </mat-checkbox>
                        <br />
                        <mat-checkbox [(ngModel)]="automateEternalMelee" (input)="automateEternalMeleeToggle()">
                            Automate Eternal Melee
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #eternalMeleeRewardsModal>
        <span>Enemies will not give XP, Coins, or Items like normal. Instead, you will gain XP and Coins based on how
            many rounds you complete. The further you progress, the more you will gain. In addition, you will gain an
            item reward after each boss fight.</span>
        <br />
        <br />
        <div class="eternalMeleeRewards flexAround">
            <div class="column">
                <div class="smallCaps bold">first completion</div>
                <br/>
                <span [ngClass]='isRoundComplete(10)'>Completing Round 10: +2 Followers</span>
                <br />
                <span [ngClass]='isRoundComplete(20)'>Completing Round 20: +1 Dark Orb</span>
                <br />
                <span [ngClass]='isRoundComplete(30)'>Completing Round 30: <span class="specialEquipment bold">Hermes's Staff</span></span>
            </div>
            <div class="vr">
                <hr class="vrHr" />
            </div>
            <div class="column">
                <div class="bold smallCaps">every attempt</div>
                <br/>
                Completing Round 5: +10-50 Basic Crafting Materials
                <br />
                Completing Round 10: +30-70 Rough Gem Fragments
                <br />
                Completing Round 15: +25-100 Metal Scraps
                <br />
                Completing Round 20: +25-150 Chthonic Favor
                <br />
                Completing Round 25: +30-70 Uncommon Crafting Materials
                <br />
                Completing Round 30: +200 Rough Gem Fragments
                <br />
                Completing Round 35: +100K Coins
                <br />
                Completing Round 40: +60-130 Rare Crafting Materials
                <br />
                Completing Round 45: +50-200 Metal Nuggets
                <br />
                Every successive boss fight: +250 Rutile Gem Fragments
                <br /><br />
            </div>
        </div>
        <div class="bold textCentered"><i>Rewards will continue to be adjusted as future content is added to the game</i></div>

        <div class="textCentered">
            <button class="buttonStyled" (click)="closeDialog()">Close</button>
        </div>
        <!--<app-confirmation-box [cancelOptionAvailable]="false" [confirmationText]="rewardsText"></app-confirmation-box>-->
    </ng-template>

    <ng-template #confirmationBox>
        <app-confirmation-box [confirmationText]="confirmationText"></app-confirmation-box>
    </ng-template>

    <ng-template #purchaseBox>
        <app-confirmation-box [confirmationText]="transactionConfirmationText"></app-confirmation-box>
    </ng-template>