<div class="centeredText mainPageSectionHeader">
    <span class="s2Heading">Coliseum</span>
</div>
<div class="container">
    <div class="overflowable column">
        <div class="listList">
            <div class="listBackground">
                <div class="tournamentGrid">
                    <div class="standardTournaments">
                        <div class="tournamentSectionTitle">
                            <!--<button (click)="toggleQualitySection(qualityType)" class="buttonStyled smallButtonStyled recipeSectionToggle">{{hideRecipesByQuality(qualityType) ? "+" : "-"}}</button> -->
                            <span class="smallCaps tournamentSection">standard</span>
                            <hr class="tournamentSectionEnder" />
                        </div>
                        <div *ngFor="let tournament of getStandardColiseumTournaments(); let i = index"
                            (click)="chooseColiseumTournament(tournament)" class="listItem"
                            [ngClass]='getColiseumNameColor(tournament)'>
                            <button class="buttonAsText clickableText listItemButton"
                                [ngClass]='getColiseumNameColor(tournament)'
                                [innerHtml]="getTournamentName(tournament)"></button>
                            <hr class="noMargin" />
                        </div>
                    </div>
                    <div *ngIf="getSpecialColiseumTournaments().length > 0" class="specialTournaments">
                        <div class="tournamentSectionTitle">
                            <!--<button (click)="toggleQualitySection(qualityType)" class="buttonStyled smallButtonStyled recipeSectionToggle">{{hideRecipesByQuality(qualityType) ? "+" : "-"}}</button> -->
                            <span class="smallCaps tournamentSection">special</span>
                            <hr class="tournamentSectionEnder" />
                        </div>
                        <div *ngFor="let tournament of getSpecialColiseumTournaments(); let i = index"
                            (click)="chooseColiseumTournament(tournament)" class="listItem"
                            [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}">
                            <button class="buttonAsText clickableText listItemButton"
                                [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}"
                                [innerHtml]="getTournamentName(tournament)"></button>
                            <hr class="noMargin" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vr">
        <hr class="vrHr" />
    </div>
    <div class="column column2">
        <div *ngIf="selectedTournament !== undefined">
            <strong><span class="s4Heading smallCaps" [innerHtml]="getTournamentName()"></span></strong>
            <br />
            <br />
            <span [innerHtml]="getTournamentDescription()"></span>
            <hr />
            <div *ngIf="!isSelectedTournamentWeeklyMelee()">
                <span><strong>DPS Required To Complete:</strong> {{getRequiredDpsForSelectedTournament()}}</span>
                <hr />
                <div>
                    <div [ngClass]="{'rewardAlreadyObtained': firstTimeRewardAlreadyObtained()}">
                        <strong>First Time Completion Reward: </strong> <br /> <span
                            [innerHtml]='getFirstTimeCompletionRewards()'></span>
                    </div>
                    <br />
                    <div [ngClass]="{'rewardAlreadyObtained': quickCompletionRewardAlreadyObtained()}">
                        <strong>90 Second Completion Reward: </strong> <br /> <span
                            [innerHtml]='getQuickCompletionRewards()'></span>
                    </div>
                    <br />
                    <br />
                    <button class="buttonStyled" (click)="startTournament()">Start Tournament</button>
                    <br />
                    <div *ngIf="firstTimeRewardAlreadyObtained()" class='flexAround'>
                        <mat-checkbox [(ngModel)]="repeatColiseumFight" (input)="repeatColiseumFightToggle()">
                            Repeat Coliseum Fight Indefinitely
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div *ngIf="isSelectedTournamentWeeklyMelee()">
                <span><strong>Entries Remaining:</strong> {{getWeeklyEntries()}} / {{getWeeklyEntryCap()}}</span><br
                    *ngIf="getHighestWeeklyMeleeRoundCompleted() > 0" />
                <span *ngIf="getHighestWeeklyMeleeRoundCompleted() > 0"><strong>Highest Round Completed:</strong>
                    {{getHighestWeeklyMeleeRoundCompleted()}}</span><br />
                <hr />
                <div>
                    <span>Gain increasing XP, Item, and Coin rewards the further you progress!</span>
                    <br />
                    <br />
                    <button class="buttonStyled" (click)="openModal(eternalMeleeRewardsModal)">View Rewards</button>
                    <br />
                    <br />
                    <button class="buttonStyled" [disabled]="!canEnterWeeklyMelee()" (click)="startTournament()">Start
                        Tournament</button>
                    <br />
                    <div class='flexAround'>
                        <mat-checkbox [(ngModel)]="repeatColiseumFight" (input)="repeatColiseumFightToggle()">
                            Repeat Coliseum Fight Until Out Of Tickets
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #eternalMeleeRewardsModal>
        <app-confirmation-box [cancelOptionAvailable]="false" [confirmationText]="rewardsText"></app-confirmation-box>
    </ng-template>