.container {
    display: flex;    
    height: 40vh;
    margin: 1rem;
    background-color: var(--background-quarternary);
    color: var(--foreground-default);
    padding: .5rem;
}

.vr {
    display: flex;
    height: auto;
}

.overflowable {
    overflow-y: auto;
}


.vrHr {
    margin: 0 1rem;
    padding: 0;
    height: auto;
}

.column {
    width: 100%;
}

.column2 {
    text-align:center;
}

.mainPageSectionHeader {
    margin-top: .5rem;
    color: #FFF;
}

.listItem {
    cursor: pointer;
}

.listItemButton {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: .25rem;
    margin-top: .5rem;
    font-variant: small-caps;
    font-weight: bold;
}

.listItem:hover {
    background-color: var(--button-hover);    
}
.active {
    background-color: var(--button-selected) !important;
    color: var(--foreground-secondary) !important;
}

.activeText {
    color: var(--foreground-secondary) !important;
}

.rewardAlreadyObtained {
    text-decoration: line-through;
}