<div class="centeredText mainPageSectionHeader">
    <span class="s2Heading">Coliseum</span>
</div>
<div class="container">
    <div class="overflowable column">
        <div class="listList">
            <div class="listBackground">
                <div *ngFor="let tournament of getColiseumTournaments(); let i = index"
                    (click)="chooseColiseumTournament(tournament)" class="listItem"
                    [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}">
                    <button class="buttonAsText clickableText listItemButton"
                        [ngClass]="{'active': selectedTournament !== undefined && selectedTournament.type === tournament}"
                        [innerHtml]="getTournamentName(tournament)"></button>
                    <hr class="noMargin" />
                </div>
            </div>
        </div>
    </div>
    <div class="vr">
        <hr class="vrHr" />
    </div>
    <div class="column column2">
        <div *ngIf="selectedTournament !== undefined">
            <strong><span class="s4Heading smallCaps" [innerHtml]="getTournamentName()"></span></strong>
            <br />
            <br />
            <span [innerHtml]="getTournamentDescription()"></span>
            <hr />
            <span><strong>DPS Required To Complete:</strong> {{getRequiredDpsForSelectedTournament()}}</span>
            <hr/>
            <div>
                <div [ngClass]="{'rewardAlreadyObtained': firstTimeRewardAlreadyObtained()}">
                    <strong>First Time Completion Reward: </strong> <span [innerHtml]='getFirstTimeCompletionRewards()'></span>
                </div>
                <div  [ngClass]="{'rewardAlreadyObtained': quickCompletionRewardAlreadyObtained()}">
                    <strong>Quick Completion Reward: </strong> <span [innerHtml]='getQuickCompletionRewards()'></span>
                </div>
                <br />
                <br />
                <button (click)="startTournament()">Start Tournament</button>
            </div>
        </div>
    </div>
</div>